@charset "utf-8";

.center_message_wrapper_450
{
	border-top: 1px solid #d7d7d7;	
    width:450px;
	height: 118px;
	margin:0 auto;
	background-image:url(/images/thank_bg.jpg);
	background-repeat:repeat-x;	
}

.thank_bg_450{
	width:450px;
	height:118px;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;
	background-image:url(/images/thank_page_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	
}

.center_message_450
{
	margin:0 auto;
	padding:0;
	text-align:center;

	height:118px;	
	background-image:url(/images/thank_page_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;		
}

.center_message_450 h1
{
	padding-top: 30px;
	color: #ffffff;
	font-weight: bold;
	font-size: 36px;
}

/*-------------960 grid system style -----------------------*/

.container_12_450 {
	/*width: 960px;*/
	width:450px;
	margin-right: auto;
	margin-left: auto;
	
}

.grid_1_450,
.grid_2_450,
.grid_3_450,
.grid_4_450,
.grid_5_450,
.grid_6_450,
.grid_7_450,
.grid_8_450,
.grid_9_450,
.grid_10_450,
.grid_11_450,
.grid_12_450 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.container_12_450 .grid_3_450
{
	width: 190px;
}

.container_12_450 .grid_5_450 {
	width: 220px;
}

.container_12_450 .grid_6_450 {
	width: 430px;
}

.clearfix_450:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .clearfix_450 {
	height: 1%;
}
