
/****************
#logo {
	margin: 20px 0 0 10px; float:left; width: 145px; height: 50px;
	background: url(/images/city-blast_logo.png);
}


.followers_wrapper {
	width: 600px;
	height: 50px;
	float:left;
	text-align:center;
	margin: 20px 0 20px 50px;
}
.followers {
	display: inline-block;
	padding: 10px;
	margin: 0 auto;
	width: auto;
	height: 30px;
	/*width: auto;*
	background-color: #fff;
	-moz-box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px #ccc;
	box-shadow: 0 0 15px #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	behavior: url(/css/PIE.htc);
}
.followers_number {
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	display: inline-block;
	margin: 0 5px;
}
.followers_message {
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-weight: 600;
	line-height: 28px;
	font-size: 16px;
	color: #333333;
	display: inline-block;
	margin: 0;	
	text-align: left;
	border-top: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
	vertical-align: top!important;
} ***************/