.feedback {
    margin: 0 2px 0 0;
}
.feedback .commentsForm {
    background-color: transparent;
    background-color: rgba(190, 190, 190, .2);
    border: solid #E9E9E9;
    padding: 7px 10px 7px 69px;
    position: relative;
    border-width: 1px 0;
}

.feedback .commentsForm .profile{
    background-color: #DDD;
    margin: 2px 0 0 0;
    padding: 0 !important;
    position: absolute;
    left: 10px;
}

.feedback .commentsForm .textbox textarea {
    border-width: 0;
    border: 1px solid;
    padding: 3px;
    width: 99%;
    border-color: #899BC5;
    resize: none;
    overflow: hidden;
    color: #777;
    margin-bottom: 3px;
}

.feedback .commentsForm:after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}

.feedback .uiButtonFB {
    float: right;
    margin-top: 3px;
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yn/r/zHNGLEeoCs0.png);
background-repeat: no-repeat;
background-position: 0 -294px;
background-color: #5B74A8;
border-color: #29447E #29447E #1A356E;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
cursor: pointer;
display: inline-block;
font-size: 11px;
font-weight: bold;
line-height: normal !important;
padding: 4px;
text-align: center;
color: #fff;
}


.uiSelector .uiSelectorButton {
    vertical-align: top;
}

.postToProfile {
    margin-top: 3px;
    font-size: 11px;
    width: 200px;
    float: left;
}

.postToProfile input[type="checkbox"] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

.postToProfile label.desc {
    font-weight: normal;
    cursor: pointer;
    color: #666;
    font-weight: bold;
    vertical-align: top;
    margin-top: -1px;
}

.postingAs {
    float: right;
    width: 170px;
    font-size: 12px;
    color: gray;
    margin-top: 3px;
    
}