

/*---------------------------------*/
/*	DASHBOARD					*/
/*---------------------------------*/
.dashboard {	
	background-image: 			url(/images/dashboard_bg.png);
	-ms-box-shadow: 			0 0 2px #999999;
	-o-box-shadow: 			0 0 2px #999999;
	-moz-box-shadow: 			0 0 2px #999999;
	-webkit-box-shadow: 		0 0 2px #999999;
	box-shadow: 				0 0 2px #999999;
	margin-bottom:				45px;
}
.dashboardMenuWrapper {
	float:					left;
	padding:					0 0 20px 0;
	width:					250px;
	position: 				relative;
	z-index: 					3;
}

.dashboardMenu {
	border-bottom:				solid 1px #f2f2f2;
}
.dashboardMenu a {
	float: 					left;
	margin: 					0;
	padding: 					0 12px 0 20px;
	font-size: 				16px;
	font-weight: 				bold;
	line-height: 				48px;
	text-decoration: 			none;
	color: 					#666666;
	text-shadow: 				1px 1px 0px #fff;
	border:					none;
	border-top:				solid 1px #f2f2f2;
	border-bottom:				solid 1px #ccc;
	background-color: 			#e6e6e6;
	position: 				relative;
	z-index:					1;
	width:					217px;
	outline: none;
}
.dashboardMenu a:first-child {
	border-left: 				none;
}
.dashboardMenu a:last-child {
	-moz-border-radius: 		0;
	-webkit-border-radius: 		0;
	border-radius: 			0;
}
.dashboardMenu a:hover {
	background-color: 			#d9d9d9;
	color:					#333333
}
.dashboardMenu a img {
	float:					left;
	margin:					10px 5px 0 0;
	filter:					alpha(opacity=70);
	-khtml-opacity:			0.7;
	-moz-opacity:				0.7;
	opacity:					0.7;
}
.dashboardMenu a:hover img {
	filter:					alpha(opacity=100);
	-khtml-opacity:			1;
	-moz-opacity:				1;
	opacity:					1;
}
.dashboardMenu a.active, .dashboardMenu a.active:hover {
	line-height:				50px;
	color: 					#ffffff;
	text-shadow: 				-1px -1px 0px #333;
	border:					none;
	padding: 					0 20px;
	margin:					0 0 -1px;
	background:				url(/images/dashboard_activetab_bg.png);
	width:					225px;
	z-index:					2;
	cursor:					default;
}
.dashboardMenu a.active img {
	background-image:			url(/images/icons-white-24.png);
	filter:					alpha(opacity=100);
	-khtml-opacity:			1;
	-moz-opacity:				1;
	opacity:					1;
}

.dashboardMenu a .notification{
	padding: 6px 8px 8px 8px;
	line-height: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color: #e6e6e6;
	margin-top: 12px;
	background-color: #a9a9a9;
	font-weight: normal;
	font-size: 15px;
	vertical-align: top;
	position: absolute;
	right: 12px;
	top: 0;
	behavior: url('/css/PIE.htc');
        text-shadow: none;
}

.dashboardMenu a.active .notification{
    right: 28px;
	color: #333;
	background-color: #ededed;
}

.dashboardMenu a .notification.unread{
	background-color: #ff0000;
	color: #fff;
}

.dashboardPhoto {
	float:					left;
	position:					relative;
	margin-left:				-70px;
	width:					50px;
	height:					50px;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
	border-radius: 			5px 5px 5px 5px;
	border:					solid 1px #ccc;
	background:				#e5e5e5;
	padding:					4px;
}

.dashboardContent {
}

.dashboardContentContainer {
	float:					left;
	padding:					0 20px;
	width:					710px;
	position: 				relative;
	z-index: 					2;
}

.dashboardSection {
	font-size:				30px;
	line-height:				40px;
	text-shadow:				1px 1px 0px #fff;
	background:				#f7f7f7;
	border-bottom:				solid 1px #ebebeb;
	margin:					30px -20px 20px;
	padding:					10px 20px;
	width: 710px;
	font-weight: 600;
}
.dashboardSection.refer {
	background:				#c1e2f0;
	border-bottom:				solid 1px #95c9e1;
}

.dashboardSection:first-child {
	margin:					0 0px 20px -20px;
}

.dashboardContent .uiButton {
	background:				none;
	height:					24px;
	line-height:				24px;
	font-size:				14px!important;
	padding:					8px 10px;
	border:					none!important;
}
.dashboardContent input.uiButton {
	height:					40px;
}
.dashboardContent input.uiButton .uiIcon {
	margin:					8px 0;
}
.dashboardContent .uiButton.small {
	background:				none;
	height:					18px;
	line-height:				18px;
	font-size:				13px!important;
	padding:					3px 5px;
	border:					none!important;
}
.dashboardContent input.uiButton.small {
	height:					24px;
	line-height:				24px;
}
.dashboardContent input.uiButton.small .uiIcon {
	margin:					3px 0;
}
.dashboardContent .uiButton,
.dashboardContent .uiButton.small {
	color:					#ffffff;
	background:				#004ecc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow:				-1px -1px 0 #18458c;
	font-size:				16px;
	font-style:				normal;
	-ms-box-shadow: 			none;
	-o-box-shadow: 			none;
	-moz-box-shadow: 			none;
	-webkit-box-shadow: 		none;
	box-shadow: 				none;
	text-align: center;
}
.dashboardContent *.uiButton:hover,
.dashboardContent *.uiButton.small:hover {
	color:					#ffffff;
	background:				#0062ff;
	text-shadow:				-1px -1px 0 #18458c;
	-ms-box-shadow: 			none;
	-o-box-shadow: 			none;
	-moz-box-shadow: 			none;
	-webkit-box-shadow: 		none;
	box-shadow: 				none;
}
.dashboardContent .uiButton.red,
.dashboardContent .uiButton.red.small {
	color:					#ffffff;
	text-shadow:				-1px -1px 0 #660000;
	background:				#cc0000;
}
.dashboardContent .uiButton.red:hover,
.dashboardContent .uiButton.red.small:hover {
	color:					#ffffff;
	text-shadow:				-1px -1px 0 #660000;
	background:				#e50000;
}
.dashboardContent .uiButton.green,
.dashboardContent .uiButton.green.small {
	color:					#ffffff;
	text-shadow:				-1px -1px 0 #00662a;
	background:				#009940;
}
.dashboardContent .uiButton.green:hover,
.dashboardContent .uiButton.green.small:hover {
	color:					#ffffff;
	text-shadow:				-1px -1px 0 #00662a;
	background:				#008035;
}
.dashboardContent .uiButton.aux,
.dashboardContent .uiButton.aux.small {
	color:					#ffffff;
	text-shadow:				-1px -1px 0 #656565;
	background:				#878787;
}
.dashboardContent .uiButton.aux:hover,
.dashboardContent .uiButton.aux.small:hover {
	color:					#ffffff;
	text-shadow:				-1px -1px 0 #3e9ac0;
	background:				#63c0e6;
}

ul.dashboardForm, 
ul.dashboardForm li, 
ul.dashboardForm li ul {
	padding: 					0;
	margin: 					0;
	list-style-type: 			none;
}
ul.dashboardForm {
	margin: 					20px 0!important;
	width: 					710px;
	background:				url(/images/form_bg.png) -150px 51px repeat-y;
	-moz-border-radius: 		8px;
	-webkit-border-radius: 		8px;
	border-radius: 			8px 8px 8px 8px;
	-ms-box-shadow:			0 0 5px #999;
	-o-box-shadow:				0 0 5px #999;
	-moz-box-shadow:			0 0 5px #999;
	-webkit-box-shadow:			0 0 5px #999;
	box-shadow:				0 0 5px #999;
	height:					auto;
}
ul.dashboardForm li.dashboardRowHeader + li.dashboardRow {
	padding-top:				15px;
}
ul.dashboardForm li.dashboardRowHeader + li.dashboardRow li.dashboardFieldname,
ul.dashboardForm li.dashboardRowHeader + li.dashboardRow li.dashboardField {
	background:				none!important;
}
ul.dashboardForm.smallFieldname {
	background:				url(/images/form_bg.png) -250px bottom repeat-y;
}
.dashboardRowHeader {
	font-size: 				21px;
	font-family: 				myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-weight: 				600;
	line-height: 				51px;
	text-decoration:			none;
	padding: 					0 20px!important;
	width: 					670px;
	font-size: 				21px;
	text-shadow: 				1px 1px 0px #fff;
	color: 					#000;
	border-bottom: 			solid 1px #fbfbfb;
	background-color:			#fbfbfb;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#e0e0e0, EndColorStr=#fbfbfb);
	background-image:			-webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(100%, #fbfbfb));
	background-image:			-moz-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			-ms-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			-o-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			-webkit-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			linear-gradient(to bottom, #e0e0e0	 0, #fbfbfb 100%);
	position: 				relative;
	-moz-border-radius: 		8px 8px 0 0;
	-webkit-border-radius: 		8px 8px 0 0;
	border-radius: 			8px 8px 0 0;
}
.dashboardRowHeader:first-child {
	-moz-border-radius: 		8px 8px 0 0;
	-webkit-border-radius: 		8px 8px 0 0;
	border-radius: 			8px 8px 0 0;
}

/* Tabbed Dashboard Section */
ul.dashboardTabbedForm {
	margin: 					20px 0!important;
	width: 					710px;
	background:				none!important;
	-moz-border-radius: 		0;
	-webkit-border-radius: 		0;
	border-radius: 			0 0 0 0;
	-ms-box-shadow:			none!important;
	-o-box-shadow:				none!important;
	-moz-box-shadow:			none!important;
	-webkit-box-shadow:			none!important;
	box-shadow:				none!important;
	height:					auto;
}
ul.dashboardTabbedForm > li:first-child {
	position:					relative;
	z-index:					2;
	margin:					0 -5px;
	padding:					13px 5px 0;
	overflow:					hidden;
	height:					52px;
}
ul.dashboardTabbedForm > li:last-child {
	background:				url(/images/form_bg.png) -150px top repeat-y;
	-moz-border-radius: 		0 8px 8px 8px;
	-webkit-border-radius: 		0 8px 8px 8px;
	border-radius: 			0 8px 8px 8px;
	-ms-box-shadow:			0 0 5px #999;
	-o-box-shadow:				0 0 5px #999;
	-moz-box-shadow:			0 0 5px #999;
	-webkit-box-shadow:			0 0 5px #999;
	box-shadow:				0 0 5px #999;
	position:					relative;
	z-index:					1;
	padding-top:				15px;
}
ul.dashboardTabbedForm > li:last-child > ul > li {
	background:				none;
}

.publishTabContainer{
}
.publishTabContainer .publishTab{
	font-size: 				21px;
	font-family: 				myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-weight: 				600;
	line-height: 				51px;
	text-shadow: 				-1px -1px 0px #000;
	text-decoration:			none;
	text-align:				center;
	color: 					#ffffff;
	padding: 					0 20px!important;
	border-bottom: 			solid 1px #000000;
	background-color:			#c00;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#999999, EndColorStr=#666666);
	background-image:			-webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(100%, #666666));
	background-image:			-moz-linear-gradient(top, #999999 0, #666666 100%);
	background-image:			-ms-linear-gradient(top, #999999 0, #666666 100%);
	background-image:			-o-linear-gradient(top, #999999 0, #666666 100%);
	background-image:			-webkit-linear-gradient(top, #999999 0, #666666 100%);
	background-image:			linear-gradient(to bottom, #999999	 0, #666666 100%);
	position: 				relative;
	-ms-box-shadow:			0 0 5px #999;
	-o-box-shadow:				0 0 5px #999;
	-moz-box-shadow:			0 0 5px #999;
	-webkit-box-shadow:			0 0 5px #999;
	box-shadow:				0 0 5px #999;
	-moz-border-radius: 		8px 8px 0 0;
	-webkit-border-radius: 		8px 8px 0 0;
	border-radius: 			8px 8px 0 0;
	display:					inline-block;
	margin-right:				2px;
}

.publishTabContainer .publishTab:hover {
}
.publishTabContainer .publishTab.selected {
	padding: 					0 10px!important;	
	font-size: 				21px;
	text-shadow: 				1px 1px 0px #fff;
	color: 					#000;
	border-bottom: 			solid 1px #fbfbfb;
	background-color:			#fbfbfb;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#e0e0e0, EndColorStr=#fbfbfb);
	background-image:			-webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(100%, #fbfbfb));
	background-image:			-moz-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			-ms-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			-o-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			-webkit-linear-gradient(top, #e0e0e0 0, #fbfbfb 100%);
	background-image:			linear-gradient(to bottom, #e0e0e0	 0, #fbfbfb 100%);
}
.publishTabContainer .publishTab.selected span {
	border-bottom:				solid 1px #ededed;
	display:					inline-block;
	padding: 					0 10px!important;	
}

.publishTabContainer .publishTab:first-child{
}

.publishTabContainer .publishTab span.someclass {
	height: 24px;
	width: 24px;
	display: inline-block;
	margin-right: 10px;
	background: url('/images/icons-darkgray-24.png') -570px -150px no-repeat;
	vertical-align: bottom;
}

.publishTabContainer .publishTab.off span{
	background-position: -570px -180px;
}

.publishTabContent{
	position: relative;
	min-height: 185px;
}

.publishTabContent > ul{
	display: none;
	width: 100%;
}

.publishTabContent.facebook > ul.facebook,
.publishTabContent.fanpage > ul.fanpage,
.publishTabContent.twitter > ul.twitter,
.publishTabContent.linkedIn > ul.linkedIn{
	display: block;
}

.dashboardRow {
	width: 					710px;
}
.dashboardRow:last-child {
	-moz-border-radius: 		0 0 8px 8px;
	-webkit-border-radius: 		0 0 8px 8px;
	border-radius: 			0 0 8px 8px;
}
.dashboardForm .info {
	line-height: 				20px;
	width: 					710px;
	padding: 					10px;
	float: 					left;
}
.dashboardForm .buttons {
	width: 					670px;
	padding: 					10px 20px;
	float: 					left;
}
.dashboardForm .buttons .uiButton {
	margin-left: 				5px;
}
.dashboardFieldname {
	width: 					160px;
	padding: 					12px 20px 10px!important;
	float: 					left;
	font-family: 				myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-size: 				16px;
	font-weight: 				400;
	color: 					#333333;
	background: 				url(/images/form_divider.png) no-repeat;
}
ul.dashboardForm.smallFieldname .dashboardFieldname {
	width: 					60px;
}
.fieldnameThumb {
	width:					150px;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
	border-radius: 			5px 5px 5px 5px;
	border:					solid 1px #ccc;
	background:				#e5e5e5;
	padding:					4px;
	margin:					10px 0;
}
ul.dashboardForm.smallFieldname .fieldnameThumb {
	width:					50px;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
	border-radius: 			5px 5px 5px 5px;
	border:					solid 1px #ccc;
	background:				#e5e5e5;
	padding:					4px;
}
.fieldnameThumb img {
	-moz-border-radius: 		4px;
	-webkit-border-radius: 		4px;
	border-radius: 			4px 4px 4px 4px;
}

.dashboardField {
	width: 					470px;
	padding: 					12px 20px 10px!important;
	float: 					left;
	background: 				url(/images/form_divider.png) no-repeat;
}
ul.dashboardForm.smallFieldname .dashboardField {
	width: 					570px;
}

.dashboardRow:first-child .dashboardFieldname,
.dashboardRow:first-child .dashboardField {
	background: 				none;
}


.dashboardField span.label {
	float: 					left;
	margin: 					0 20px 0 10px;
	line-height: 				30px;
	font-size: 				12px;
}

/*** setting tab, content setting style starts ***/

.dashboardMenu a .notification.red{
    background-color: #ff2c29;
    color: #fff;
    border-radius: 3px
}

ul.contentSettings.dashboardForm{
    background: none;
}
.dashboardRowHeader .notification{
    font-size: 12px;
    color: #fff;
    background-color: #ff2c29;
    padding: 4px 7px;
    border-radius: 3px;
    text-shadow: none;
    margin-left: 15px;
}
.contentSettings .dashboardRowHeader{
    border-bottom: 1px solid #ededed;
}
.dashboardRow > form{
    padding: 0 20px;
}
.dashboardRow > form > p{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    color: #000;
}
ul.settings{
    background: none;
}
ul.settings li {
    float: left;
    width: 208px;
    margin-left: 23px;
}
ul.settings li:first-child {
    margin-left: 0;
}
ul.settings .uiButton {
    float: right;
}
ul.settings input.uiButton {
    float: right;
}
ul.settings h4 {
    margin-bottom: 0;
    font-size: 16px;
    color: #000;
}
ul.settings p{
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
    color: #6e6e6e;
}
ul.settings li > div{
	padding-bottom: 5px;
}
ul.settings li > div input[type="checkbox"] {
    margin-top: 3px;
    margin-right: 5px;
}
ul.settings li > div label{
    vertical-align: top;
    color: #6e6e6e;
	margin-left: -21px;
	padding-left: 25px;
	background: url('/images/unselected.png') #FFF left top no-repeat;
	zoom: 1;
	*padding-top: 2px;
	*margin-left: -24px;
	*position: absolute;
	cursor: pointer;
	width: 80%;
}
ul.settings div.selected label {
	color: #000;   
	font-weight: 600;
	background: url('/images/selected.png') #FFF left top no-repeat;
}	
ul.settings li > div label .img{
    padding-left: 18px;
    margin-left: 3px;
}
ul.settings li > div label .img.camera{
	background: url('/images/picture.png') no-repeat;
}
.dashboardContent form input.uiButton{
    float: right;
    margin: 30px 0px 30px;
    padding: 8px 20px;
}


/*** setting tab, content setting style ends ***/

/*** booking Tabs style start **/
.dashboardField *{
	margin: 0;
	padding: 0;
}
span.hr{
	display: block;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
	line-height: 1px;
	border: none;
	font-size: 1px;
}
.dashboardField .bookingTabContainer li{
	float: left;
	background-color: #D2D2D2;
	color: #8C8C8C;
	padding: 6px 0px 7px;
	width: 152px;
	margin-left: 4px;
	border: 1px solid #c3c3c3;
	cursor: pointer;
	text-align: center;
}
.dashboardField .bookingTabContainer li:first-child{
	margin-left: 0;
}
.dashboardField .bookingTabContainer li.selected{
	background-color: #6a6a6a;
	color: #fff;
	border-color: #6a6a6a;
}
.dashboardField .bookingTabDetailContainer{
	background: #6C6C6C;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6C6C6C), to(#a4a4a4));
	background: -webkit-linear-gradient(#6C6C6C, #a4a4a4);
	background: -moz-linear-gradient(#6C6C6C, #a4a4a4);
	background: -ms-linear-gradient(#6C6C6C, #a4a4a4);
	background: -o-linear-gradient(#6C6C6C, #a4a4a4);
	background: linear-gradient(#6C6C6C, #a4a4a4);
	-pie-background: linear-gradient(#6C6C6C, #a4a4a4);
	behavior: url(/PIE.htc);
	padding: 7px;
}
.dashboardField .bookingTabDetailContainer > div{
	display: none;
}
.dashboardField .bookingTabDetailContainer.cust .customerInfo,
.dashboardField .bookingTabDetailContainer.list .listingAgent,
.dashboardField .bookingTabDetailContainer.property .propertyDetails{
	display: block;
}
.dashboardField .bookingTabDetailContainer .customerInfo > div,
.dashboardField .bookingTabDetailContainer .listingAgent > div,
.dashboardField .bookingTabDetailContainer .propertyDetails > div{
	padding: 15px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #ccc;
	background-color: #e6e6e6;
}

.dashboardField .bookingTabDetailContainer .userImg,
.dashboardField .bookingTabDetailContainer .userName{
	float: left;
}
.dashboardField .bookingTabDetailContainer .userImg img{
	margin: 2px 10px 0px 0px;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}
.dashboardField .bookingTabDetailContainer .userName{
	font-size: 28px;
	color: #666;
}
.dashboardField .bookingTabDetailContainer  .customerInfo .contactInfo > div{
	float: left;
}
.dashboardField .bookingTabDetailContainer  .customerInfo .contactInfo span{
	font-weight: bold;
	font-size: 18px;
}
.dashboardField .bookingTabDetailContainer .customerInfo .contactInfo > div:first-child{
	margin-right: 40px;
}

/*** booking Tabs style ends **/
.dashboardForm .fieldhelp {
	font-size: 				12px!important;
	font-weight: 				normal!important;
	line-height: 				18px!important;
	display: 					block!important;
	margin-top: 				4px;
	color: 					#666666;
}
.dashboardField .dashboardSettingHeading {
	margin-top:				0px;
	padding:					0 0 0 30px;
	position:					relative;
	line-height:				24px;
	width: 320px;
}
.dashboardSettingHeading.off {
	color:					#999999;
}
.dashboardSettingHeading .uiIcon {
	background-position:		-570px -150px;
	position:					absolute;
	top:						0px;
	left:					0px;
}
.dashboardSettingHeading.off .uiIcon {
	background-position:		-570px -180px;
	filter:					alpha(opacity=70);
	-khtml-opacity:			0.7;
	-moz-opacity:				0.7;
	opacity:					0.7;
}
.uiFormFooterMessage strong {
	color: 					#333;
}

.dashboardSwitch {
	width:					82px;
	height:					40px;
	background:				transparent url(/images/on_off_btn_bgs.png) 0 0 no-repeat;
	display:					inline-block;
}
.dashboardSwitch.off {
	background:				transparent url(/images/on_off_btn_bgs.png) 0 -40px no-repeat;
}
.dashboardSwitch img {
	width:					90px;
	height:					30px;
}
.dashboardReset {
	width:					102px;
	height:					40px;
	background:				transparent url(/images/reset_btn.png) 0 0 no-repeat;
	display:					block;
	margin-top:				10px;
}
.dashboardSwitch img {
	width:					41px;
	height:					40px;
}

.referAgent {
	background:				#b1dbee url(/images/tab-referagent_bg.jpg) 0 bottom no-repeat;
	margin:					0 -20px;
	padding:					0 20px 370px;
	-moz-border-radius: 		0 10px 10px 0;
	-webkit-border-radius: 		0 10px 10px 0;
	border-radius: 			0 10px 10px 0;
}
.referField {
	font-size: 				18px;
	height: 					20px;
	padding: 					10px;
	width: 					260px;
	border:					solid 1px #9acde4;
	-moz-border-radius: 		8px;
	-webkit-border-radius: 		8px;
	border-radius: 			8px 8px 8px 8px;
}

.statBox {
	background:				#f8f8f8;
	-moz-border-radius: 		8px;
	-webkit-border-radius: 		8px;
	border-radius: 			8px 8px 8px 8px;
	-ms-box-shadow: 			0 0 50px #f2f2f2 inset;
	-o-box-shadow: 			0 0 50px #f2f2f2 inset;
	-moz-box-shadow: 			0 0 50px #f2f2f2 inset;
	-webkit-box-shadow: 		0 0 50px #f2f2f2 inset;
	box-shadow: 				0 0 50px #f2f2f2 inset;
	padding:					10px;
}
.statBox .hr {
	background-color:			#e5e5e5;
	margin:					7px 0;
}
.statBox h6 {
	font-size:				16px;
	line-height:				16px;
	margin:					0px;
}
.statNumber {
	font-family: 				"myriad-pro-n6", "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	font-weight: 				600;
	color:					#000;
	text-shadow:				-1px -1px 0 #0f668a, 1px 1px 0 #FFFFFF, 0 0 20px #808080;
}
.statNumber.small {
	font-size: 30px;
	line-height: 30px;
}
.statNumber.medium {
	font-size: 48px;
	line-height: 48px;
}
.statNumber.large {
	font-size: 72px;
	line-height: 72px;
}

/** New CSS as on Date 28-1-2013 starts **/
.dashboardBox {
	border: 1px solid #c7c9c8;
	border-radius: 5px;
	margin-top: 20px;
	height: 100%;
}
.dashboardBox.half {
	width: 326px;
	margin-left: 24px;
	float: left;
}
.dashboardBox.half:first-child{
	margin-left: 0;
}
.dashboardHeading {
	text-transform:	uppercase;
	position: relative;
	padding: 15px;
	background: #f9f9f9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9f9), to(#eeeeee));
	background: -webkit-linear-gradient(#f9f9f9, #eeeeee);
	background: -moz-linear-gradient(#f9f9f9, #eeeeee);
	background: -ms-linear-gradient(#f9f9f9, #eeeeee);
	background: -o-linear-gradient(#f9f9f9, #eeeeee);
	background: linear-gradient(#f9f9f9, #eeeeee);
	-pie-background: linear-gradient(#f9f9f9, #eeeeee);
	behavior: url(/PIE.htc);
	border-bottom: 1px solid #c7c9c8;
	border-radius: 5px 5px 0px 0px;
	color: #7b7b7b;
	font-family: "myriad-pro-n4", "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 19px;
}
.dashboardHeading > *{
	float: left;
	margin: 0;
}
.dashboardHeading .headingIcon{
	height: 17px;
	width: 17px;
	display: block;
	background: center center #7b7b7b;
	margin-right: 10px;
	background: url('/images/new-icons.png') no-repeat;
}
.dashboardBox.readPosts .headingIcon{
	background-position: 0px -16px;
}
.dashboardBox.buzzScore .headingIcon{
	background-position: 0px -67px;
}
.dashboardBox.reach .headingIcon{
	background-position: 0px -34px;
}
.dashboardBox.settings .headingIcon{
	background-position: 0px -51px;
}
.dashboardBox .summary{
	padding: 0px 30px;
	margin: 20px 0px;
}
.dashboardBox.buzzScore .summary{
	margin: 14px 0px 0px;
}
.dashboardBox .summary .summaryTxt{
	float: left;
}
.dashboardBox .summary .summaryIcon{
	float: right;
	background: url('/images/new-icons.png') no-repeat;
}
.dashboardBox .summary label{
	color: #bbb;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.dashboardBox .summary .data{
	color: #777;
	font-weight: bold;
	font-size: 38px;
	line-height: 27px;
	margin-top: 5px;
}
.dashboardBox.readPosts .summaryIcon{
	background-position: -20px 0px;
	height: 53px;
	width: 43px;
	margin-right: 10px;
}
.dashboardBox.reach .summaryIcon{
	background-position: -17px -53px;
	height: 47px;
	width: 60px;
}
.dashboardBox.buzzScore .summary .data,
.dashboardBox.buzzScore .summary label{
	text-align: center;
}
.dashboardBox.buzzScore .summary label{
	display: block;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: normal;
}
.dashboardBox.buzzScore .summary .data{
	font-size: 34px;
}
.dashboardBox.readPosts ul.readers{
	color: #bbb;
	margin: 0px 15px 15px 15px;
	background-color: #f8f8f8;
	border-radius: 5px;
}
.dashboardBox.readPosts .readers li{
	border-top: 1px solid #e9e9e9;
	margin: 0;
	padding: 5px 14px;
	list-style: none;
	line-height: normal;
}
.dashboardBox.readPosts .readers li:first-child{
	border-top: none;
}
.dashboardBox.readPosts .readers span.label{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	float: left;
	margin-top: 6px;
	background-color: transparent;
	color: #bbb;
	text-shadow: none;
	padding: 0;
	line-height: 18px;
}
.dashboardBox.readPosts .readers span.count{
	float: right;
	text-align: right;
	color: #4b4b4b;
	font-size: 24px;
	font-weight: bold;
}
.dashboardBox.reach .individualReach,
.dashboardBox.settings .individualPost{
	padding: 0px 15px 15px 15px;
}
.dashboardBox.settings .individualPost{
	padding-bottom: 12px;
}
.dashboardBox.reach .reachBox,
.dashboardBox.settings .postBox{
	margin: 0 0 0 15px;
	background-color: #f8f8f8;
	border-radius: 5px;
	width: 137px;
	float: left;
}
.dashboardBox.settings .postBox{
	background: none;
	width: 127px;
	margin: 0 0 0 35px;
}
.dashboardBox.reach .reachBox:first-child,
.dashboardBox.settings .postBox:first-child{
	margin-left: 0;
}
.dashboardBox.reach .reachBox li,
.dashboardBox.settings .postBox li{
	margin: 0;
	border-top: 1px solid #e9e9e9;
	font-size: 14px;
	padding: 5px 10px;
	list-style: none;
}
.dashboardBox.settings .postBox li{
	border: none;
	color: #454545;
	padding: 3px 5px;
}
.dashboardBox.reach .reachBox li:first-child{
	border-top: none;
}
.dashboardBox.reach span.label,
.dashboardBox.settings span.label{
	color: #bbb;
	float: left;
	background-color: transparent;
	text-shadow: none;
	font-weight: normal;
	font-size: 14px;
}
.dashboardBox.settings span.label{
	font-weight: 600;
	color: #454545;
}
.dashboardBox.reach span.count{
	color: #000;
	float: right;
	line-height: normal;
}
.dashboardBox.settings span.count{
	float: right;
	font-weight: bold;
	line-height: normal;
}
.dashboardBox.settings span.postIcon{
	float: left;
	background: url('/images/new-icons.png') no-repeat;
	height: 22px;
	width: 22px;
	margin-top: -2px;
	margin-right: 10px;
}
.dashboardBox.settings span.postIcon.fb{
	background-position: -78px 0px;
}
.dashboardBox.settings span.postIcon.twt{
	background-position: -78px -23px;
}
.dashboardBox.settings span.postIcon.fp{
	background-position: -78px -47px;
}
.dashboardBox.settings span.postIcon.lnkin{
	background-position: -78px -71px;
}
.dashboardBox.reach .avgCbr{
	background-color: #f7f7f7;
	position: relative;
	padding: 10px 30px;
	border-top: 1px solid #c6cbc9;
	border-radius: 0px 0px 5px 5px;
}
.dashboardBox.reach .avgCbr span.label{
	font-size: 14px;
	color: #cacaca;
	text-transform: uppercase;
	float: left;
	margin-top: 5px;
	background-color: transparent;
	text-shadow: none;
	font-weight: normal;
}
.dashboardBox.reach .avgCbr span.count{
	color: #4b4b4b;
	float: right;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
.dashboardBox.reach .avgCbr span.arrow{
	position: absolute;
	height: 9px;
	width: 16px;
	background: url('/images/new-icons.png') 0px -91px no-repeat;
	display: block;
	top: -1px;
	left: 35px;
}
.dashboardBox.settings .curSetting{
	margin: 0px 15px 15px 15px;
	background: #f9f9f9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9f9), to(#eeeeee));
	background: -webkit-linear-gradient(#f9f9f9, #eeeeee);
	background: -moz-linear-gradient(#f9f9f9, #eeeeee);
	background: -ms-linear-gradient(#f9f9f9, #eeeeee);
	background: -o-linear-gradient(#f9f9f9, #eeeeee);
	background: linear-gradient(#f9f9f9, #eeeeee);
	-pie-background: linear-gradient(#f9f9f9, #eeeeee);
	behavior: url(/PIE.htc);
	position: relative;
	border-radius: 5px;
	padding: 3px 10px 5px 20px;
	box-shadow: 0px 1px 2px 0px #666;
}
.dashboardBox.settings .curSetting label{
	font-size: 16px;
	color: #454545;
	float: left;
	margin-top: 5px;
	font-weight: bold;
}
.dashboardBox.settings .curSetting .count{
	float: right;
	width: 108px;
}
.dashboardBox.settings .curSetting .count input{
	float: left;
	border: none;
	background-color: #ededed;
	border-radius: 3px;
	font-size: 22px;
	width: 42px;
	outline: none;
	box-shadow: 3px 3px 11px -5px #666 inset;
	-webkit-box-shadow: 3px 3px 11px -5px #666 inset;
	-moz-box-shadow: 3px 3px 11px -5px #666 inset;
	margin-top: 2px;
	padding: 3px 10px 4px;
	font-weight: bold;
	color: #454545;
	text-align: right;
	height: 27px;
	line-height: normal;
	margin-bottom: 0;
}
.dashboardBox.settings .curSetting .count span{
	float: left;
	font-size: 14px;
	color: #cacaca;
	width: 40px;
	vertical-align: top;
	font-weight: normal;
	margin-left: 3px;
}
.dashboardBox.buzzScore .buzzImg{
	text-align: center;
	padding-bottom: 5px;
}
.dashboardBox.buzzScore .buzzImg > *{
	display: inline-block;
	vertical-align: top;
}
.dashboardBox.buzzScore .buzzImg > label{
	color: #bbb;
	font-size: 15px;
	font-weight: bold;
	margin-top: 52px;
}
.dashboardBox.buzzScore .buzzImg span{
	background: url('/images/buzz-score.png') 0px 0px no-repeat;
	height: 105px;
	width: 178px;
}
.dashboardBox.buzzScore .buzzImg span.mediumLow{
	background-position: 1px -105px;
}
.dashboardBox.buzzScore .buzzImg span.medium{
	background-position: 0px -209px;
}
.dashboardBox.buzzScore .buzzImg span.mediumHigh{
	background-position: 1px -315px;
}
.dashboardBox.buzzScore .buzzImg span.high{
	background-position: 1px -420px;
}
.earnFree{
	background: url('/images/earn-free-bg.jpg') repeat-x;
	height: 75px;
	padding: 0px 50px;
}
.earnFree h2{
	float: left;
	margin: 22px 0 0 0;
	font-size: 24px;
	line-height: 30px;
}
.earnFree h2 > a{
	text-shadow: 0px 1px 0px #c9c9c9;
	text-decoration: none;
	color: #044e74;
	font-weight: bold;
}
.earnFree h2 > a > span{
	font-style: italic;
	color: #fff;
	margin: 0px 5px;
	text-shadow: -1px 1px 3px #666;
}
.earnFree > a{
	text-decoration: none;
	float: right;
	color: #fff;
	font-size: 18px;
	margin-top: 26px;
	text-shadow: -1px 1px 3px #666;
}

.earnFreeLv {
	background: url('/images/earn-free-lv-bg.jpg') center center no-repeat;
	height: 90px;
}

.earnFreeLv span.fill {
	width: 100%; 
	height: 100%; 
	z-index: 1;
	display: block;
}


.linechartControlls{
	margin-bottom: 15px;
}
.linechartControlls > span{
	background: #f9f9f9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9f9), to(#eeeeee));
	background: -webkit-linear-gradient(#f9f9f9, #eeeeee);
	background: -moz-linear-gradient(#f9f9f9, #eeeeee);
	background: -ms-linear-gradient(#f9f9f9, #eeeeee);
	background: -o-linear-gradient(#f9f9f9, #eeeeee);
	background: linear-gradient(#f9f9f9, #eeeeee);
	-pie-background: linear-gradient(#f9f9f9, #eeeeee);
	behavior: url(/pie/PIE.htc);
	box-shadow: 0px 2px 3px 0px #666;
	text-decoration: none;
	color: #404040;
	border-radius: 5px;
	padding: 7px 15px 8px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
}
.linechartControlls > span:first-child{
	margin-left: 0px;
}
.linechartControlls > span span{
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 10px;
	vertical-align: top;
	margin-top: 4px;
	cursor: pointer
}
.linechartControlls > span.clickLegend span{
	background-color: #8dcf68;
}
.linechartControlls > span.interactionLegend span{
	background-color: #14abf9;
}
.linechartControlls > span.horizontalAxis{
	float: right;
}
.pieChart{
	padding: 10px 15px 10px 20px;
}
.pieChart > div{
	float: left;
}
.pieChart .colored{
	width: 373px;
}
.pieChart .nonColored{
	width: 270px;
}
.pieChart .colored .chartHeading{
	font-size: 34px;
	color: #7b7b7b;
	margin: 0 0 20px 0;
}
.pieChart .nonColored .chartHeading{
	color: #bfbfbf;
	font-size: 28px;
	margin: 0 0 20px 0;
	line-height: 22px;
}
.pieChart .chartInfo,
.pieChart .chartContainer{
	float: left;
}
.pieChart .chartInfo .subTitle{
	text-transform: uppercase;
	color: #dbdbdb;
	margin-left: 2px;
	font-weight: bold;
}
.pieChart .colored ul{
	margin: 0;
	width: 181px;
}
.pieChart .nonColored ul{
	margin: 0;
	width: 141px;
}
.pieChart .colored ul li{
	background-color: #f8f8f8;
	padding: 5px 10px;
	border-radius: 5px;
	color: #808080;
	margin: 4px 0px 0px 0px;
	list-style: none;
}
.pieChart .colored ul li:first-child{
	margin-top: 0px;
}
.pieChart .nonColored ul li{
	background-color: #fbfbfb;
	padding: 5px 10px;
	border-radius: 5px;
	color: #a9a9a9;
	margin: 4px 0px 0px 0px;
	list-style: none;
}
.pieChart .nonColored ul li:first-child{
	margin-top: 0px;
}
.pieChart ul li > *{
	float : left;
}
.pieChart ul li > .data{
	float : right;
	font-weight: bold;
	line-height: normal;
}
.pieChart ul li > .legendIcon{
	height: 12px;
	width: 14px;
	background: url('/images/legend-icons-bg.png') no-repeat;
	margin-top: 4px;
	margin-right: 10px;
}
.pieChart .colored ul li > label,
.pieChart .nonColored ul li > label{
	margin-bottom: 0;
	line-height: normal;
}
.pieChart .colored ul li > .clicks{
	background-position: 0px 0px;
}
.pieChart .colored ul li > .likes{
	background-position: 0px -12px;
}
.pieChart .colored ul li > .comments{
	background-position: 0px -24px;	
}
.pieChart .colored ul li > .shares{
	background-position: 0px -36px;
}
.pieChart .colored ul li > .emailReq{
	background-position: 0px -48px;
}
.pieChart .colored ul li > .phoneReq{
	background-position: 0px -60px;
}
.pieChart .nonColored ul li > .clicks{
	background-position: -14px 0px;
}
.pieChart .nonColored ul li > .likes{
	background-position: -14px -12px;
}
.pieChart .nonColored ul li > .comments{
	background-position: -14px -24px;
}
.pieChart .nonColored ul li > .shares{
	background-position: -14px -36px;
}
.pieChart .nonColored ul li > .emailReq{
	background-position: -14px -48px;
}
.pieChart .nonColored ul li > .phoneReq{
	background-position: -14px -60px;
}
.pieChart .chartContainer > span{
	display: block;
	text-align: center;
	color: #dbdbdb;
	font-size: 14px;
}
.highcharts-legend{
	display: none;
}
.pieChart text tspan{
	display: none;
}
.pieChart .highcharts-container > div > span{
	display: none;
}
.dashboardPlainBox svg > text > tspan{
	display: none;
}
.dashboardPlainBox .highcharts-container > div > span{
	display: none;
}
.dashboardPlainBox{
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f9f9f9));
	background: -webkit-linear-gradient(#FFFFFF, #f9f9f9);
	background: -moz-linear-gradient(#FFFFFF, #f9f9f9);
	background: -ms-linear-gradient(#FFFFFF, #f9f9f9);
	background: -o-linear-gradient(#FFFFFF, #f9f9f9);
	background: linear-gradient(#FFFFFF, #f9f9f9);
	-pie-background: linear-gradient(#FFFFFF, #f9f9f9);
	behavior: url(/PIE.htc);
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	margin-bottom: 15px;
}
/*** New css as on Date 28-1-2013 ends ***/
.dashboardNumber {
	font-family: 				"myriad-pro-n6", "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	font-weight: 				600;
	color:					#000000;
}
.dashboardNumber.xlarge {
	font-size:				120px;
	line-height:				90px;
}
.dashboardNumber.large {
	font-size:				80px;
	line-height:				60px;
}
.dashboardNumber.medium {
	font-size:				60px;
	line-height:				45px;
}
.dashboardNumber.small {
	font-size:				30px;
	line-height:				23px;
}

.dashboardStatStatus {
	position:					absolute;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
	border-radius: 			5px 5px 5px 5px;
	text-align:				center;
	width:					78px;
	height:					30px;
	line-height:				18px;
	font-size:				18px;
}
.dashboardStatStatus.up {
	padding:					20px 0 0;
	background:				#ebffeb url(/images/icons-darkgray-18.png) -570px 3px no-repeat;
	color:					#00b20f;
	border:					solid 1px #d0f3d0;
}
.dashboardStatStatus.down {
	padding:					0 0 20px 0;
	background:				#fff2f2 url(/images/icons-darkgray-18.png) -570px -240px no-repeat;
	color:					#b20000;
	border:					solid 1px #f8dede;
}
.dashboardStatStatus span {
	display:					block;
	font-size:				9px;
	line-height:				12px;
}

#new_bookings_bubble {
	position:					absolute;
	top:						13px;
	right:					10px;
	-moz-border-radius: 		12px;
	-webkit-border-radius: 		12px;
	border-radius: 			12px 12px 12px 12px;
	line-height:				24px;
	min-width:				24px;
	color:					#fff;
	background-color:			#F00;
	text-shadow: 				-1px -1px 0 #C00;
	text-align:				center;
}
.dashboardTab.active #new_bookings_bubble {
	right:					20px;
}
.referral_link_wrapper {
	float: 					right; 
	font-size: 				14px; 
	color: 					#666666; 
	text-shadow: 				none;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
	border-radius: 			5px 5px 5px 5px;
	background:				#e1f2f9;
	padding:					0 15px;
}

.dashboardForm .note-right-arrow {
	display: none;
}

.dashboardForm .noteContainer {
	margin: 10px 0;
}

/*--------------------------------------*/
/* ICONS			 				*/
/*--------------------------------------*/
.uiIcon {
	background-image: 			url(/images/icons-darkgray-24.png);
	height: 					24px;
	width: 					24px;
	display: 					inline-block;
	font-size: 				3px;
	margin: 					0 3px;
}
.uiIcon.icon-small {
	background-image: 			url(/images/icons-darkgray-18.png);
	height: 					18px;
	width: 					18px;
	margin: 					0 5px 2px 0;
}
.uiIcon.icon-white {
	background-image: 			url(/images/icons-white-24.png);
}
.uiIcon.icon-small.icon-white {
	background-image: 			url(/images/icons-white-18.png);
	height: 					18px;
	width: 					18px;
}
.uiIcon.button {
	background:	 			#333 url(/images/icons-white-24.png);
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
	border-radius: 			5px 5px 5px 5px;
	display: 					inline-block;
	margin-right:				3px;
}
.uiButton .uiIcon {
	vertical-align:			middle;
}


/*** NEW REFER AGENT STYLE STARTS ***/
.referSteps .dashboardHeading .headingIcon{
	height: 19px;
	width: 21px;
	background: url('/images/promotion-small-icon.png') no-repeat
}
.referSteps > h4{
	text-align: center;
	color: #8d8d8d;
	font-weight: normal;
}
.referSteps .stepDesc .step{
	float: left;
	text-align: center;
	width: 145px;
	margin-left: 21px;
}
.referSteps .stepDesc .step:first-child{
	margin-left: 33px;
}
.referSteps .stepDesc{
	margin-bottom: 20px;
	padding-top: 20px;
}
.referSteps .stepDesc .step{
	position: relative;
	width: 143px;
	border: 1px solid #d6d2d2;
	border-radius: 3px;
	background: #F5F5F5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F5F5F5), to(#eaeaea));
	background: -webkit-linear-gradient(#F5F5F5, #eaeaea);
	background: -moz-linear-gradient(#F5F5F5, #eaeaea);
	background: -ms-linear-gradient(#F5F5F5, #eaeaea);
	background: -o-linear-gradient(#F5F5F5, #eaeaea);
	background: linear-gradient(#F5F5F5, #eaeaea);
	-pie-background: linear-gradient(#F5F5F5, #eaeaea);
	behavior: url(/pie/PIE.htc);
	-webkit-box-shadow: 1px 1px 2px #DDD;
	-moz-box-shadow: 1px 1px 2px #DDD;
	box-shadow: 1px 1px 2px #DDD;
}
.referSteps .stepDesc .step .stepNo{
	width: 27px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: 13px;
	left: -8px;
	background: url('/images/step-no-bg.png') center center no-repeat;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
}
.referSteps h4{
	font-size: 16px;
	font-weight: bold;
}
.referSteps .stepDesc h4{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 16px;
	margin-bottom: 10px;
}
.referSteps .stepDesc p{
	line-height: 1em;
	margin-left: 15px;
	margin-right: 15px;
	color: #8a8a8a;
}
.referSteps .stepDesc p.stepDescription{
	margin-bottom: 0px;
	padding-bottom: 11px;
	border-bottom: solid 1px #ccc;
	min-height: 60px;
}
.referSteps .stepDesc p.stepDetail{
	margin-top: 0px;
	padding-top: 11px;
	border-top: solid 1px #fdfdfd;
	min-height: 29px;
}
.referSteps .stepDesc .step .stepIcon{
	background-position: center center;
	background-repeat: no-repeat;
	height: 35px;
	margin: 20px 0px;
}
.referSteps .stepDesc .step.share .stepIcon{
	background-image: url('/images/share-icon.png');
}
.referSteps .stepDesc .step.watch .stepIcon{
	background-image: url('/images/other-user-icon.png');
}
.referSteps .stepDesc .step.earn .stepIcon{
	background-image: url('/images/free-icon.png');
}
.referSteps .stepDesc .step.itsFree .stepIcon{
	background-image: url('/images/promotion-big-icon.png');
}
.referSteps .stepDesc .step .nextStepArrow{
	width: 22px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 144px;
	margin-top: -15px;
	background: url('/images/next-step-arrow.png') center center no-repeat;
}
.referedFriends{
	border: 1px solid #d3d3d3;
	border-radius: 5px 5px 0 0;
	margin: 50px 33px 50px;
}
.referedFriends .title{
	text-align: center;
}
.referedFriends .title span{
	display: inline-block;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	font-size: 14px;
	color: #404040;
	height: 30px;
	line-height: 30px;
	padding: 0 11px;
	font-weight: 600;
	margin-top: -16px;
	background: #eaeaea;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F5F5F5), to(#eaeaea));
	background: -webkit-linear-gradient(#F5F5F5, #eaeaea);
	background: -moz-linear-gradient(#F5F5F5, #eaeaea);
	background: -ms-linear-gradient(#F5F5F5, #eaeaea);
	background: -o-linear-gradient(#F5F5F5, #eaeaea);
	background: linear-gradient(#F5F5F5, #eaeaea);
	-pie-background: linear-gradient(#F5F5F5, #eaeaea);
	behavior: url(/pie/PIE.htc);
}
*+html .referedFriends .title span{
	margin-top: -39px;
}
.referedFriends .referralSlotContainer{
	width: 696px;
	margin-left: -26px;
	background-color: #fff;
	margin-top: 53px;
	padding: 10px 0px 3px;
}
.referedFriends .referralSlot{
	float: left;
	width: 58px;
	min-height: 86px;
	text-align: center;
	margin-left: 12px;
	position: relative;
}
.referedFriends .referralSlot:first-child{
	margin-left: 0;
}
.referedFriends .referralSlot.goal{
	width: 64px;
}
.referedFriends .referralSlot .tooltip{
	background: #ededed;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F5F5F5), to(#ededed));
	background: -webkit-linear-gradient(#F5F5F5, #ededed);
	background: -moz-linear-gradient(#F5F5F5, #ededed);
	background: -ms-linear-gradient(#F5F5F5, #ededed);
	background: -o-linear-gradient(#F5F5F5, #ededed);
	background: linear-gradient(#F5F5F5, #ededed);
	-pie-background: linear-gradient(#F5F5F5, #ededed);
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	padding: 0 5px;
	position: absolute;
	border: 1px solid #cac9c9;
	border-radius: 3px;
	width: 53px;
	left: -3.5px;
	top: -48px;
	display: none;
	behavior: url(/pie/PIE.htc);
}
.referedFriends .referralSlot:hover .tooltip{
	display: block;
}
.referedFriends .referralSlot .tooltip .bottomArrow{
	position: absolute;
	width: 100%;
	background: url('/images/tooltip-bottom-arrow.png') center center no-repeat;
	height: 10px;
	bottom: -10px;
	left: 0;
}
.referedFriends .referralSlot .referral-img-mask {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 10;
}
.referedFriends .referralSlot .referral-img-facebook {
	margin: 4px 0;
	width: 50px;
	height: 50px;
}

.referedFriends .referralSlot img {
	position: relative;
	z-index: 1;
}
.referedFriends .referralSlot p{
	position: relative;
	line-height: 1em;
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 12px;
}
.referedFriends .referralSlot.goal p{
	font-size: 13px;
	color: #7b5117;
	padding: 5px 0px;
	background: url('/images/goal-text-bg.png') no-repeat;
}
.referedFriends .note{
	text-align: center;
	margin: 10px 0 -12px 0;
	font-weight: normal;
}
.referedFriends .note > span{
	background-color: #fff;
	padding: 0 10px;
	font-size: 18px;
}
*+html .referedFriends .note{
	margin-bottom: 0;
}
*+html .referedFriends .note > span{
	display: inline-block;
	margin-bottom: -12px;
}
.referedFriends .note span.bold{
	font-weight: bold;
}
.earnFreeMonths{
	margin-bottom: 30px;
}
.earnFreeMonths h4{
	font-size: 16px;
	font-weight: bold;
}
.earnFreeMonths .dashboardHeading .headingIcon{
	background: url('/images/earn-month-setting-icon.png') no-repeat;
	height: 18px;
	width: 18px;
}
.earnFreeMonths .earnToolsContainer{
	padding: 30px;
}
.earnFreeMonths .earnMonthsTool{
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #d3d3d3;
}
.earnFreeMonths .earnMonthsTool:first-child{
	padding-top: 0;
	margin-top: 0;
	border-top: none;
}
.earnFreeMonths .earnMonthsTool .number{
	text-align: center;
	background: url('/images/number-bg.png') no-repeat;
	float: left;
	font-size: 29px;
	width: 58px;
	height: 57px;
	line-height: 57px;
	margin-right: 20px;
	margin-left: -5px;
	font-weight: bold;
}
.earnFreeMonths .earnMonthsTool .toolDetail{
	overflow: hidden;
	width: auto;
}
.earnFreeMonths .toolDetail h3{
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
}
.earnFreeMonths .toolDetail p{
	font-size: 16px;
	color: #8c8c8c;
	margin-top: 5px;
	line-height: 1em;
}
.dashboardContent .earnFreeMonths form .uiButton{
	margin: 0;
}
.earnFreeMonths .referField{
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
	margin: 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-color: #d3d3d3;
}
.earnFreeMonths .uiButton{
	background: #35B819;
	font-weight: 600;
	text-shadow: -1px -1px 0 #218e0a;
	position: relative;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#35B819), to(#1c9f00));
	background: -webkit-linear-gradient(#35B819, #1c9f00);
	background: -moz-linear-gradient(#35B819, #1c9f00);
	background: -ms-linear-gradient(#35B819, #1c9f00);
	background: -o-linear-gradient(#35B819, #1c9f00);
	background: linear-gradient(#35B819, #1c9f00);
	-pie-background: linear-gradient(#35B819, #1c9f00);
	behavior: url(/pie/PIE.htc);
}
.earnFreeMonths .uiButton:hover{
	background: #4BB733;
}
.earnFreeMonths .facebook_preview{
	background-color: transparent;
	border-color: #d3d3d3;
	width: 460px;
}
.earnFreeMonths .facebook_userpic{
	top: 0;
}
.earnFreeMonths .referral_link_wrapper{
	border: 1px solid #d3d3d3;
	position: relative;
	background: #eaeaea;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F5F5F5), to(#eaeaea));
	background: -webkit-linear-gradient(#F5F5F5, #eaeaea);
	background: -moz-linear-gradient(#F5F5F5, #eaeaea);
	background: -ms-linear-gradient(#F5F5F5, #eaeaea);
	background: -o-linear-gradient(#F5F5F5, #eaeaea);
	background: linear-gradient(#F5F5F5, #eaeaea);
	-pie-background: linear-gradient(#F5F5F5, #eaeaea);
	behavior: url(/pie/PIE.htc);
}
.achievement{
	background-color: #fefdf2;
	text-align: center;
	padding: 24px 0;
}
.achievement span{
	color: #fff;
	display: inline-block;
	width: 334px;
	background: url('/images/achievement-bg.png') no-repeat;
	padding-top: 150px;
	padding-bottom: 27px;
	font-size: 18px;
	font-weight: 600;	
}
/*** NEW REFER AGENT STYLE ENDS ***/



/*---------------------------------*/
/*	FACEBOOK PREVIEW			*/
/*---------------------------------*/

.facebook_preview {
	width: 448px;
	padding: 5px;
	margin: 0;
	border: solid 1px #FFFFFF;
	background-color: #D2D9E7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.facebook_preview_inner {
	width: 368px;
	padding: 0 10px 10px 70px;
	background-color: #ffffff;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.facebook_preview_bottom {
	width: 446px;
	padding: 0;
	background-color: #ffffff;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.facebook_userpic {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
}
.facebook_member {
	font-weight: bold;
	font-size: 11px;
	color: #3B5998;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	padding-bottom: 5px;
	line-height: 1.28em;
	margin-top: 10px;
}
.facebook_message {
	font-size: 11px;
	color: #000000;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	display: block;
	line-height: 1.28em;
	margin-bottom: 10px;
}
.facebook_postpic_wrapper {
	float: left;
	margin-right: 10px;
	width: 90px;
}
.facebook_postinfo {
	float: left;
	width: 268px;
}
.facebook_linktext {
	font-size: 11px;
	font-weight: bold;
	color: #3B5998;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28em;
	word-break: break-all;
}
.facebook_baseurl {
	font-size: 11px;
	color: #3B5998;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28em;
}
.facebook_description {
	font-size: 11px;
	color: #808080;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28em;
	margin-top: 5px;
}


.photo_upload_thumb {
	width: 96px;
	height: 64px;
	padding: 4px;
	margin-bottom: 5px;
	overflow: hidden;
	border: solid 1px #ccc;
	-moz-box-shadow: 0 0 30px #e5e5e5 inset;
	-webkit-box-shadow: 0 0 30px #e5e5e5 inset;
	box-shadow: 0 0 30px #e5e5e5 inset;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.photo_upload_thumb .progress {
	display: none;
	width: 106px;
	height: 0px;
	background-color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	behavior: url(/css/PIE.htc);
}

#change-photo-upload{
	display: none;
}

#change-photo-upload .progress{
	display: none;
}


/*--------------------------------------*/
/* NEWER DATATABLES	 				*/
/*--------------------------------------*/
.ui-datatable {
	border-collapse:		collapse;
	-moz-box-shadow:		0 1px 0 #fff;
	-ms-box-shadow: 		0 1px 0 #fff;
	-o-box-shadow: 		0 1px 0 #fff;
	-webkit-box-shadow: 	0 1px 0 #fff;
	box-shadow: 			0 1px 0 #fff;
	margin:				20px 0;
}
.ui-datatable.bordered {
	border-collapse:		separate;
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 		5px 5px 5px 5px;
	-ms-box-shadow: 		0 0 10px #cccccc;
	-o-box-shadow: 		0 0 10px #cccccc;
	-moz-box-shadow: 		0 0 10px #cccccc;
	-webkit-box-shadow: 	0 0 10px #cccccc;
	box-shadow: 			0 0 10px #cccccc;
}
.ui-datatable.bordered tr:first-child th:first-child,
.ui-datatable.bordered tr:first-child td:first-child {
	-moz-border-radius-topleft: 			5px!important;
	-webkit-border-top-left-radius: 		5px!important;
	border-top-left-radius: 				5px!important;
}
.ui-datatable.bordered tr:first-child th:last-child,
.ui-datatable.bordered tr:first-child td:last-child {
	-moz-border-radius-topright: 			5px!important;
	-webkit-border-top-right-radius: 		5px!important;
	border-top-right-radius: 			5px!important;
}
.ui-datatable.bordered tr:last-child th:first-child,
.ui-datatable.bordered tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 		5px!important;
	-webkit-border-bottom-left-radius: 	5px!important;
	border-bottom-left-radius: 			5px!important;
}
.ui-datatable.bordered tr:last-child th:last-child,
.ui-datatable.bordered tr:last-child td:last-child {
	-moz-border-radius-bottomright: 		5px!important;
	-webkit-border-bottom-right-radius: 	5px!important;
	border-bottom-right-radius: 			5px!important;
}

.ui-datatable + .ui-datatable {
	margin-top: 			30px;
}

.ui-datatable.t1 {width: 70px;}
.ui-datatable.t2 {width: 160px;}
.ui-datatable.t3 {width: 250px;}
.ui-datatable.t4 {width: 340px;}
.ui-datatable.t5 {width: 430px;}
.ui-datatable.t6 {width: 520px;}
.ui-datatable.t7 {width: 610px;}
.ui-datatable.t8 {width: 700px;}
.ui-datatable.t9 {width: 790px;}
.ui-datatable.t10 {width: 880px;}
.ui-datatable.t11 {width: 970px;}
.ui-datatable.t12 {width: 1060px;}

.ui-datatable tr:first-child th:first-child,
.ui-datatable tr:first-child td:first-child {
}
.ui-datatable tr:first-child th:last-child,
.ui-datatable tr:first-child td:last-child {
}
.ui-datatable tr:last-child th:first-child,
.ui-datatable tr:last-child td:first-child {
}
.ui-datatable tr:last-child th:last-child,
.ui-datatable tr:last-child td:last-child {
}

/* Table Headers */
.ui-datatable tr th {
	font-family: 			"myriad-pro-n7", "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	font-weight:			700;
	letter-spacing:		-0.03em;
	font-size: 			14px;
	line-height: 			16px;
	padding: 				8px;
	text-shadow: 			1px 1px 0px rgba(255,255,255,0.6);
	border-top:			solid 1px #e0e0e0;
	background:			#fff;
}

/* Regular table border top only - except first row */
.ui-datatable tr td {
	font-family: 			"myriad-pro-n4", "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	font-weight:			400;
	letter-spacing:		-0.03em;
	font-size: 			13px;
	line-height: 			16px;
	padding: 				8px;
	text-shadow: 			1px 1px 0px rgba(255,255,255,0.6);
	border-top:			solid 1px #e0e0e0;
	background:			#fbfbfb;
}

.ui-datatable.flat tr th,
.ui-datatable.flat tr td {
	padding:				3px 8px;
}

.ui-datatable thead tr:first-child th,
.ui-datatable tr.totals th {
	border-top:			none!important;
}

/* Zebra'd Tables */
.ui-datatable.zebrad tr.tr-odd td {
	background-color: 		#f5f5f5;
}

/* Bordered Tables */
.ui-datatable.bordered tr th {
	border-top:			solid 1px #e0e0e0;
	border-right:			solid 1px #e0e0e0;
	border-bottom:			solid 1px #e0e0e0;
}
.ui-datatable.bordered tr th:first-child {
	border-left:			solid 1px #e0e0e0;
}
.ui-datatable.bordered tr td {
	border-top:			none;
	border-right:			solid 1px #e0e0e0;
	border-bottom:			solid 1px #e0e0e0;
}
.ui-datatable tr:first-child td {
	border-top:			solid 1px #e0e0e0;
}
.ui-datatable.bordered tr td:first-child {
	border-left:			solid 1px #e0e0e0;
}

/* Hover'ed Tables */
.ui-datatable.hover tr:hover td {
	background-color:		#f0f3f7!important;
}


/* Sorting */
.ui-datatable tr th.sort {
	cursor: 				pointer;
}
.ui-datatable tr th.sort.asc {
	/*background-image:		url(/images/sort_header_bg.png);*/
	background-position: 	center bottom;
}
.ui-datatable tr th.sort.asc:hover, .ui-datatable tr th.sort:hover {
	/*background-image: 		url(/images/sort_header_bg.png);*/
	background-position: 	center top;
}
.ui-datatable tr th.sort.desc {
	/*background-image: 		url(/images/sort_header_bg.png);*/
	background-position: 	center top;
}
.ui-datatable tr th.sort.desc:hover {
	/*background-image: 		url(/images/sort_header_bg.png);*/
	background-position: 	center bottom;
}
.ui-datatable tr td.sorted {
	background-color: 		#fcfefe;
}
.ui-datatable tr.tr-odd td.sorted {
	background-color: 		#f7fbff;
}
.ui-datatable tr td.sorted,
.ui-datatable tr th.sorted {
	background-image: 		url(/images/sort_column_bg.png);
}
.ui-datatable tr:hover td.sorted {
	border-bottom: 		solid 1px #99c3ff!important;
	background-color: 		#ebf5ff!important;
}
.ui-datatable tr.totals:hover th.sorted {
	background-color: 		#d9ecff!important;
}

.ui-datatable tr.disabled {
	filter:				alpha(opacity=50);
	-khtml-opacity:		0.5;
	-moz-opacity:			0.5;
	opacity:				0.5;
}

.error {
        color: red;
        font-weight: bold;
        padding-left: 9px;
}

/* REFERRAL TRACKER */
.box.referraltracker {
	background:			#e1f2f9;
	-moz-box-shadow:		0 0 100px #cde4ee inset;
	-webkit-box-shadow:		0 0 100px #cde4ee inset;
	box-shadow:			0 0 100px #cde4ee inset;
	padding:				0 0 10px 0;
}
.referraltracker h2 {
	color:				#004766;
	text-shadow:			1px 1px 0 #fff;
	font-size:			21px;
	letter-spacing:		-.01em;
	line-height:			24px;
	margin:				10px 15px;
	padding:				0 0 10px;
	border-bottom:			solid 1px #92bbcd;
	text-align:			center;
}
.referraltracker > p {
	color:				#333;
	text-shadow:			1px 1px 0 #fff;
	font-size:			14px;
	line-height:			18px;
	margin:				10px 0!important;
	padding:				0 15px;
	text-align:			center;
}
.referraltracker .referral_marker {
	background:			#eaf5f8;
	color:				#000;
	font-size:			16px;
	font-weight:			bold;
	line-height:			30px;
	text-align:			center;
	position:				relative;
	z-index:				1;
	border-top:			solid 1px #c4d5dc;
	border-bottom:			solid 1px #fcfefe;
	margin:				0 0 10px;
}
.referraltracker .referral_arrow {
	background-image:		url(/images/referral_arrow.png);
	background-repeat:		no-repeat;
	position:				absolute;
	width:				60px;
}
.referraltracker .referral_arrow.top {
	height:				28px;
	top:					16px;
	left:				-20px;
}
.referraltracker .referral_arrow.bottom {
	top:					44px;
	left:				-20px;
	background-position:	left bottom;
}
.referraltracker .referral_slot {
	padding:				5px 0 5px 50px;
	margin:				0 15px;
	position:				relative;
	border-top:			solid 1px #fcfefe;
	border-bottom:			solid 1px #c4d5dc;
}
.referraltracker .referral_slots .referral_slot:first-child {
	border-top:			none;
}
.referraltracker .referral_slots .referral_slot:last-child {
	border-bottom:			none;
}
.referraltracker .referral_slot.dim {
	filter:				alpha(opacity=50);
	-khtml-opacity:		0.5;
	-moz-opacity:			0.5;
	opacity:				0.5;
}
.referraltracker .referral_slot h4 {
	color:				#004966;
	font-size:			17px;
	line-height:			23px;
	margin:				0;
}
.referraltracker .referral_slot p {
	color:				#333;
	font-size:			12px;
	line-height:			15px;
	margin:				0;
}
.referraltracker .referral_icon {
	position:				absolute;
	top:					4px;
	left:				0px;
	width:				40px;
	height:				40px;
	background:			transparent url(/images/referral_icons.png);
}
.referraltracker .referral_icon.plus {
	background-position:	0 -40px;
}
.referraltracker .referral_icon.goal {
	background-position:	0 -80px;
}
.referraltracker .referral_icon.goal.plus {
	background-position:	0 -120px;
}
.referral_step {
	margin:				-5px 10px -4px -5px;
	line-height:			32px;
	width:				36px;
	height:				36px;
	background:			#115d7c;
	font-size:			28px;
	font-style:			italic;
	text-align:			center;
	text-shadow:			-1px -1px 0 #000;
	color:				#fff;
	-moz-border-radius: 	18px;
	-webkit-border-radius: 	18px;
	border-radius: 		18px 18px 18px 18px;
	float:				left;
}


/*** setting tab, content setting style starts ***/

.dashboardMenu a .notification.red{
    background-color: #ff2c29;
    color: #fff;
    border-radius: 3px
}

ul.contentSettings.dashboardForm{
    background: none;
}
.dashboardRowHeader .notification{
    font-size: 12px;
    color: #fff;
    background-color: #ff2c29;
    padding: 4px 7px;
    border-radius: 3px;
    text-shadow: none;
    margin-left: 15px;
}
.contentSettings .dashboardRowHeader{
    border-bottom: 1px solid #ededed;
}
.dashboardRow > form{
    padding: 0 20px;
}
.dashboardRow > form > p{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    color: #000;
}
ul.settings{
    background: none;
}
ul.settings li {
    float: left;
    width: 208px;
    margin-left: 23px;
}
ul.settings li:first-child {
    margin-left: 0;
}
ul.settings .uiButton {
    float: right;
}
ul.settings input.uiButton {
    float: right;
}
ul.settings h4 {
    margin-bottom: 0;
    font-size: 16px;
    color: #000;
}
ul.settings p{
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
    color: #6e6e6e;
}
ul.settings li > div{
	padding-bottom: 5px;
}
ul.settings li > div input[type="checkbox"] {
    margin-top: 3px;
    margin-right: 5px;
}
ul.settings li > div label{
	display: inline-block;
    vertical-align: top;
    color: #6e6e6e;
	margin-left: -21px;
	padding-left: 25px;
	background: url('/images/unselected.png') #FFF left top no-repeat;
	zoom: 1;
	*padding-top: 2px;
	*margin-left: -24px;
	*position: absolute;
	cursor: pointer;
}
ul.settings div.selected label {
	color: #000;   
	font-weight: 600;
	background: url('/images/selected.png') #FFF left top no-repeat;
}	
ul.settings li > div label .img{
    padding-left: 18px;
    margin-left: 3px;
}
ul.settings li > div label .img.camera{
	background: url('/images/picture.png') no-repeat;
}
.dashboardContent form input.uiButton{
    float: right;
    margin: 30px 0px 30px;
    padding: 8px 20px;
}


/*** setting tab, content setting style ends ***/

/*** booking Tabs style start **/
.dashboardField *{
	margin: 0;
	padding: 0;
}
.dashboardField .bookingTabContainer li{
	float: left;
	background-color: #D2D2D2;
	color: #8C8C8C;
	padding: 6px 0px 7px;
	width: 152px;
	margin-left: 4px;
	border: 1px solid #c3c3c3;
	cursor: pointer;
	text-align: center;
}
.dashboardField .bookingTabContainer li:first-child{
	margin-left: 0;
}
.dashboardField .bookingTabContainer li.selected{
	background-color: #6a6a6a;
	color: #fff;
	border-color: #6a6a6a;
}
.dashboardField .bookingTabDetailContainer{
	background: #6C6C6C;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6C6C6C), to(#a4a4a4));
	background: -webkit-linear-gradient(#6C6C6C, #a4a4a4);
	background: -moz-linear-gradient(#6C6C6C, #a4a4a4);
	background: -ms-linear-gradient(#6C6C6C, #a4a4a4);
	background: -o-linear-gradient(#6C6C6C, #a4a4a4);
	background: linear-gradient(#6C6C6C, #a4a4a4);
	-pie-background: linear-gradient(#6C6C6C, #a4a4a4);
	behavior: url(/PIE.htc);
	padding: 7px;
}
.dashboardField .bookingTabDetailContainer > div{
	display: none;
}
.dashboardField .bookingTabDetailContainer.cust .customerInfo,
.dashboardField .bookingTabDetailContainer.list .listingAgent,
.dashboardField .bookingTabDetailContainer.property .propertyDetails{
	display: block;
}
.dashboardField .bookingTabDetailContainer .customerInfo > div,
.dashboardField .bookingTabDetailContainer .listingAgent > div,
.dashboardField .bookingTabDetailContainer .propertyDetails > div{
	padding: 15px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #ccc;
	background-color: #e6e6e6;
}

.dashboardField .bookingTabDetailContainer .userImg,
.dashboardField .bookingTabDetailContainer .userName{
	float: left;
}
.dashboardField .bookingTabDetailContainer .userImg img{
	margin: 2px 10px 0px 0px;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}
.dashboardField .bookingTabDetailContainer .userName{
	font-size: 28px;
	color: #666;
}
.dashboardField .bookingTabDetailContainer  .customerInfo .contactInfo > div{
	float: left;
}
.dashboardField .bookingTabDetailContainer  .customerInfo .contactInfo span{
	font-weight: bold;
	font-size: 18px;
}
.dashboardField .bookingTabDetailContainer .customerInfo .contactInfo > div:first-child{
	margin-right: 40px;
}

.dashboardField #country, .dashboardField #state, .dashboardField #city {
	margin: 0 0 10px 0 !important;
	clear: left;
}

/*** booking Tabs style ends **/




/******************************************/
/*** NEW LISTING LOOK/FEEL STYLE STARTS ***/
/******************************************/

.listingItemContainer{
	margin: 20px 0px;
}

.listingItem{
	margin-bottom: 15px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-ms-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	width: 708px;
	border: 1px solid #d7d7d7;
	list-style: none;
}

.listingItem.offTheMarket > *,
.listingItem.sold > *{
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.listingItem.offTheMarket .listingItemHeader{
	opacity: 1;
	filter: alpha(opacity  = 100);
}

.listingItem.offTheMarket .listingItemHeader .right .status{
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.listingItem .listingItemHeader{
	border-bottom: 1px solid #d7d7d7;
	cursor: pointer;
}

.listingItem .listingItemHeader:hover{
	background: #F3F3F3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f3f3f3));
	background: -webkit-linear-gradient(#FFFFFF, #f3f3f3);
	background: -moz-linear-gradient(#FFFFFF, #f3f3f3);
	background: -ms-linear-gradient(#FFFFFF, #f3f3f3);
	background: -o-linear-gradient(#FFFFFF, #f3f3f3);
	background: linear-gradient(#FFFFFF, #f3f3f3);
	-pie-background: linear-gradient(#FFFFFF, #f3f3f3);
	behavior: url(/PIE.htc);
}

.listingItem .listingItemInfo{
	background-color: #fbfbfb;
	border-radius: 0px 0px 8px 8px;
}

.listingItem .listingItemHeader .left{
	font-size: 14px;
	padding-top: 5px;
}

.listingItem .listingItemHeader .left,
.listingItem .listingItemInfo .left{
	float: left;
	text-align: center;
	width: 77px;
}

.listingItem .listingItemHeader .right,
.listingItem .listingItemInfo .right{
	float: right;
	width: 630px;
	border-left: 1px solid #d7d7d7;
}

.listingItem .listingItemHeader .left a{
	text-decoration: none;
	color: #000;
}

.listingItem .listingItemHeader .right{
	padding: 5px;
	width: 620px;
}

.listingItem .listingItemInfo .right{
	padding: 10px;
	width: 610px;
}

.listingItem .listingItemHeader .status{
	float: left;
}

.listingItem .listingItemHeader .status > span{
	padding-left: 35px;
	font-weight: 700;
	font-size: 18px;
	color: #000;
	background: url('/css/images/new-price-icon.png') 5px 2px no-repeat;
}

.listingItem .listingItemHeader .status > span.listing{
	background-image: url('/css/images/listing-icon.png');
}

.listingItem .listingItemHeader .status > span.offTheMarket,
.listingItem .listingItemHeader .status > span.sold{
	background-image: url('/css/images/not-available-icon.png');
}

/* .listingItem.newPrice .listingItemHeader .status > span.newPrice, */
/* .listingItem.listing .listingItemHeader .status > span.listing, */
/* .listingItem.offTheMarket .listingItemHeader .status > span.offTheMarket, */
/* .listingItem.sold .listingItemHeader .status > span.sold{ */
/* 	display: inline-block; */
/* } */

.listingItem .listingItemHeader .links{
	float: right;
}

.listingItem .listingItemHeader .links > a{
	font-size: 12px;
	padding: 3px 10px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	display: inline-block;
	color: #808080;
	text-decoration: none;
	font-weight: 600;
	background-color: #fff;
}

.listingItem .listingItemHeader .links > a.markSold:hover{
	background-color: #ff0000;
	color: #fff;
	border-color: #ff0000;
	text-decoration: none;
}

.listingItem .listingItemHeader .links > a.offMarket:hover{
	background-color: #9b9b9b;
	color: #fff;
	border-color: #9b9b9b;
	text-decoration: none;
}

.listingItem .listingItemHeader .links > a.priceChange:hover{
	background-color: #004ecc;
	color: #fff;
	border-color: #004ecc;
	text-decoration: none;
}

.listingItem .listingItemHeader .links > a.reblast:hover{
	background-color: #009a3b;
	color: #fff;
	border-color: #009a3b;
}

.listingItem .listingItemHeader .links > a.relist:hover{
	background-color: #009a3b;
	color: #fff;
	border-color: #009a3b;
	text-decoration: none;
}

.listingItem .listingItemInfo .left .listingImg{
	padding: 4px;
	width: 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #e5e5e5;
	margin: 8px 0px 0px 8px;
	position: relative;
}

.listingItem .listingItemInfo .left .listingImg .listingImgArrow{
	position: absolute;
	top: -17px;
	left: 20px;
	background: url('/css/images/listing-img-arrow.png') no-repeat;
	height: 9px;
	width: 20px;
	display: block;
}

.listingItem .listingItemInfo .right .infobox{
	float: left;
	color: #6e6e6e;
}

.listingItem .listingItemInfo .right .address,
.listingItem .listingItemInfo .right .listedOn{
	padding: 1px 0px 1px 30px;
	background: url('/css/images/address-icon.png') no-repeat;
}

.listingItem .listingItemInfo .right .listedOn{
	background-image: url('/css/images/listedon-icon.png');
	margin-top: 15px;
}

.listingItem .listingItemInfo .right .statbox{
	float: right;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

.listingItem .listingItemInfo .right .statbox .clicked,
.listingItem .listingItemInfo .right .statbox .seen{
	float: left;
	font-size: 12px;
	padding: 5px;
	text-align: center;
}

.listingItem .listingItemInfo .right .statbox .clicked h2,
.listingItem .listingItemInfo .right .statbox .seen h2{
	margin: 0;
	font-size: 18px;
}

.listingItem .listingItemInfo .right .statbox .seen .clicked div{
	font-weight: 600;
}

.listingItem .listingItemInfo .right .statbox .clicked{
	border-right: 1px solid #d7d7d7;
}

/******************************************/
/*** NEW LISTING LOOK/FEEL STYLE ENDS ***/
/******************************************/