
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap} .img_loading{position:absolute;top:-9999999px}
.aero{opacity:.5} .column{float:left} .center{margin-left:auto;margin-right:auto} #facebook .hidden_elem{display:none !important}
#facebook .invisible_elem{visibility:hidden} #facebook .accessible_elem{left:-9999px;position:absolute} .direction_ltr{direction:ltr}
.direction_rtl{direction:rtl} .text_align_ltr{text-align:left} .text_align_rtl{text-align:right}.pas{padding:5px} .mas{margin:5px}
.mam{margin:10px} .mal{margin:20px} .mts{margin-top:5px} .mtm{margin-top:10px} .mtl{margin-top:20px} .mrs{margin-right:5px}
.mrm{margin-right:10px} .mrl{margin-right:20px} .mbs{margin-bottom:5px} .mbm{margin-bottom:10px} .mbl{margin-bottom:20px}
.mls{margin-left:5px} .mlm{margin-left:10px} .mll{margin-left:20px} .mhs{margin-left:5px;margin-right:5px} .mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px} .mvs{margin-top:5px;margin-bottom:5px;margin-left: 2px;} .mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}.uiIconText{display:inline-block;padding-left:21px;position:relative}
label.uiIconText{vertical-align:baseline} .uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}.fss{font-size:9px}
.fsm{font-size:11px} .fsl{margin-left: 3px; font-size:14px} .fsxl{font-size:16px} .fsxxl{font-size:18px} .fwn{font-weight:normal} .fwb{font-weight:bold}
.fcb{color:#333} .fcg{color:gray}.uiFacepileSmall ul{margin-top:-2px} .uiFacepileMedium ul{margin-top:-1px} .uiFacepileLarge ul{margin-top:-3px}
.uiFacepile .link{display:block;position:relative} .uiFacepile .uiFacepileItem .img{vertical-align:bottom}
.uiFacepileSmall .uiFacepileItem{margin:2px 2px 0 0;} .uiFacepileMedium .uiFacepileItem{margin:1px 1px 0 0}
.uiFacepileLarge .uiFacepileItem{margin:3px 3px 0 0} .uiFacepile li:last-child{margin-right:0}
.uiFacepile .showAll{width:100%} .uiFacepile .showAllLink{border-color:#7792ba;border-width:1px 0 0;padding:3px;vertical-align:middle}
.uiFacepileSmall .showAllLink{line-height:18px;margin:2px 2px 0 0} .uiFacepileMedium .showAllLink{line-height:24px;margin:1px 1px 0 0}
.uiFacepileLarge .showAllLink{line-height:44px;margin:5px 5px 0 0}.uiListItem{display:block}
._4ki > li{border-width:0 0 0 1px;float:left} ._4kg > li{border-width:1px 0 0 0} .uiListItem:first-child{border-width:0}
._4ks > li{border-color:#e9e9e9;border-style:solid} ._4kt > li{border-color:#ccc;border-style:solid} ._4ku > li{border-color:#aaa;border-style:solid}
._4of{color:#3b5998;list-style-type:square;margin-left:12px} ._4ki._703 > li{padding-left:20px;padding-right:20px}
._4ki._704 > li{padding-left:5px;padding-right:5px} ._4ki._6-j > li{padding-left:10px;padding-right:10px} ._4ki._6-i > li{padding-right:0}
._4kg._704 > li{padding-top:5px;padding-bottom:5px} ._4kg._6-j > li{padding-top:10px;padding-bottom:10px} ._4kg._703 > li{padding-top:20px;padding-bottom:20px}
._4kg._6-i > li{padding-bottom:0} ._4kg._6-h > li:first-child{padding-top:0} ._4kg._6-h > li:last-child{padding-bottom:0}
._4ki > li:first-child{padding-left:0} ._4ki > li:last-child{padding-right:0}._s0:only-child{display:block} ._ru{background-position:center 25%}
._rv{width:100px;height:100px} ._rw{width:50px;height:50px} ._rx{width:32px;height:32px} ._ry{width:24px;height:24px}
._nnx{height:16px;width:16px}.sp_favicon{background-image:url('/images/facebook-icon.png');background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_favicon_fav{background-position:-0px -0px} .sx_favicon_favgrey{background-position:-0px -15px}i.img{-ms-high-contrast-adjust:none;_overflow:hidden}
i.img u{position:absolute;top:-9999999px}