@charset "UTF-8";
/* CSS Document */

/* Forms */

/* Buttons */

/* STANDARD BUTTON (RED) */
input.uiButton, a.uiButton {
	float: left;
	margin: 0;
	font-size: 19px;
	text-decoration: none!important;
	font-weight: 600;
	font-style: italic;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px;
	outline: medium none!important;
	border: none!important;
	cursor: pointer;
	position: relative;
	color: #ffe5e5;
	text-shadow: -1px -1px 0px #a10000;
	text-align: center;
	letter-spacing: .02em;
	background: url(/images/button_bgs.png) repeat-x 0px -15px;
	-moz-box-shadow: inset 0px 1px 0px #ff6c6c, inset 0px -1px 0px #410000;
	-webkit-box-shadow: inset 0px 1px 0px #ff6c6c, inset 0px -1px 0px #410000;
	box-shadow: inset 0px 1px 0px #ff6c6c, inset 0px -1px 0px #410000;
	z-index: 3;
	zoom: 1;
	position: relative;
	behavior: url(/css/PIE.htc);
}
input.uiButton {
	padding: 0 15px 0;
	height: 40px;
	line-height: 40px;
}
a.uiButton {
	padding: 0 15px 0;
	height: 40px;
	line-height: 40px;
}
input.uiButton:hover, a.uiButton:hover {
	color: #FFFFFF;
	background: url(/images/button_bgs.png) repeat-x 0px -85px;
}

/* ALT/SECONDARY BUTTON (BLUE) */
	input.uiButton.alt, a.uiButton.alt {
		color: #dae2f2;
		text-shadow: -1px -1px 0px #1a3c80;
		background: url(/images/button_bgs.png) repeat-x 0px -155px;
		-moz-box-shadow: inset 0px 1px 0px #3377ff, inset 0px -1px 0px #0f244d;
		-webkit-box-shadow: inset 0px 1px 0px #3377ff, inset 0px -1px 0px #0f244d;
		box-shadow: inset 0px 1px 0px #3377ff, inset 0px -1px 0px #0f244d;
	}
	input.uiButton.alt:hover, a.uiButton.alt:hover {
		color: #ffffff;
		background: url(/images/button_bgs.png) repeat-x 0px -225px;
	}

/* CANCEL BUTTON (GRAY) */
	input.uiButton.cancel, a.uiButton.cancel {
		color: #ffffff;
		text-shadow: -1px -1px 0px #999;
		background: url(/images/button_bgs.png) repeat-x 0px -295px;
		-moz-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
		-webkit-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
		box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	}
	input.uiButton.cancel:hover, a.uiButton.cancel:hover {
		background: url(/images/button_bgs.png) repeat-x 0px -365px;
	}

/* BLACK BUTTON */
	input.uiButton.black, a.uiButton.black {
		color: #e5e5e5;
		text-shadow: -1px -1px 0px #000;
		background: url(/images/button_bgs.png) repeat-x 0px -435px;
		-moz-box-shadow: inset 0px 1px 0px #8c8c8c, inset 0px -1px 0px #000000;
		-webkit-box-shadow: inset 0px 1px 0px #8c8c8c, inset 0px -1px 0px #000000;
		box-shadow: inset 0px 1px 0px #8c8c8c, inset 0px -1px 0px #000000;
	}
	input.uiButton.black:hover, a.uiButton.black:hover {
		color: #ffffff;
		background: url(/images/button_bgs.png) repeat-x 0px -505px;
	}

input.uiButton.disabled, a.uiButton.disabled, input.uiButton.disabled:hover, a.uiButton.disabled:hover {
	color: #cccccc;
	text-shadow: 0px 1px 0px #f8f8f8;
	background-color: #e5e5e5;
	border: solid 1px #e5e5e5;
	cursor: default;
	-moz-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
}
input.uiButton.disabled.progress, a.uiButton.disabled.progress, input.uiButton.disabled.progress:hover, a.uiButton.disabled.progress:hover {
	color: #a4a4a4;
	background-image: url(/images/disabled_button_progress_bg.gif)!important;
	background-position: left center;
	-moz-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
}



input.uiButton.right, a.uiButton.right {
	float: right;
}
input.uiButton.caps, a.uiButton.caps {
	text-transform: uppercase;
}

input.uiButton.large {
	font-size: 34px;
	padding: 3px 20px 0;
	height: 70px;
	line-height: 70px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}
a.uiButton.large {
	font-size: 32px;
	padding: 0 20px;
	height: 70px;
	line-height: 70px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}
input.uiButton.large, a.uiButton.large {
	background: url(/images/button_bgs.png) repeat-x 0px 0px;
}
input.uiButton.large:hover, a.uiButton.large:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -70px;
}
input.uiButton.large.alt, a.uiButton.large.alt {
	background: url(/images/button_bgs.png) repeat-x 0px -140px;
}
input.uiButton.large.alt:hover, a.uiButton.large.alt:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -210px;
}
input.uiButton.large.cancel, a.uiButton.large.cancel {
	background: url(/images/button_bgs.png) repeat-x 0px -280px;
}
input.uiButton.large.cancel:hover, a.uiButton.large.cancel:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -350px;
}
input.uiButton.large.black, a.uiButton.black.cancel {
	background: url(/images/button_bgs.png) repeat-x 0px -420px;
}
input.uiButton.large.black:hover, a.uiButton.black.cancel:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -490px;
}

input.uiButton.small {
	font-size: 14px;
	padding: 2px 10px 0;
	height: 24px;
	line-height: 24px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
a.uiButton.small {
	font-size: 16px;
	padding: 3px 10px 0;
	height: 21px;
	line-height: 21px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
input.uiButton.small, a.uiButton.small {
	background: url(/images/button_bgs.png) repeat-x 0px -23px;
}
input.uiButton.small:hover, a.uiButton.small:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -93px;
}
input.uiButton.small.alt, a.uiButton.small.alt {
	background: url(/images/button_bgs.png) repeat-x 0px -163px;
}
input.uiButton.small.alt:hover, a.uiButton.small.alt:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -233px;
}
input.uiButton.small.cancel, a.uiButton.small.cancel {
	background: url(/images/button_bgs.png) repeat-x 0px -303px;
}
input.uiButton.small.cancel:hover, a.uiButton.small.cancel:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -373px;
}
input.uiButton.small.black, a.uiButton.small.black {
	background: url(/images/button_bgs.png) repeat-x 0px -443px;
}
input.uiButton.small.black:hover, a.uiButton.small.black:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -513px;
}


input.uiButton.rightCap, a.uiButton.rightCap {
	float: right;
	margin-left: 0px;
	border-left: none!important;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
input.uiButton.leftCap, a.uiButton.leftCap {
	float: left;
	margin-right: 0px;
	border-right: none!important;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.uiButton.facebook {
	padding-left: 50px;
	text-shadow: -1px -1px 0 #17377e;
	color: #ffffff;
	background: url(/images/button_bgs.png) repeat-x 0px -645px;
	-moz-box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
	-webkit-box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
	box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
}
.uiButton.facebook:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -715px;
}
.uiButton.large.facebook {
	background: url(/images/button_bgs.png) repeat-x 0px -630px;
}
.uiButton.large.facebook:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -700px;
}
.uiButton.facebook.off {
	text-shadow: -1px -1px 0px #999;
	background: url(/images/button_bgs.png) repeat-x 0px -1065px;
	-moz-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	-webkit-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
}
.uiButton.facebook.off:hover {
	color: #ffffff;
	background: url(/images/button_bgs.png) repeat-x 0px -1135px;
}
.uiButton.large.facebook.off {
	background: url(/images/button_bgs.png) repeat-x 0px -1050px;
}
.uiButton.large.facebook.off:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -1120px;
}

.uiButton.twitter {
	padding-left: 50px;
	text-shadow: -1px -1px 0 #146f8c;
	color: #ffffff;
	background: url(/images/button_bgs.png) repeat-x 0px -785px;
	-moz-box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
	-webkit-box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
	box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
}
.uiButton.twitter:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -855px;
}
.uiButton.large.twitter {
	background: url(/images/button_bgs.png) repeat-x 0px -770px;
}
.uiButton.large.twitter:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -840px;
}

.uiButton.twitter.off {
	background: url(/images/button_bgs.png) repeat-x 0px -1205px;
	text-shadow: -1px -1px 0px #999;
	-moz-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	-webkit-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
}
.uiButton.twitter.off:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -1275px;
}
.uiButton.large.twitter.off {
	background: url(/images/button_bgs.png) repeat-x 0px -1190px;
}
.uiButton.large.twitter.off:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -1260px;
}

.uiButton.linkedin {
	padding-left: 50px;
	text-shadow: -1px -1px 0 #3c83a2;
	color: #ffffff;
	background: url(/images/button_bgs.png) repeat-x 0px -925px;
	-moz-box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
	-webkit-box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
	box-shadow: 0 1px 0 #6179ad inset, 0 -1px 0 #16326e inset;
}
.uiButton.linkedin:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -995px;
}
.uiButton.large.linkedin {
	background: url(/images/button_bgs.png) repeat-x 0px -910px;
}
.uiButton.large.linkedin:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -980px;
}

.uiButton.linkedin.off {
	background: url(/images/button_bgs.png) repeat-x 0px -1345px;
	text-shadow: -1px -1px 0px #999;
	-moz-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	-webkit-box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
	box-shadow: inset 0px 1px 0px #f2f2f2, inset 0px -1px 0px #808080;
}
.uiButton.linkedin.off:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -1415px;
}
.uiButton.large.linkedin.off {
	background: url(/images/button_bgs.png) repeat-x 0px -1330px;
}
.uiButton.large.linkedin.off:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -1400px;
}



/* Firefox Input Reset */
;focus, ::-moz-focus-inner {
	border:0;
	padding:0;
}

.uiInput, .uiTextarea {
	outline: medium none!important;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-weight: normal;
	font-size: 14px;
	height: 24px;
	padding: 4px 9px 0;
	float: left;
	background-color: #eeeeee;
	border: solid 1px #c9c9c9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 1px 1px 3px #e5e5e5 inset;
	-webkit-box-shadow: 1px 1px 3px #e5e5e5 inset;
	box-shadow: 1px 1px 3px #e5e5e5 inset;
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}
.uiTextarea {
	line-height: 16px;
	padding: 9px;
}
.uiInput:hover, .uiTextarea:hover {
	border-color: #b3b3b3;
}
.uiInput.active, .uiTextarea.active {
	color: #000;
	background-color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*
.uiInput.active, .uiTextarea.active {
	color: #fff;
	background: none repeat scroll 0 0 transparent;
	background-color: #666666;
	border-color: #333;
	-moz-box-shadow: 0px 0px 10px #e5e5e5, 0px 0px 10px #333 inset;
	-webkit-box-shadow: 0px 0px 10px #e5e5e5, 0px 0px 10px #333 inset;
	box-shadow: 0px 0px 10px #e5e5e5, 0px 0px 10px #333 inset;
}
*/

.city_error{
	border-color: #CC0000 !important;
	background-color: #F5B5A9 !important;
}

.uiInput.error, .uiTextarea.error {
	color: #CC0000;
	background-color: #ffe5e5;
	border: solid 1px #ff6666;
}
.uiInput.leftCap {
	border-right: none;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.uiInput.right {
	float: right;
}
.uiCheckbox, .uiRadio {
	height: 14px;
	width: 14px;
	margin: 8px 0 0 0!important;
	cursor: pointer;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #a4a4a4;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
	float: left;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiRadio {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
}
.uiCheckbox:hover, .uiRadio:hover {
	border: solid 1px #333333;
}
.uiCheckbox.active, .uiRadio.active {
	border-color: #66ccff;
	-moz-box-shadow: 0px 0px 10px #99ddff;
	-webkit-box-shadow: 0px 0px 10px #99ddff;
	box-shadow: 0px 0px 10px #99ddff;
}
.uiCheckbox.error, .uiRadio.error {
	border: solid 1px #ff6666;
}
.uiCheckbox.checked {
	background-image: url(/images/checkbox_bgs.png);
	background-position: 0 0;
}
.uiRadio.checked {
	background-image: url(/images/checkbox_bgs.png);
	background-position: 0 -30px;
}

.uiSelectWrapper {
	/* padding:6px 9px; */
	padding: 6px 1px 6px 1px;
	height: 18px;
	float: left;
	background-color: #eeeeee;
	border: solid 1px #c9c9c9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 1px 1px 3px #e5e5e5 inset;
	-webkit-box-shadow: 1px 1px 3px #e5e5e5 inset;
	box-shadow: 1px 1px 3px #e5e5e5 inset;
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}
	.uiSelectWrapper:hover {
		border: solid 1px #b3b3b3;
	}
	.uiSelectWrapper.active, .uiSelectWrapper.active:hover {
		color: #000;
		background: none repeat scroll 0 0 transparent;
		background-color: #FFFFD6;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
.uiSelectInner {
	overflow: hidden;
	float: left;
}
.uiSelect {	
	-webkit-appearance: none;
	margin: -1px!important;
	padding: 0;
	display: inline-block;
	float: left;
	height: 22px;
	z-index: 2;
	color: #000;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size: 14px;
	border: none;
	outline: medium none!important;
	background: url(/images/select_arrow.png) no-repeat center right;
	padding:0px 4px 4px 4px;
	line-height: normal;
}

input.uiSelect {
	/*background: url(/images/icon_search.png) no-repeat center right;*/	/* commented as we need to display down arrow instead of this image */
}
.uiSelect.active {
	color: #000;
}

.uiSelect.error {
	color: #CC0000;
	background-color: #ffe5e5;
	border: solid 1px #ff6666;
}
.uiSelect.error:focus, .uiSelect.error:focus {
	-moz-box-shadow: 0px 0px 10px #ff9999;
	-webkit-box-shadow: 0px 0px 10px #ff9999;
	box-shadow: 0px 0px 10px #ff9999;
}

/*-----------hue value=1-----------*/

/* UI Form */
ul.uiForm, 
ul.uiForm li, 
ul.uiForm li ul, 
ul.uiForm li ul li {
	padding: none!important;
	margin: none!important;
	list-style-type: none!important;
}
ul.uiForm {
	margin: 0 -20px;
/* 	width: 1000px; */
}
ul.uiForm.small {
	width: 660px;
}
.uiForm ul, .uiForm li {
	float: left;
	margin: 0px;
}

.uiForm > li{
	float: none;
}

ul.uiForm li ul li ul {
	margin-left: 2em;
	margin-bottom: 1.5em;
}
ul.uiForm li ul li ul li {
	float: none;
	list-style-type: square!important;
	margin-bottom: .5em;
}

.uiFormRowHeader {
	font-size: 21px;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-weight: 600;
	line-height: 26px;
	text-shadow: 1px 1px 0px #fff;
	color: #000;
	margin: 0 0 -1px 0!important;
	padding: 20px;
/* 	width: 960px; */
	border-top: solid 1px #fff;
	border-bottom: solid 1px #e5e5e5;
	background-color: #f2f2f2;
	background-image: -moz-linear-gradient(top, #d9d9d9, #f2f2f2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d9d9d9),color-stop(1, #f2f2f2)); /* Saf4+, Chrome */
	background: linear-gradient(#d9d9d9, #f2f2f2);
	-pie-background: linear-gradient(#d9d9d9, #f2f2f2);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.thankyou .uiFormRowHeader{
	padding: 20px 40px;
}
.uiForm.small .uiFormRowHeader {
	padding: 20px;
	width: 620px;
}
.uiFormRowHeader.underTabs {
	-moz-border-radius: 0 8px 0 0;
	-webkit-border-radius: 0 8px 0 0;
	border-radius: 0 8px 0 0;
}
.uiForm .uiFormRow {
/* 	width: 1000px; */
	background: url(/images/form_divider.png) no-repeat;
}
.thankyou .uiFormRow{
	padding: 20px 40px;
	background: none;
}
.thankyou .shareBlast,
.thankyou .previewBlast{
	text-align: right;
	float: left;
	width: 390px;
	border: 1px solid #d8d8d8;
	border-radius : 8px;
	padding: 15px 25px;
	background-color: #ededed;
}
.thankyou .previewBlast{
	margin-left: 32px;
}
.thankyou .shareBlast p,
.thankyou .previewBlast p{
	color: #000;
	font-size: 21px;
	font-weight: 600;
	margin: 10px 0px 10px;
	font-style: italic;
}
.thankyou .shareBlast a,
.thankyou .previewBlast a{
	float: right;
	font-size: 14px;
	color: #fff;
	background-color: #003cd1;
	border-radius: 5px;
	padding: 11px 28px 12px;
}
.uiForm.small .uiFormRow {
	width: 660px;
	background: url(/images/form_divider.png) no-repeat;
}
.uiForm .uiFormRow.last {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	margin-bottom: -20px;
}
.uiForm .info {
	line-height: 20px;
	width: 1000px;
	padding: 10px;
	float: left;
}
.uiForm.small .info {
	width: 660px;
}
.uiForm .buttons {
	width: 620px;
	padding: 10px 20px;
	float: left;
	background: url(/images/form_divider.png) no-repeat;
}
.uiForm.small .buttons {
	width: 620px;
}
.uiForm .buttons .uiButton {
	margin-left: 5px;
}
.uiForm .fieldname {
	width: 310px;
	padding: 12px 20px 10px;
	float: left;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}
.uiForm.small .fieldname {
	width: 210px;
}
.uiForm .field {
	width: 610px;
	padding: 12px 20px 10px;
	float: left;
}
.uiForm.small .field {
	width: 370px;
}
.uiForm .field span.label {
	float: left;
	margin: 0 20px 0 10px;
	line-height: 30px;
	font-size: 12px;
}
.uiForm .fieldhelp {
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 18px!important;
	display: block!important;
	margin-top: 4px;
	color: #666666;
}
.uiFormFooterMessage {
	float: left;
	margin-top: 10px;
	line-height: 30px;
	font-size: 12px;
}
.uiFormFooterMessage strong {
	color: #333;
}

ul.normal, ol.normal {
	margin: 0px!important;
}
ul.normal li, ol.normal li {
	line-height: 24px!important;
	margin-left: 10px!important;
}

.uiForm .upsell {
	width: 960px;
	padding: 20px;
	background-color: #252525;
	border-top: solid 1px #fff;
	background-image: url(/images/upsell_new_bg.png);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiForm .listonly {
	width: 960px;
	padding: 0 20px;
	height: 60px;
	background: #f2f2f2;
	border-top: solid 1px #999;
	-moz-box-shadow: 0 0 20px #cccccc inset;
	-webkit-box-shadow: 0 0 20px #cccccc inset;
	box-shadow: 0 0 20px #cccccc inset;
	position: relative;
	behavior: url(/css/PIE.htc);
}


.admin-update-listing.container_12,  .box.form.clearfix .grid_12, .box.form.clearfix .grid_8, .admin-update-listing .content_wrapper {
    width: 1000px !important;
}
.admin-update-listing .box.form.clearfix .grid_8 { margin: 0 !important; }
.admin-update-listing .uiFormRow.clearfix {
    background: url(/images/form_bg.png) left bottom repeat !important;
}
.admin-update-listing .box {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #666;
    margin: 0 0 20px;
    padding: 0 20px 20px;
    position: relative;
    z-index: 1;
}
.admin-update-listing .box_section {
    background-color: #EDEDED;
    border-bottom: 1px solid #CCC;
    border-radius: 8px 8px 0 0;
    font-family: myriad-pro,Helvetica,Arial,Verdana,sans-serif;
    font-weight: 400;
    margin: 0 -20px !important;
    padding: 20px;
    position: relative;
    text-shadow: 1px 1px 0 #EFEFEF;
}
.admin-update-listing .box_section h1 {
    color: #000000;
    margin-top: 0;
    text-shadow: 0 0 30px #F2F2F2;
}
.admin-update-listing .box.form.clearfix .uiFormRowHeader, .member-update .uiFormRowHeader { padding: 20px; }
.admin-update-listing .uiFormRow li.fieldname, .member-update .uiFormRow li.fieldname { width: 310px; padding:12px 20px 10px; clear: left; background: url("/images/form_divider.png") no-repeat scroll 0 0 transparent }
.admin-update-listing .uiFormRow li.field, .member-update .uiFormRow li.field { padding:12px 20px 10px !important; width: 610px !important; background:url("/images/form_divider.png") no-repeat scroll 0 0 transparent}
.admin-update-listing .uiFormRow li.field select, .member-update .uiFormRow li.field select { width: 275px; margin: -1px -2px -1px -1px; border: none !important; }
.admin-update-listing .uiFormRow li.field .uiSelectWrapper:hover, .member-update .uiFormRow li.field .uiSelectWrapper:hover { background:#fff; }
.admin-update-listing .uiFormRow.listonly.clearfix, .member-update .uiFormRow.listonly.clearfix {	background: #f2f2f2 !important; height: 90px; }
