.camera_bar{
    display: none !important;
}
.camera_caption>div>div>div>div{
    padding: 10px 37px;
}
.camera_wrap .camera_pag{
    bottom: 14px;
    left: 17px;
}
.camera_caption > div > div > div > div > :first-child + h3 + hr + p > span{
    font-size: 25px;
}
.camera_caption > div > div > div > div > :first-child + h3 + hr + p + p{
    padding-bottom: 15px;
}
.es-carousel{
	max-width: 480px;
	width: 420px;
	margin: 0 auto;
    padding-right: 20px;
}
h2{
    font-size: 25px;
    padding: 20px 0 7px;        
}
h2.big{
    font-size: 40px;
}
h3{
    font-size: 17px;
}
.search input, #form1 input {
    line-height: 1.2em;
}