#logo {
	height: 41px;
	margin-top: 10px;
}
.bannerContainer .playButton {
	background-color: #00404c;
	background-image: none;
}
.bannerBottom {
	text-shadow: none;
}
@media (max-width: 767px) {
	.home .bannerBottom {
		background: #ed9a8d;
	}
}