
/*---------------------------------*/
/*	PAGINATION				*/
/*---------------------------------*/
	
#pagination {
	margin: 20px 0 0 0;
	padding: 0px;
}
#pagination li { 
	border:0; 
	margin:0; 
	padding:0; 
	font-size:11px; 
	list-style:none; 
	/* savers */ 
	float:left; 
}
#pagination a {
	border:1px solid #CCC;
	margin-right:2px;
	color: #1B1B1B;
}
#pagination .previous-off,
#pagination .next-off {
	border:solid 1px #f2f2f2;
	background-color: #f8f8f8;
	color: #e5e5e5;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination .next a,
#pagination .previous a { 
	font-weight:bold;
}	
#pagination .active {
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left; /* savers */
	margin-right:2px;
	background-color: #333333;
	border:1px solid #000000;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination a:link, 
#pagination a:visited {
	color:#1B1B1B;
	background-color: #f8f8f8;
	display:block;
	float:left;
	text-decoration:none;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination a:hover {
	border:1px solid #b3b3b3;
	background-color: #ffffff;
}
