@charset "utf-8";
@import url("../css/reset.css");
@import url("../css/960.css");


/* ------------------------------------------
		GENERAL STYLING
--------------------------------------------- */
body								{ font-family: "Lucida Grande", Arial, Helvetica, sans-serif; background-color: #000; font-size: 13px; color: #666666; }

p								{ color: #666666; line-height: 1.5em; margin: 0.8em 0;}
h1,h2,h3,h4,h5,h6					
{ 
	font-family: Verdana,Geneva,sans-serif;
	font-weight: normal;
	color: #000000; 
	
	/* font-family: "camingodos-web-1","camingodos-web-2", "Lucida Grande", Tahoma, Geneva, sans-serif; */	
	/* font-weight: 700; */	
	/* margin: 1em 0 .25em 0; */
	/* letter-spacing: -.03em; */
}

a
{
	color: #0080FF;
}

a:visited
{
	color: #0080FF;
}

h1 { font-size: 28px; line-height: 1em;  }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }


ul 								{ margin-top: 8px; margin-bottom: 8px;}
blockquote 						{ margin:22px 40px; color:#575757; padding: 0px 50px; background: transparent url("../images/blockquote.gif") no-repeat 0 0; }


hr {
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
	line-height: 1px;
	border: none;
	font-size: 1px;
	clear: both;
}
span.hr {
	display: block;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
	line-height: 1px;
	border: none;
	font-size: 1px;
}

.hidden { display:none; }

.nowrap {
	white-space: nowrap;
}
/* ------------------------------------------
		CONTROL PANEL - SETTINGS  IN HEADER
--------------------------------------------- */

#placeholder {
	height: 200px;
	width: 620px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 90%;
	color: #CCCCCC;
}
#tooltip {
	font-size: 10px;
	font-weight: bold;
}

#toppanel 
{
	border-bottom: solid 1px #4D4D4D;
}

/* -------------------------------------------------------
		LOGO - COULD JUST USE YORU OWN IMAGE FOR A LOGO
---------------------------------------------------------*/

#logo
{
	text-decoration: none!important;
}
#logo h1 
{
	padding-top: 15px;
	font-size: 32px;
	line-height: 32px;
	color: #FFFFFF;
	margin: 0 0 3px 0;
	/* border-bottom: solid 1px #333; */
	font-weight: 900;
	text-shadow: -1px -1px 0 #333333, 0 0 30px #999999;
}
#logo h6 {
	font-size: 12px;
	color: #999;
	margin: 0px 2px 0 0;
	font-weight: 600;
	text-align: center;
}
#logo h6 span {
	color: #ccc;
}

#admin_wrapper {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	overflow: hidden;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
#admin_wrapper form #logo h1 {
	color: #333;
	margin-bottom: 19px;
}



#head_wrap 
{
	height: 75px;
	border-bottom: solid 1px #4D4D4D;	
}


/* ------------------------------------------
		CONTROL PANEL - SETTINGS  IN HEADER
--------------------------------------------- */

#controlpanel ul 		{ float: right;}
#controlpanel ul li 	{ display: inline; font-size: 11px; color: #F1F1F1; position: relative;}




#controlpanel ul li a, #navigation ul li a, #navigation ul li span, #controlpanel ul li span  {
	float: left;
	display: block;
	background-color: #1B1B1B;
	text-decoration: none;
	color: #efefef;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4B4B4B;
	border-right-color: #454545;
	border-bottom-color: #1B1B1B;
	border-left-color: #0D0D0D;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
}

#controlpanel ul li a:hover, #navigation ul li a:hover, #navigation ul li span:hover {
	background-color: #F2F2F2;
	color: #202020;
	border: 1px solid #F2F2F2;
}

#controlpanel ul li .last, #navigation ul li .nav_last {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #1B1B1B;
}



#controlpanel ul li p {
	padding: 6px;
	margin-right: 15px;
	float: left;
	color: #FFF;
}


/* ---------------------------------------
		NAVIGATION
----------------------------------------- */
#navigation {

	bottom: 0px;
}

#navigation ul li a, #navigation li > span {
	float: left;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;

}
#navigation ul li { display: inline;}

#navigation ul li .active {
	background-color: #F2F2F2;
	color: #3F3F3F;
	border: 1px solid #F2F2F2;
}

#navigation li > ul{
    display:none;
    position: absolute;
    left: 0px;
    top: 31px;
}
#navigation li:hover > ul{
    display:block;
}

#navigation li > ul > li{
    position:static;
}
#navigation li > ul > li a:hover{
    background-color: #F9F8E0;
    border: none;
    color: #000;
}
#navigation li > ul > li a{
    background-color: #F9F8E0;
    border: none;
    color: #000;
}

/* ---------------------------------------
		SUBNAVIGATION
----------------------------------------- */
/*************************************************************
#sub_nav {
	background-color: #333;
	overflow: hidden;
	padding: 5px 0;
}
#subnav ul {
	margin: 5px 0;
	height: 20px;
}
#subnav ul li a {
	text-decoration: none;
	color: #999;
	font-size: 10px;
	line-height: 12px;
	float: left;
	padding: 4px 15px;
	text-transform: uppercase;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#subnav ul li 							{ display: inline;}


#subnav_wrap #subnav ul li a:hover 		{ color: #333; text-decoration: underline;}
#subnav ul li .sub_nav_last 			{ border-right-style: none;}
********************************************************/



/* ---------------------------------------
		SUBNAVIGATION
----------------------------------------- */

#interactions_sub_nav {
	background-color: #F2F2F2;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 15px;
	padding-bottom: 15px;

}

#member_sub_nav {
	background-color: #F2F2F2;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 15px;
	padding-bottom: 15px;

}



#subnav ul li a {
	text-decoration: none;
	color: #0072bc;
	font-size: 10px;
	float: left;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
	text-transform: uppercase;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#subnav ul li 							{ display: inline;}

#subnav_wrap #subnav ul li a.active 			{ color: #000; font-weight: bold; text-decoration: underline;}
#subnav_wrap #subnav ul li a:hover 		{ color: #333; text-decoration: underline;}
#subnav ul li .sub_nav_last 			{ border-right-style: none;}





/* ---------------------------------------
		MAIN CONTENT
----------------------------------------- */

#content_wrapper {
	background-color: #F7F7F7;
	padding: 0px 0;
}
#content_wrapper.home {
	padding: 0;
}
#content_wrapper p strong {
	color: #333333;
}
#content_wrapper h1:first-child {
	margin-top: 0px;
}


/* ---------------------------------------
		ICON DOCK
----------------------------------------- */

#icondock ul li a img { margin-bottom: 10px;}

#icondock ul li a {
	float: left;
	height: 60px;
	width: 60px;
	padding: 15px;
	margin-right: 12px;
	position: relative;
	text-decoration: none;
	border: 1px solid #CCC;
	background-color: #F2F2F2;
	margin-bottom: 20px;
	margin-left: 0px;
	text-align: center;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	
	/*Mozilla Browsers Only */
	-moz-border-radius: 5px;	
	
}
#icondock ul li 						{ display: inline;}
#icondock ul li a:hover 				{ background-color: #FFF; border: 1px solid #999; color: #333;}

#icondock ul li a span {
	position: absolute;
	height: 8px;
	text-decoration: none;
	background-color: #E60000;
	padding: 7px;
	color: #FFF;
	font-weight: bold;
	font-size: 9px;
	left: 75px;
	top: -8px;
	right: 0px;
	bottom: 0px;
	line-height: 9px;
	width: 8px;
	text-align: center;
	z-index: 1;
	
	/*Mozilla Browsers Only */
	-moz-border-radius: 5px;
	
}

/* ---------------------------------------
		NOTICES
----------------------------------------- */

#notices 			{ clear: both;}
#notices ul li a 		{
	display: block;
	height: 16px;
	line-height: 16px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
}

#notices ul li a 			{ font-size: 11px; text-decoration: none; color: #666666;}
#notices ul li a:hover	 	{ text-decoration: underline;}


/*  These are the styles for the notices. Because you could use them for almost everything, I've
	left them as generic class names and used 7 different 16 x 16 icons from the FAT COW HOSTING ICONS
	
	You can download the full set from http://www.fatcow.com/free-icons
	
*/

.notice-icon1, .notice-icon2, .notice-icon3, .notice-icon4, .notice-icon5, .notice-icon6 , .notice-icon7 {
	background-repeat: no-repeat;
	background-position: left center;
}

.notice-icon1 { background-image: url(../images/icondock/16x16/comment_add.png);}
.notice-icon2 { background-image: url(../images/icondock/16x16/wishlist_add.png);}
.notice-icon3 { background-image: url(../images/icondock/16x16/date_add.png);}

.notice-icon4 { background-image: url(../images/icondock/16x16/newspaper_add.png);}
.notice-icon5 { background-image: url(../images/icondock/16x16/basket.png);}
.notice-icon6 { background-image: url(../images/icondock/16x16/bell.png);}
.notice-icon7 { background-image: url(../images/icondock/16x16/support.png);}


.btn-del, .btn-reply {
	text-decoration: none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	display: block;
	float: left;
	margin-right: 5px;
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
	-moz-border-radius: 5px;
	line-height: 16px;
	height: 16px;
}

.btn-del:hover, .btn-reply:hover	{ color: #666666; }
.btn-del { background-image: url(../images/email_delete.png); background-repeat: no-repeat; background-position: 5px; }
.btn-reply { background-image: url(../images/email_edit.png); background-repeat: no-repeat; background-position: 5px; }

/* -------------------------------------------
		NOTIFICATIONS
-------------------------------------------- */

.notification {
	cursor: pointer;
	clear: both;
	/*height: 40px;*/
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 65px;
	font-size: 12px;
	position: relative;
}
.notification  p {
	color: #333;
	line-height: 40px;
}

.warning {
	background-image: url(../images/icondock/error.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #FFC44A;
	background-color: #FFDB91;
}
.success {
	background-image: url(../images/icondock/accept.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #99C600;
	background-color: #E2FF7D;
}

.failure {
	background-image: url(../images/icondock/exclamation.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #EB5339;
	background-color: #F5B5A9;
}

.information {
	background-image: url(../images/icondock/information.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #418ACC;
	background-color: #B3CFEA;
}

.lightbulb {
	background-image: url(../images/icondock/lightbulb.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #D3A350;
	background-color: #FEEFCB;
}

.messages {
	background-image: url(../images/icondock/email.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #42B4FF;
	background-color: #9DDFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.message p {
	font-size: 11px;
	color: #999;
	line-height: 20px;
}

.message h3 {
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom: 10px;
	margin-top: 10px;
}

.message h3 span	{
	font-size: 13px;
	color: #999;
	font-style: italic;
}

.how_it_works
{
	font-size: 12px;
	font-weight: bold;
	color: #333;	
}

/* ---------------------------------------
		TABLE STYLING
----------------------------------------- */

	td 			{
	padding: 8px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
}
	th 			{
	color: #000000;
	text-align: left;
	background-color: #d7d7d7;
	padding: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7d7d7d;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #7d7d7d;
}

/* ----------------------------
		TABLE AND LINKS
------------------------------ */

table 				{
	color: #1B1B1B;
	padding: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
}
td a, td a:visited	{
	color: #1B1B1B;
}
	
/*This is for the zebra striping */
.even { background-color: #F0F0F0;}


/* ----------------------------
		TIPSY TOOLTIPS
------------------------------ */
.tipsy {
	padding: 5px;
	font-size: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-repeat: no-repeat;
	background-image: url(../images/tipsy.gif);
	margin-top: 12px;
}
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }



/* ----------------------------
		FORMS
------------------------------ */

/* ------------ SUBMIT BUTTONS ------------ */

	form input.submit {
	line-height: 15px;
	border: 0;
	font-size: 9px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
	background-color: #1B1B1B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 25px;
	background-image: url(../../images/button_highlighter.png);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
		}
		
form input.submit.special	{ background-color: #000000; }
form input.submit:hover 	{ text-decoration: underline; background-color: #333333;}
		
form p {
	overflow: hidden;
	clear: both;
	margin-top: 15px;
	margin-bottom: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
form label {
	font-size: 13px;
	font-weight: normal;
	color: #555;
	margin-right: 10px;
	vertical-align: middle;
	text-transform: lowercase;
	clear: both;
	}
 .valid {
	color: #090!important;
	font-weight: bold;
	font-size: 11px;
}
 .error {
	color: #900!important;
	font-weight: bold;
	font-size: 11px;
}


form input.text {
	width: 410px;
	background: #fefefe;
	border: 1px solid #bbb;
	font-size: 14px;
	color: #333;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	clear: both;
	margin-top: 8px;

	}

form input.text.medium { width: 600px; }
form input.text.large { width: 98%; }



form textarea {
	width: 98%;
	height: 140px;
	padding: 5px;
	background: #fefefe;
	border: 1px solid #bbb;
	font-size: 14px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	outline: none;
	margin-top: 15px;
	}

input.text:focus, #forms form textarea:focus	
	{ background-color: #F2F2F2; border: 1px solid #999999;}
form .select					{
	padding: 2px;
	height: 25px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}

/* -------------------------------------------------------------- 
   IMAGE GALLERY
-------------------------------------------------------------- */


.imglist li 
{
	list-style-type: none;
	display: block;
	border: 1px solid #CCC;
	float: left;
	margin: 7px;
	padding: 7px;
	float: left;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	}
	

.imglist li:hover { border-color: #999; }
	
.imglist li .actions
{
	width: 100px;
	height: 100px;
	display: block;
	z-index: 10;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0px;
	display: none;
	padding: 5px;
	line-height: 100px;
}


	
.imglist li:hover .actions { display: block; }

a.imglistbutton	{
	background-color: #FFF;
	padding: 9px;
	height: 16px;
	width: 16px;
	display: block;
	border: 1px solid #FFF;
	
}

a.imglistbutton:hover	{ background-color: #EBEBEB; border: 1px solid #CCC;
}

/* ----------------------------
		PAGINATION
------------------------------ */

	
#pagination li          { border:0; margin:0; padding:0; font-size:11px; list-style:none; /* savers */ float:left; }
#pagination a           {
	border:1px solid #CCC;
	margin-right:2px;
	color: #1B1B1B;
}
#pagination .previous-off,
#pagination .next-off   {
	border:solid 1px #DEDEDE;
	color:#888888;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination .next a,
#pagination .previous a { font-weight:bold; }	
#pagination .active     {
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left; /* savers */
	margin-right:2px;
	background-color: #cccccc;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 7px;
	padding-left: 8px;
}
#pagination a:link, 
#pagination a:visited   {
	color:#1B1B1B;
	display:block;
	float:left;
	text-decoration:none;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination a:hover     {
	border:1px solid #1B1B1B;
}


/* ----------------------------
		TABS
------------------------------ */

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}


.tab_container {
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}



/* ----------------------------
		ACCORDION
------------------------------ */


h3.acc_trigger {
	padding: 0;
	height: 46px;
	line-height: 46px;
	font-size: 20px;
	font-weight: normal;
	background-image: url(../images/h2_trigger_a.gif);
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	text-decoration: none;
	letter-spacing: -1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
h3.acc_trigger a {
	color: #555555;
	text-decoration: none;
	display: block;
	padding: 0 0 0 50px;
}
h3.acc_trigger a:hover {
	color: #000;
}
h3.active {background-position: left bottom;}
.acc_container {
	margin: 0 0 5px;
	padding: 0;
	overflow: hidden;
	clear: both;
	background: #f0f0f0;
	border: 1px solid #d6d6d6;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.acc_container .block {
	padding: 20px;
}

/* ----------------------------
		FOOTER
------------------------------ */

#footer_wrapper {
	background-color: #333333;
	border-bottom: solid 1px #4D4D4D;
	padding: 30px 0;
}
#footer {
	text-align: center;
	font-size: 12px;
	width: 960px;
	margin: 0 auto;
}
#footer a {
	color: #e9e9e9;
}

/* ----------------------------
		AGENT SELECTOR
------------------------------ */

#listing_agent, #selling_agent {
	height: 170px;
	width: 420px;
	padding: 40px 40px 30px;
	background-image: url(/images/agent_select_bgs.png);
	background-position: 0 -480px;
	display: block;
	text-decoration: none!important;
}
#selling_agent {
	background-position: 0 0;
}
#listing_agent:hover {
	background-position: 0 -720px;
}
#selling_agent:hover {
	background-position: 0 -240px;
}
#listing_agent h4, #selling_agent h4 {
	margin: 0;
}
#listing_agent:hover h4, #selling_agent:hover h4 {
	color: #CC0000;
}
#listing_agent p, #selling_agent p {
	margin-top: 3px;
}
#listing_agent h5, #selling_agent h5 {
	margin-top: 90px;
	color: #FFF;
	text-shadow: -1px -1px #666666;
}

margin-top:90px; color: #FFF

/* ----------------------------
		WYSIWYG EDITOR
------------------------------ */

div.wysiwyg {
	border: 1px solid #bbb;
	padding: 0;
	background-color: #fefefe;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 880px !important;
}

div.wysiwyg * { margin: 0; padding: 0; outline: none; }

div.wysiwyg ul.panel {
	border-bottom: 1px solid #cccccc;
	float: left;
	width: 875px;
	padding: 5px;
	margin: 0;
}

div.wysiwyg ul.panel li 				{ list-style-type: none; float: left; padding: 0; margin: 2px 2px 3px 0;  background: #ffffff; height: 16px; overflow: hidden; }
div.wysiwyg ul.panel li.separator 	{ height: 16px; margin: 3px 4px 0; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a 			{ text-indent: -5000px; opacity: 0.85; filter:alpha(opacity=85); display: block; width: 16px; height: 16px; background: url('../images/../images/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 0; margin: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 1.00; filter:alpha(opacity=100); }
div.wysiwyg ul.panel li a.active 	{ background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold 			{ background-position: 0 -17px; }
div.wysiwyg ul.panel li a.italic 		{ background-position: -16px -17px; }
div.wysiwyg ul.panel li a.strikeThrough 	{ background-position: -32px -17px; }
div.wysiwyg ul.panel li a.underline 		{ background-position: -48px -16px; }

div.wysiwyg ul.panel li a.justifyLeft 	{ background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter 	{ background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight 	{ background-position: -32px 0; }

div.wysiwyg ul.panel li a.indent 		{ background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent 		{ background-position: -80px 0; }

div.wysiwyg ul.panel li a.subscript 		{ background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript 	{ background-position: -80px -16px; }

div.wysiwyg ul.panel li a.undo 			{ background-position: 0 -63px; }
div.wysiwyg ul.panel li a.redo 			{ background-position: -16px -65px; }

div.wysiwyg ul.panel li a.insertOrderedList 		{ background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList 	{ background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule 	{ background-position: 0 -48px; }

div.wysiwyg ul.panel li a.h1 					{ background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 					{ background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 					{ background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 					{ background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 					{ background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 					{ background-position: -80px -32px; }

div.wysiwyg ul.panel li a.cut 					{ background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy 					{ background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste 					{ background-position: -64px -64px; }

div.wysiwyg ul.panel li a.increaseFontSize 		{ background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize 		{ background-position: -32px -80px; }

div.wysiwyg ul.panel li a.createLink 			{ background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage 			{ background-position: -80px -80px; }

div.wysiwyg ul.panel li a.html 					{ background-position: -47px -46px; }
div.wysiwyg ul.panel li a.removeFormat			{ background-position: -80px -64px; }
	
div.wysiwyg ul.panel li a.empty					 { background-position: -64px -80px; }

div.wysiwyg iframe { border: 0; clear: left; margin: 0; width: 918px !important; }
.errors{background:#F5B5A9 !important;}

.card_number { width:130px !important; }
.card_cvc{ width:30px !important;}


/* Forms */

/* Buttons */
input.uiButton, a.uiButton {
	float: left;
	padding: 0 15px;
	margin: 10px 10px 0 0;
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
	font-family: "camingodos-web-1","camingodos-web-2", "Lucida Grande", Tahoma, Geneva, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	outline: medium none!important;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-shadow: -1px -1px 0px #e40303;
	border: solid 1px #b61111;
	background-color: #ffa800; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #f89b9b, #b61111); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f89b9b),color-stop(1, #b61111)); /* Saf4+, Chrome */
	background: linear-gradient(#f89b9b, #b61111);
	-pie-background: linear-gradient(#f89b9b, #b61111	);
	-moz-box-shadow: inset 0px 1px 0px #fe7878, 0px 1px 2px #999999;
	-webkit-box-shadow: inset 0px 1px 0px #fe7878, 0px 1px 2px #999999;
	box-shadow: inset 0px 1px 0px #fe7878, 0px 1px 2px #999999;
	behavior: url(/css/PIE.htc);
	z-index: 3;
	zoom: 1;
}
input.uiButton {
	height: 30px;
	line-height: 30px;
}
a.uiButton {
	height: 28px;
	line-height: 28px;
}
input.uiButton:hover, a.uiButton:hover {
	text-shadow: -1px -1px 0px #e42e2e;
	border: solid 1px #FF8B8B;
	background-color: #FF8B8B; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #FF8B8B, #feb1b1); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FF8B8B),color-stop(1, #FF8B8B)); /* Saf4+, Chrome */
	background: linear-gradient(#FF8B8B, #feb1b1);
	-pie-background: linear-gradient(#FF8B8B, #ff8833	);
	-moz-box-shadow: inset 0px 1px 0px #ff8833, 0px 1px 2px #999999;
	-webkit-box-shadow: inset 0px 1px 0px #ff8833, 0px 1px 2px #999999;
	box-shadow: inset 0px 1px 0px #ff8833, 0px 1px 2px #999999;
}

input.uiButton.alt, a.uiButton.alt {
	text-shadow: -1px -1px 0px #000000;
	border: solid 1px #000000;
	background-color: #4d4d4d; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #4d4d4d, #000000); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4d4d4d),color-stop(1, #000000)); /* Saf4+, Chrome */
	background: linear-gradient(#4d4d4d, #000000);
	-pie-background: linear-gradient(#4d4d4d, #000000	);
	-moz-box-shadow: inset 0px 1px 0px #999999, 0px 1px 2px #999999;
	-webkit-box-shadow: inset 0px 1px 0px #999999, 0px 1px 2px #999999;
	box-shadow: inset 0px 1px 0px #999999, 0px 1px 2px #999999;
}
input.uiButton.alt:hover, a.uiButton.alt:hover {
	text-shadow: -1px -1px 0px #3a3a3a;
	border: solid 1px #333333;
	background-color: #6e6e6e; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #6e6e6e, #333333); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #6e6e6e),color-stop(1, #333333)); /* Saf4+, Chrome */
	background: linear-gradient(#6e6e6e, #333333);
	-pie-background: linear-gradient(#6e6e6e, #333333	);
	-moz-box-shadow: inset 0px 1px 0px #adadad, 0px 1px 2px #999999;
	-webkit-box-shadow: inset 0px 1px 0px #adadad, 0px 1px 2px #999999;
	box-shadow: inset 0px 1px 0px #adadad, 0px 1px 2px #999999;
}

input.uiButton.cancel, a.uiButton.cancel {
	text-shadow: -1px -1px 0px #a3a3a3;
	border: solid 1px #999999;
	background-color: #cacaca; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #cacaca, #999999); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #cacaca),color-stop(1, #999999)); /* Saf4+, Chrome */
	background: linear-gradient(#cacaca, #999999);
	-pie-background: linear-gradient(#cacaca, #999999	);
	-moz-box-shadow: inset 0px 1px 0px #e6e6e6, 0px 1px 2px #CCCCCC;
	-webkit-box-shadow: inset 0px 1px 0px #e6e6e6, 0px 1px 2px #CCCCCC;
	box-shadow: inset 0px 1px 0px #e6e6e6, 0px 1px 2px #CCCCCC;
}
input.uiButton.cancel:hover, a.uiButton.cancel:hover {
	text-shadow: -1px -1px 0px #a3a3a3;
	border: solid 1px #adadad;
	background-color: #d5d5d5; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #d5d5d5, #adadad); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d5d5d5),color-stop(1, #adadad)); /* Saf4+, Chrome */
	background: linear-gradient(#d5d5d5, #adadad);
	-pie-background: linear-gradient(#d5d5d5, #adadad	);
	-moz-box-shadow: inset 0px 1px 0px #ebebeb, 0px 1px 2px #CCCCCC;
	-webkit-box-shadow: inset 0px 1px 0px #ebebeb, 0px 1px 2px #CCCCCC;
	box-shadow: inset 0px 1px 0px #ebebeb, 0px 1px 2px #CCCCCC;
}

input.uiButton.disabled, a.uiButton.disabled, input.uiButton.disabled:hover, a.uiButton.disabled:hover {
	color: #cccccc;
	text-shadow: 0px 1px 0px #f8f8f8;
	background-color: #e5e5e5; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #e5e5e5, #e5e5e5); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e5e5e5),color-stop(1, #e5e5e5)); /* Saf4+, Chrome */
	background: linear-gradient(#e5e5e5, #e5e5e5);
	-pie-background: linear-gradient(#e5e5e5, #e5e5e5);
	border: solid 1px #e5e5e5;
	cursor: default;
	-moz-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
}
input.uiButton.disabled.progress, a.uiButton.disabled.progress, input.uiButton.disabled.progress:hover, a.uiButton.disabled.progress:hover {
	color: #a4a4a4;
	background-image: url(/images/disabled_button_progress_bg.gif)!important;
	background-position: left center;
	-moz-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
}



input.uiButton.right, a.uiButton.right {
	float: right;
	margin: 10px 0 0 10px;
}
input.uiButton.rightCap, a.uiButton.rightCap {
	float: right;
	margin-left: 0px;
	border-left: none;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
}

input.uiButton.large {
	font-size: 24px;
	padding: 0 20px;
	height: 48px;
	line-height: 46px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}
a.uiButton.large {
	font-size: 24px;
	padding: 0 20px;
	height: 46px;
	line-height: 46px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}

input.uiButton.small {
	font-size: 12px;
	padding: 0 10px;
	height: 22px;
	line-height: 20px;
}
a.uiButton.small {
	font-size: 12px;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
}

input.uiButtonSearch {
	background: none;
	float: left;
	display: block;
	height: 30px;
	width: 30px;
	padding: 0;
	margin: 0 5px 0 -30px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	line-height: 26px;
	text-shadow: 1px 1px 0px #b2e5ff;
	background: none repeat scroll 0 0 transparent!important;
	background-image: url(/images/blank.gif)!important;
	outline: medium none!important;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 3;
}



a.uiButton.twoline {
	float: left;
	margin: 0 10px 0 0;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -.03em;
	font-weight: bold;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	color: #ffcccc;
	text-shadow: -1px -1px 0px #b30000;
	background-image: url(/images/input_bgs.gif);
	background-position: left -62px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px 7px 7px 7px;
	border: solid 2px #b30000;
	outline: medium none!important;
	cursor: pointer;
	
	padding: 0 5px;
	height: 26px;
	line-height: 26px;
}

/* Firefox Input Reset */
/*
*:focus, *::-moz-focus-inner {
	border: none;
} */

textarea:focus, textarea::-moz-focus-inner 
{
	border: 1px solid #0072BC;
}

.fieldname {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-indent: 0px;
}
.fieldname.left {
	text-indent: 0px!important;
}
.fieldname.inline {
	line-height: 24px;
	display: block;
}
.uiInput, .uiSearchInput, .uiTextarea {
	outline: medium none!important;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-weight: normal;
	font-size: 14px;
	height: 24px;
	padding: 4px 3px 0;
	float: left;
	background-color: #FFFFFF;
	border: solid 1px #a4a4a4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}
.uiSearchInput {
	padding-right: 33px;
}
.uiTextarea {
	line-height: 16px;
	padding: 3px;
}
.uiTextarea.rte {
	border: none;
	padding: 0px;
}
.uiInput:hover, .uiSearchInput:hover, .uiTextarea:hover {
	color: #000;
	background: none repeat scroll 0 0 transparent;
	background-color: #fff;
	border-color: #333333;
}
.uiInput:focus, .uiSearchInput:focus, .uiTextarea:focus {
	color: #000;
	background: none repeat scroll 0 0 transparent;
	background-color: #fff;
	border-color: #66ccff;
	-moz-box-shadow: 0px 0px 10px #99ddff;
	-webkit-box-shadow: 0px 0px 10px #99ddff;
	box-shadow: 0px 0px 10px #99ddff;
}
.uiInput.alt:focus, .uiTextarea.alt:focus {
	border-color: #ff9966;
}
.uiInput.cancel:focus, .uiTextarea.cancel:focus {
	border-color: #ccc;
}
.uiInput.error, .uiTextarea.error {
	color: #CC0000;
	background-color: #ffe5e5;
	border: solid 1px #ff6666;
}
.uiInput.error:focus, .uiTextarea.error:focus {
	-moz-box-shadow: 0px 0px 10px #ff9999;
	-webkit-box-shadow: 0px 0px 10px #ff9999;
	box-shadow: 0px 0px 10px #ff9999;
}
.uiInput.leftCap {
	border-right: none;
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
}
.uiInput.right {
	float: right;
}
.uiInput.overtext {
	color: #999999;
}
.uiCheckbox, .uiRadio {
	height: 14px;
	width: 14px;
	margin: 8px 9px 0 0!important;
	cursor: pointer;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #a4a4a4;
	color: #000000;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
	float: left;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiCheckbox:hover, .uiRadio:hover {
	border: solid 1px #333333;
}
.uiCheckbox:focus, .uiRadio:focus {
	border-color: #66ccff;
	-moz-box-shadow: 0px 0px 10px #99ddff;
	-webkit-box-shadow: 0px 0px 10px #99ddff;
	box-shadow: 0px 0px 10px #99ddff;
}
.uiCheckbox.error, .uiRadio.error {
	color: #CC0000;
	background-color: #ffe5e5; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #ffe5e5, #ffe5e5); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffe5e5),color-stop(1, #ffe5e5)); /* Saf4+, Chrome */
	background: linear-gradient(#ffe5e5, #ffe5e5);
	-pie-background: linear-gradient(#ffe5e5, #ffe5e5);
	border: solid 1px #ff6666;
}
.uiRadio span.checked {
	height: 8px;
	width: 8px;
	margin: 3px 0 0 3px;
	background-color: #000;
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	position: relative;
	behavior: url(/css/PIE.htc);
}

/* mooChoose */
.uiSelect {	
	-webkit-appearance: none;
	display: inline-block;
	float: left;
	height: 30px;
	padding: 6px 3px 4px;
	position: relative;
	z-index: 2;
	color: #000;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	text-decoration: none!important;
	white-space: nowrap;
	outline: medium none!important;
	background-color: #FFFFFF;
	background-image: url(/images/select-arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #a4a4a4;
	behavior: url(/css/PIE.htc);
}
.uiSelect:hover {
	color: #000;
	background-color: #fff;
	border: solid 1px #333333;
}
.uiSelect:focus {
	color: #000;
	background-color: #fff;
	border: solid 1px #66ccff;
	-moz-box-shadow: 0px 0px 10px #99ddff;
	-webkit-box-shadow: 0px 0px 10px #99ddff;
	box-shadow: 0px 0px 10px #99ddff;
	z-index: 1001;
}
.uiSelect.error {
	color: #CC0000;
	background-color: #ffe5e5;
	border: solid 1px #ff6666;
}
.uiSelect.error:focus, .uiSelect.error:focus {
	-moz-box-shadow: 0px 0px 10px #ff9999;
	-webkit-box-shadow: 0px 0px 10px #ff9999;
	box-shadow: 0px 0px 10px #ff9999;
}

/* UI Form */
ul.uiForm, ul.uiForm li, ul.uiForm li ul, ul.uiForm li ul li {
	padding: 0;
	list-style-type: none!important;
	margin: 0;
}
ul.uiForm {
	margin: 0 -1px;
}
.uiFormRowHeader {
font-size: 21px;
font-family: "camingodos-web-1","camingodos-web-2", "Lucida Grande", Tahoma, Geneva, sans-serif;
font-weight: 700;
float: left;
line-height: 39px;
color: #333;
width: 620px;
margin: 20px 0!important;
border-bottom: dashed 1px #999;
}
.uiFormRowHeader.cc {
	width: 380px;
}
.uiFormRowHeader span.step {
	font-size: 30px;
	font-weight: 900;
	line-height: 39px;
	margin: 0 10px 0 5px;
	float: left;
	color: #000;
}
.uiFormRowHeader span.step_text {
	line-height: 39px;
	float: left;
}
	
.uiFormRow {
width: 100%;
float: left;
font-size: 12px;
position: relative;
border-top: solid 1px #e5e5e5;
}
.uiFormRow.first {
border-top: solid 1px #e5e5e5;
}
.uiFormRow.first {
	border-top: none!important;
}
.uiFormRow.last {
}
.uiFormRow li.fieldname {
	float: left;
	padding: 5px 0;
	line-height: 30px;
	width: 240px;
}
	.uiFormRow li.fieldname.cc {
		width: 180px;
	}
	.uiFormRow li.fieldname span{
		margin-right: 20px;
	}
	
.uiFormRow li.field {
	float: left;
	padding: 5px 0px 5px 0;
	line-height: 30px;
	width: 380px;
}	
	.uiFormRow li.field.cc {
		width: 200px;
	}
.uiFormRow li.checkbox {
	float: left;
	padding: 5px 0px;
	line-height: 30px;
	width: 620px;
}
	.uiFormRow li.field span.label, .uiFormRow li.checkbox span.label {
		float: left;
		margin-right: 20px;
		position: relative;
	}
.uiFormRow li.info {
	float: left;
	font-size: 11px;
	color: #999;
	padding: 0px 0px 5px 240px;
	width: 380px;
}
	.uiFormRow li.info.cc {
		width: 200px;
		padding-left: 180px;
	}
.uiFormRow li.error {
	float: left;
	font-size: 11px;
	padding: 0px 0px 5px 240px;
	width: 380px;
	font-weight:bold;
	color:#990000;
}
.uiFormRow li.error.cc {
	width: 380px;
	padding-left: 0px;
}


/* top menu styles */
#top_login {
	height: 16px;
	padding: 12px 0px 0 0;
	color: #999;
	text-align: right;
}
#top_login .name {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	height: 14px;
	line-height: 14px;
	background-repeat: no-repeat;
	background-position: 0 1px;
}
#top_login a {
	color: #ccc;
	height: 14px;
	font-size: 10px;
	text-decoration: none;
}
#top_login a:hover {
	text-decoration: underline;
}
#top_login a.active, #top_menu a.active:hover {
	color: #CCCCCC;
	background-position: right top;
	background-repeat: no-repeat;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

#daily_trials {
	position: relative;
	top: 0;
	padding: 12px 0px 0 0;
}
#daily_trials .trial_label {
	color: #b7b7b7;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-weight: 600;
	line-height: 28px;
	font-size: 16px;
	display: inline-block;
	padding-left:1em
}
#daily_trials .trial_count {
	line-height: 28px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
}

#top_menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 60px;
	padding: 10px 50px 0 0;
	color: #888888;
	text-align: right;
}
#top_menu .user_photo {
	float: right;
	margin: 0 -50px 0 0;
}
#top_menu .user_photo img {
	height: 30px;
	width: 30px;
}
#top_menu .name {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 0 0 0 21px;
	height: 14px;
	line-height: 14px;
	background-position: 0 1px;
}

#top_menu .name a 
{
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 0 0 0 21px;
	height: 14px;
	line-height: 14px;
	background-position: 0 1px;		
}	

#top_menu a {
	color: #ccc;
	padding: 2px 0 0 0;
	height: 14px;
	font-size: 10px;
	text-decoration: none;
}
#top_menu a:hover {
	text-decoration: underline;
}
#top_menu a.active, #top_menu a.active:hover {
	color: #CCCCCC;
	padding: 2px 10px 0 0;
	background-position: right top;
	background-repeat: no-repeat;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}


/* top menu styles */
#followers 
{
	color: #898989;
	top: 30;	
	right: 0;
	font-size: 12px;	
}

#top_login #close
{
	color: #fe7b7b;
	font-weight: bold;
}

/* ----------------------------
		SIGN-UP PAGE
------------------------------ */

.link, .link a {
	width:100%;
	height:100%;
	display:block;
}
#wrapper_subscription {
	background:url(/images/bg_subscription.jpg) 0 0 no-repeat;
	width:700px;
	height:413px;
	margin:20px auto;
	overflow:hidden;
	position:relative;
}
.twitter_content {
	position:absolute;
	top:210px;
	left:55px;
	width:185px;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	text-shadow:1px 1px 1px #26677e;
}
.twitter_button {
	position:absolute;
	top:300px;
	left:23px;
	width:170px;
	height:37px;
	background:url(/images/signup-grey.png) 0 0 no-repeat;
}
.twitter_button:hover {
	background:url(/images/signup-grey.png) 0 -36px no-repeat;
	cursor:pointer;
}
.twitter_fb_content {
	position:absolute;
	top:207px;
	left:277px;
	width:250px;
	text-align:center;
	border: 1px solid #ff00ff;
	color:#ffffff;
	font-size:18px;
	text-shadow:1px 1px 1px #26677e;
}
.twitter_fb_button {
	position:absolute;
	top:341px;
	left:266px;
	width:172px;
	height:38px;
	background:url(/images/signup-red.png) 0 0 no-repeat;
}
.twitter_fb_button:hover {
	background:url(/images/signup-red.png) 0 -38px no-repeat;
	cursor:pointer;
}
.fb_content {
	position:absolute;
	top:210px;
	left:567px;
	width:185px;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	text-shadow:1px 1px 1px #26677e;
}
.fb_button {
	position:absolute;
	top:300px;
	left:503px;
	width:170px;
	height:37px;
	background:url(/images/signup-grey.png) 0 0 no-repeat;
}
.fb_button:hover {
	background:url(/images/signup-grey.png) 0 -36px no-repeat;
	cursor:pointer;
}

@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.header_div{
	width:100%;
	height:60px;
	float:left;
	display:block;
	position:relative;
	background-color:#000;
	border-bottom:1px solid #FFF;
}
.header{
	width:932px;
	height:60px;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;
}
.logo_div{
	width:186px;
	height:60px;
	float:left;
	display:block;
	position:relative;
}
.lo_ri_div{
	width:286px;
	height:60px;
	float:right;
	display:block;
	position:relative;
}
.logiorrig{
	width:98px;
	height:auto;
	float:left;
	padding-left:177px;
	display:block;
	position:relative;
	color:#869999;
	padding-top:12px;
}
.logiorrig a{
	text-decoration:none;
	color:#FFF;
	font-weight:700;
}
.logiorrig a:hover{
	text-decoration:underline;
}
.llll_d{
	width:160px;
	height:auto;
	float:left;
	padding-left:122px;
	display:block;
	position:relative;
	padding-top:6px;
	font-size:11px;
	color:#898989;
}

.buyer_leads_wrapper
{
	width: 100%;
	height:267px;	
	float:left;
	display:block;
	position:relative;
	background-color:#21222b;		
}

.buyer_leads
{
	width:932px;
	height:267px;	
	float:none;
	display:block;
	position:relative;
	margin:0 auto;		
	background-image:url(/images/buyer-leads.jpg);
}

/*middle_1div-----------------------------------------------*/
.middle_1div{
	width:100%;
	height:342px;
	float:left;
	display:block;
	position:relative;
	background-color:#21222b;
}
.middle_1{
	width:932px;
	height:342px;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;	

	background-repeat:no-repeat;	
	background-image:url(/images/blast-thousands-of-buyers.jpg);
	
}


.man_div
{
	width:912px;
	height:342px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	display:block;
	position:relative;
	background-image:url(/images/man.png);
	background-repeat:no-repeat;
	background-position:left bottom;
} 
.I_just_div{
	width:662px;
	height:auto;
	float:right;
	display:block;
	position:relative;
	padding-top:34px;
}
.big_search{
	width:883px;
	height:77px;
	float:right;
	margin-right:24px;
	display:block;
	position:relative;
	margin-top:242px;
}
.serch_text{
	width:653px;
	height:47px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:13px;
	padding-right:12px;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/blast_box.png);
	background-position:left;
	background-repeat:no-repeat;
}
.serach{
	width:203px; 
	height:77px;
	float:left;
	display:block;
	position:relative;
}
input.bbbs{
	width:653px;
	height:43px;
	border:0px;
	background:none;
	font-size:20px;
	line-height:43px;
}

/*three_bpx+div-----------------------------*/
.three_box_div{
	width:100%;
	height:auto;
	float:left;
	display:block;
	position:relative;
	background-color:#f8f8f8;
	background-image:url(/images/three_box_bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.three_box{
	width:960px;
	height:auto;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;
}
.box_div_one{
	width:264px;
	height:auto;
	float:left;
	display:inline;
	margin-left:10px;
	margin-right:10px;
	margin-top:28px;
	position:relative;
	background-image:url(/images/one.png);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:36px;
	padding-bottom:28px;
}
.box_div_one h1{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:6px;
	color:#000;
}
.box_div_one a{
	width:60px;
	color:#0072bc;
	display:inline-block;
	float:left;
	margin-left:182px;
	font-size:11px;
	font-weight:bold;
	
}
.box_div_two{
	width:264px;
	height:auto;
	float:left;
	display:inline;
	margin-left:10px;
	margin-right:10px;
	margin-top:28px;
	position:relative;
	background-image:url(/images/two.png);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:36px;
	padding-bottom:28px;
}
.box_div_two h1{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:6px;
	color:#000;
}
.box_div_two a{
	width:60px;
	color:#0072bc;
	display:inline-block;
	float:left;
	margin-left:182px;
	font-size:11px;
	font-weight:bold;
	
}
.box_div_three{
	width:264px;
	height:auto;
	float:left;
	display:inline;
	margin-left:10px;
	margin-right:10px;
	margin-top:28px;
	position:relative;
	background-image:url(/images/three.png);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:36px;
	padding-bottom:28px;
}
.box_div_three h1{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:6px;
	color:#000;
}
.box_div_three a{
	width:60px;
	color:#0072bc;
	display:inline-block;
	float:left;
	margin-left:182px;
	font-size:11px;
	font-weight:bold;
	
}
.tex_div{
	width:243px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	color:#878787;
	background-image:url(/images/boder.png);
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:6px;
	margin-bottom:7px;
}



/*middle_div-----------------------------*/
.middle_div2{
	width:100%;
	height:auto;
	float:left;
	display:block;
	position:relative;	
}
.middle_2{
	width:960px;
	height:auto;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;
}
.recent_div{

}
.recent_div h1{
	margin:0;
	padding:0;
	font-size:22px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	background-image:url(images/boder.png);
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:6px;
}

.re_lis{
	margin:0;
	padding:0;
}
.re_lis li{
	display:block;
	list-style-type:none;
}
.re_list_div{
	width:460px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	padding-bottom:8px;
	padding-top:5px;
	background-image:url(images/boder.png);
	background-repeat:repeat-x;
	background-position:bottom;
}
.img{
	width:50px;
	height:50px;
	float:left;
	display:block;
	position:relative;
}
.text_re_list{
	width:399px;
	height:auto;
	float:left;
	margin-left:10px;
	display:inline;
	position:relative;
}
.heading_as{
	width:399px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:1px;
        font-size:0.9em;
}
.heading_as h3{
	width:300px;
	float:left;
	font-size:12px;
	color:#636363;
	margin:0;
	padding:0;
}
.heading_as a{
	text-decoration:none;
	font-size:10px;
	line-height:16px;
	color:#773B3B;
}
.ttext{
	width:399px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	color:#898989;
}
.black_div{
	width:455px;
	height:254px;
	float:left;
	margin-left:10px;
	display:inline;
	margin-top:20px;
	background-image:url(images/gray_box.png);
	background-repeat:no-repeat;
}


/*footer_div------------------------------------*/
.footer_div{
	width:100%;
	height:387px;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/footer_bg.jpg);
	background-repeat:repeat-x;
}
.footer{
	width:932px;
	height:387px;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;
}
.footer_links
{
	margin-top:14px;
	color #ffffff;
	font-size: 12px;
}

.footer_links a
{
	color: #ccc;
        text-decoration: none;
}
.footer_links a:hover
{
        text-decoration: underline;
}


.footer_email_se{
	width:369px;
	height:283px;
	float:left;
	margin-left:53px;
	display:inline;
	position:relative;
	margin-top:44px;
}
.footer_email_se h1{
	margin:0;
	padding:0;
	color:#FFF;
	font-weight:bold;
	font-size: 24px;
}
.footer_from{
	width:369px;
	height:auto;
	float:left;
	display:block;
	position:relative;
}
.fo_one{
	width:369px;
	height:24px;
	float:left;
	display:block;
	position:relative;
	margin-top:15px;
}
.ema{
	width:276px;
	height:24px;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/email.jpg);
	background-repeat:no-repeat;
	background-position:left;
}
input.emmm{
	width:270px;
	height:20px;
	background:none;
	border:0;
	margin-left:3px;
	color:#FFF;
	margin-top:1px;
}
.email_a{
	width:80px;
	height:auto;
	float:left;
	display:block;
	padding-left:12px;
	color:#666;
	line-height:24px;
	font-size:11px;
}
.fo_two11{
	width:368px;
	height:103px;
	float:left;
	display:block;
	position:relative;
	margin-top:15px;
}
.emaasdasd{
	width:368px;
	height:103px;
	float:left;
	display:block;
	position:relative;
}
textarea.emmmaaa{
	width:358px;
	height:93px;
	border:0;
	color:#FFF;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-top:5px;
	background-image:url(/images/message.jpg);
	background-position:left;
	background-repeat:no-repeat;
}
.sendaaa{
	width:368px;
	height:36px;
	float:left;
	display:block;
	position:relative;
	margin-top:15px;
}
.Sendd{
	width:81px;
	height:36px;
	float:left;
	display:block;
	position:relative;
}

/*footer_2_div--------------------------------------------*/
.footer_2_div{
	width:100%;
	height:60px;
	float:left;
	display:block;
	position:relative;
	background-color:#000;
}
.qwe_div{
	width:100%;
	height:40px;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/qwe.jpg);
	background-position:top;
	background-repeat:repeat-x;
}

#reference_number
{
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #ff00ff;
	width: 400px;
	height: 100px;	
	text-align: center;
	padding-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}


/********    THANK YOU PAGE    ********/



.thankyou_full_div_1{
	width:100%;
	height:60px;
	float:left;
	display:block;
	position:relative;
	background-color:#000;
	border-bottom:1px solid #FFF;
}

.thankyou_full_div_2_1
{
	border-top: 1px solid #ffffff;
     width:100%;
	height:118px;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/thank_bg.jpg);
	background-repeat:repeat-x;
}
.thank_bg{
	width:960px;
	height:118px;
	float:none;
	display:block;
	position:relative;
	margin:0 auto;
	background-image:url(/images/thank_page_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.alin{
	margin:0;
	padding:0;
	text-align:center;
}

.center_message_wrapper
{
	border-top: 1px solid #d7d7d7;	
     width:100%;
	height: 118px;
	background-image:url(/images/thank_bg.jpg);
	background-repeat:repeat-x;	
}
.center_message
{
	margin:0 auto;
	padding:0;
	text-align:center;

	height:118px;	
	background-image:url(/images/thank_page_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;		
}

.center_message h1
{
	padding-top: 30px;
	color: #ffffff;
	font-weight: bold;
	font-size: 48px;
}

.thankyou_middle_div_a2{
	width:100%;
	height:auto;
	float:left;
	display:block;
	position:relative;
	background-color:#f7f7f7;
	background-image:url(/images/main_bg_1.jpg);
	background-repeat:repeat-x;
}
.order_was{
	width:300px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:30px;
	color:#878787;
}
.order_was h1{
	font-size:18px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	color:#0072bc;
	margin-bottom:15px;
}
.traking_number{
	width:216px;
	height:41px;
	float:left;
	display:block;
	position:relative;
	margin-top:14px;
	color:#878787;
	background-image:url(/images/number.jpg);
	background-position:left;
	background-repeat:no-repeat;
}
.as_0011{
	color:#878787;
	line-height:41px;
	padding-left:14px;
}
.as_0022{
	color:#21222b;
	line-height:41px;
	padding-left:6px;
	font-size:18px;
}

.invoice_div{
	width:620px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:30px;
}
.invoice_div h3{
	width:620px;
	height:auto;
	float:left;
	display:block;
	border-bottom:1px dotted #CCC;
	color:#404040;
	font-size:13px;
	font-weight:700;
	padding-bottom:5px;
	margin-top:6px;
}
.qw_01{
	width:620px;
	height:auto;
	float:left;
	display:block;
	margin-top:9px;
}
.qw_one{
	width:352px;
	height:auto;
	float:left;
	display:block;
	color:#878787;
}
.qw_one span{
	color:#404040;
        font-weight: bold;
}
.qw_two{
	width:267px;
	height:auto;
	float:left;
	display:block;
	color:#878787;
}
.qw_two span{
	color:#404040;
        font-weight: bold;
}

.qw_0qq2{
	width:620px;
	height:auto;
	float:left;
	display:block;
	margin-top:16px;
	color:#404040;
	margin-bottom:6px;
        font-weight: bold;
}
.qw_0qq34{
	width:620px;
	height:auto;
	float:left;
	display:block;
	color:#404040;
	margin-bottom:6px;
	border-bottom:1px solid #d2d2d2;
	border-top:1px solid #d2d2d2;
}
.purchased_items{
	width:352px;
	height:auto;
	float:left;
	display:block;
	color:#878787;
	line-height:18px;
}
.cost{
	width:267px;
	height:auto;
	float:left;
	display:block;
	color:#878787;
	line-height:18px;
}
.qw_0qq36{
	width:620px;
	height:auto;
	float:left;
	display:block;
	color:#404040;
}
.qw_0qq37{
	width:620px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:6px;
	border-top:1px solid #d2d2d2;
	padding-top:6px;
}
.righ_text{
	width:342px;
	height:auto;
	float:left;
	text-align:right;
	display:block;
	padding-right:10px;
	color:#878787;
	line-height:18px;
}

.would_you{
	width:940px;
	height:auto;
	float:left;
	display:block;
	position:relative;
        margin-top: 55px;
	padding-top:20px;
	border-bottom:1px solid #d2d2d2;
	padding-bottom:7px;
}
.would_you h4{
	color:#878787;
	font-size:15px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
}
.thankyou_three_box{
	width:960px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:6px;
}


.div_one01{
	width:256px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/mike.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:44px;
	padding-bottom:28px;
	margin-top:8px;
}
.div_one01 h1{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:6px;
	color:#000;
}
.div_one01 a{
	width:200px;
	color:#0072bc;
	display:inline-block;
	float:left;
	font-size:12px;
	
}
.tex_box_01{
	width:256px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	color:#878787;
	border-bottom:1px dotted #9f9f9f;
	padding-bottom:5px;
	margin-bottom:8px;
}

.div_one02{
	width:272px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/pizz.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:28px;
	padding-bottom:28px;
	margin-top:8px;
}
.div_one02 h1{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:6px;
	color:#000;
}
.div_one02 a{
	width:200px;
	color:#0072bc;
	display:inline-block;
	float:left;
	font-size:12px;
	
}
.tex_box_02{
	width:272px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	color:#878787;
	border-bottom:1px dotted #9f9f9f;
	padding-bottom:5px;
	margin-bottom:8px;
}

.div_one03{
	width:256px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/star.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:44px;
	padding-bottom:28px;
	margin-top:8px;
}
.div_one03 h1{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:6px;
	color:#000;
}
.div_one03 a{
	width:200px;
	color:#0072bc;
	display:inline-block;
	float:left;
	font-size:12px;
	
}
.tex_box_03{
	width:256px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	color:#878787;
	border-bottom:1px dotted #9f9f9f;
	padding-bottom:5px;
	margin-bottom:8px;
}
.thankyou_full_div_012{
	width:100%;
	height:134px;
	float:left;
	display:block;
	position:relative;
	background-image:url(/images/footer_top_bg.jpg);
	background-repeat:repeat-x;
}
.safe-list{
	width:300px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:30px;
	color:#878787;
}
.safe-list h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#404040;
	font-weight:700;
	margin-bottom:8px;
}
.we-do{
	width:620px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:30px;
	color:#878787;
}
.we-do h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#404040;
	font-weight:700;
	margin-bottom:8px;
}
.we-do a{
	color:#0072bc;
}


#counter {
    margin-top: 11px;
    float: right;
    color: #fff;
}

.box_content {
    padding: 10px;
    border: 1px solid #e8e8e8;
}

.twtchars {
    color: 333;
    text-align: right;
    font-size: 10px;
}



.preview {
    margin-top: 10px;
    float: right;
    
}

.preview a {
    display: none;
    color: #fff;
}

.box_content {
    padding: 10px;
    border: 1px solid #e8e8e8;
}

.twtchars {
    color: 333;
    text-align: right;
    font-size: 10px;
}

#register
{
	background-image:url(/images/first_time.png);
	background-repeat:none;
	width: 324px;
	height: 42px;
}

/*------------refer friend style start-------------------------------*/
.applx_div_02{
	width:498px;

	float:left;
	margin-left:221px;
	display:inline;
	margin-top:30px;
	margin-bottom:30px;
}
.love_what{
	width:498px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	text-align:center;
	color:#646464;
	margin-top:10px;
}

.love_what h3{
	line-height:normal;
	font-size:14px;
	font-weight:normal;
	color:#323232;
	margin-bottom:16px;
}
.love_what a{
	text-decoration:none;
	color:#0072bc;
}
.youare_div_02{
	width:498px;
	height:auto;
	float:left;
	display:block;
	margin-top:24px;
	position:relative;
	border-top:1px dotted #898989;
	padding-top:22px;
}
.your_frind{
	width:420px;
	height:auto;
	float:left;
	margin-left:60px;
	display:inline;
	position:relative;
	color:#646464;
	margin-bottom:3px;
}
.in_div{
	width:420px;
	height:auto;
	float:left;
	margin-left:60px;
	display:inline;
	position:relative;
}
.inter_email{
	width:293px;
	height:29px;
	float:left;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	display:block;
	margin-right:4px;
	position:relative;
	background-image:url(/images/inter_img.png);
	background-position:left;
	background-repeat:no-repeat;
}
input.email_friend{
	width:293px;
	height:29px;
	float:left;
	display:block;
	border:0;
	background:none;
	font-size: 24px;
}
.your_frind_02{
	width:420px;
	height:auto;
	float:left;
	margin-left:60px;
	display:inline;
	position:relative;
	color:#acacac;
	font-size:10px;
}
.sub_send{
	width:85px;
	height:42px;
	float:left;
	display:block;
	position:relative;
}
input.send_as{
	width:85px;
	height:42px;
	float:left;
	display:block;
	position:relative;
}
/**/

/*-------Feedback style start---------*/
.is_important{
	width:100%;
	height:auto;
	display:block;
	float:left;
	display:block;
	padding-bottom:6px;
}
.is_important h1
{
	background-position:left;
	background-repeat:no-repeat;
}
.your_feed{
	width:460px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	margin-top:15px;
	margin-bottom:15px;
}
.was_service{
	width:460px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	border-bottom:1px dotted #CCC;
	padding-bottom:12px;
	margin-bottom:12px;
}
.was_service h3{
	font-size:14px;
	font-weight:normal;
	color:#000;
	margin-bottom:10px;
}
.aroo_div{
	width:460px;
	height:auto;
	float:left;
	display:block;
	position:relative;
}
.very_one{
	width:102px;
	height:auto;
	float:left;
	display:block;
}
label.radio_leble{
	width:20px;
	float:left;
	height:20px;
	display:block;
}
label.tex_radio_leble{
	width:auto;
	height:auto;
	display:block;
	line-height:20px;
	color:#646464;
	position:relative;
	display:block;
	float:left;
}
.very_two{
	width:80px;
	height:auto;
	float:left;
	display:block;
}
.very_three{
	width:98px;
	height:auto;
	float:left;
	display:block;
}
.very_four{
	width:76px;
	height:auto;
	float:left;
	display:block;
}
.very_five{
	width:103px;
	height:auto;
	float:left;
	display:block;
}
.was_service_mess{
	width:460px;
	height:auto;
	float:left;
	display:block;
	position:relative;
	padding-bottom:12px;
	margin-bottom:12px;
}
.was_service_mess h3{
	font-size:14px;
	font-weight:normal;
	color:#000;
	margin-bottom:10px;
}
label.arro_message_box{
	width:442px;
	height:165px;
	display:block;
	background-image:url(/images/message_box_a1.png);
	background-repeat:no-repeat;
}
label.arro_message_box textarea.textarea_as
{
	width:432px;
	height:155px;
	display:block;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	border:0;
	background:none;
}
.sub_mess{
	width:117px;
	height:46px;
	margin-left:330px;
	display:inline;
	float:left;
	margin-top:12px;
}
.sub_mess input{
	width:117px;
	height:46px;
}
/**/


/*-------approve twitter middle start------*/
.middle_div_great_a2{
	width:100%;
	height:auto;
	float:left;
	display:block;
	position:relative;
	background-color:#f7f7f7;
}
.applx_div{
	width:498px;
	height:290px;
	float:left;
	margin-left:221px;
	display:inline;
	margin-top:30px;
	margin-bottom:30px;
}
.fa_tw_div{
	width: 100%;
	height:27px;
}



.hoper {
    background-color: #f8f8f8;
    float: left;
    padding: 10px;
    
    margin: 15px;
}

.hoper a {
    font-size: 18px;
}

.selectedHoper {
    border: 2px solid #000;
}
.inactiveHopper
{
	color: #888888;	
}

.facebook_preview {
    background-color: #D2D9E7;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0;
    padding: 5px;
    position: relative;
    width: 448px;
}
.facebook_preview_inner {
    background-color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 10px 10px 70px;
    position: relative;
    width: 368px;
}
.facebook_userpic {
    height: 50px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 50px;
}
.facebook_member {
    color: #3B5998;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.28em;
    padding-top: 10px;
    padding-bottom: 5px;
}
.facebook_message {
    color: #000000;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28em;
    margin-bottom: 10px;
}
.facebook_postpic_wrapper {
    float: left;
    margin-right: 10px;
    width: 90px;
}
.facebook_postinfo {
    float: left;
    width: 268px;
}
.facebook_linktext {
    color: #3B5998;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.28em;
}
.facebook_baseurl {
    color: #3B5998;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28em;
}
.facebook_description {
    color: #808080;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28em;
    margin-top: 5px;
}



.uiForm .upsell {
	width: 960px;
	padding: 20px;
	background-color: #F2E8B4;
	border-top: solid 1px #fff;
	margin-bottom: -20px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	-moz-box-shadow: 0 0 20px #999, 0 0 80px #C4AF49 inset;
	-webkit-box-shadow: 0 0 20px #999, 0 0 80px #C4AF49 inset;
	box-shadow: 0 0 20px #999, 0 0 80px #C4AF49 inset;
	background-image: -moz-linear-gradient(top, #F2E8B4, #d1be62); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F2E8B4),color-stop(1, #d1be62)); /* Saf4+, Chrome */
	background: linear-gradient(#F2E8B4, #d1be62);
	-pie-background: linear-gradient(#F2E8B4, #d1be62);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiForm .listonly {
	width: 960px;
	padding: 0 20px;
	height: 60px;
	background: #f2f2f2;
	border-top: solid 1px #fff;
	-moz-box-shadow: 0 0 20px #cccccc inset;
	-webkit-box-shadow: 0 0 20px #cccccc inset;
	box-shadow: 0 0 20px #cccccc inset;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.member_update.container_12 ul li ul li.buttons { padding: 0 20px; }
.container_12 .grid_12, .container_16 .grid_16 {}
.member_update.container_12,  .member_update .grid_12, .member_update .grid_8, .member_update .content_wrapper {
    width: 1000px !important;
}
.member_update .box.form.clearfix .grid_8 { margin: 0 !important; }
.member_update .uiFormRow.clearfix {
    background: url(/images/form_bg.png) left bottom repeat !important;
}
.member_update .box {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #666;
    margin: 0 0 20px;
    padding: 0 20px 20px;
    position: relative;
    z-index: 1;
}
.member_update .box_section {
    background-color: #EDEDED;
    border-bottom: 1px solid #CCC;
    border-radius: 8px 8px 0 0;
    font-family: myriad-pro,Helvetica,Arial,Verdana,sans-serif;
    font-weight: 400;
    margin: 0 -20px !important;
    padding: 20px;
    position: relative;
    text-shadow: 1px 1px 0 #EFEFEF;
}
.member_update .box_section h1 {
    color: #000000;
    margin-top: 0;
    text-shadow: 0 0 30px #F2F2F2;
}
.member_update .uiFormRowHeader {
	font-size: 21px;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif; 
	font-weight: 600;
	line-height: 26px;
	text-shadow: 1px 1px 0px #fff;
	color: #000;
	margin: 0 0 -1px 0!important;
	padding: 20px;
	width: 960px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #e5e5e5;
	background-color: #000000;
	background-image: -moz-linear-gradient(top, #d9d9d9, #f2f2f2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d9d9d9),color-stop(1, #f2f2f2)); /* Saf4+, Chrome */
	background: linear-gradient(#d9d9d9, #f2f2f2);
	-pie-background: linear-gradient(#d9d9d9, #f2f2f2);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.member_update .uiForm.small .uiFormRowHeader {
	padding: 20px;
	width: 620px;
}
.member_update .uiForm .uiFormRow {
	width: 1000px;
	background: url(/images/form_divider.png) no-repeat;
}

.member_update .uiFormRowHeader { padding: 20px; }
.member_update .uiFormRow li.fieldname { width: 310px; padding:12px 20px 10px; clear: left; background: url("/images/form_divider.png") no-repeat scroll 0 0 transparent }
.member_update .uiFormRow li.field { padding:12px 20px 10px !important; width: 610px !important; background:url("/images/form_divider.png") no-repeat scroll 0 0 transparent}
.member_update .uiFormRow li.field select { width: 275px; margin: -1px -2px -1px -1px; border: none !important; }
.member_update .uiFormRow li.field .uiSelectWrapper:hover { background:#fff; }
.member_update .uiFormRow.listonly.clearfix {	background: #f2f2f2 !important; height: 90px; }
.member-name { float:left; width: 600px; margin: 0 0 10px; }
.delete-member { float:right; width: 400px; margin: 0px; }

.uiSelectWrapper {
	padding: 6px 9px;
	height: 18px;
	float: left;
	background-color: #eeeeee;
	border: solid 1px #c9c9c9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 1px 1px 3px #e5e5e5 inset;
	-webkit-box-shadow: 1px 1px 3px #e5e5e5 inset;
	box-shadow: 1px 1px 3px #e5e5e5 inset;
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}
	.uiSelectWrapper:hover {
		border: solid 1px #b3b3b3;
	}
	.uiSelectWrapper.active, .uiSelectWrapper.active:hover {
		color: #000;
		background: none repeat scroll 0 0 transparent;
		background-color: #fff;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
.uiSelectInner {
	overflow: hidden;
	float: left;
}
.uiSelect {	
	-webkit-appearance: none;
	margin: -1px!important;
	padding: 0;
	display: inline-block;
	float: left;
	height: 20px;
	z-index: 2;
	color: #000;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size: 14px;
	border: none;
	outline: medium none!important;
	background: url(/images/select_arrow.png) no-repeat center right;
}
.uiSelect.active {
	color: #000;
}

/*...Twitter Prev....*/

.twitter-prev-area{
	width:458px;
	margin:0 auto;
	text-align:left;
}

.twitter-prev{
	margin:10px 0px 30px 0px;
	clear:both;
	font-size:15px;
	font-family: Arial,"Helvetica Neue",sans-serif;
    line-height: 19px;
    padding: 0;
    word-wrap: break-word;
	color:#444444;
	background:#ffffff;
	padding:10px 6px 10px 6px;
	cursor:pointer;
}

.tweet-image {
    float: left;
    height: 48px;
    margin-top: 3px;
    overflow: hidden;
    width: 48px;
	border:0;
}

.tweet-row {
    display: block;
    line-height: 15px;
    position: relative;
}

.tweet-content {
    margin-left: 58px;
    min-height: 48px;
}

.tweet-content a{
	color: #0084B4;
	text-decoration:none;
}

.tweet-user-name {
    color: #333333 !important;
    font-weight: bold;
}

.tweet-content a:hover{
	color: #0084B4 !important;
	text-decoration:underline;
}


.tweet-full-name {
    color: #999999;
    font-size: 12px;
}

/*---------------------------------*/
/*	TAB SETS					*/
/*---------------------------------*/

.uiTabs {
	height: 35px;
	margin-bottom: 20px;
	padding: 5px 10px 0;
	border-bottom: solid 1px #cccccc;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiTabContentHeader *:first-child {
	margin-top: 0px;
}
.uiTabContentHeader *:last-child {
	margin-bottom: 0px;
}

.uiTabs a {
	float: left;
	margin: 5px 0 0 0;
	padding: 0 14px;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	color: #666666;
	text-shadow: 1px 1px 0px #e5e5e5;
	border-top: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(top, #f2f2f2, #cccccc); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #cccccc)); /* Saf4+, Chrome */
	background: linear-gradient(#f2f2f2, #cccccc);
	-pie-background: linear-gradient(#f2f2f2, #cccccc);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiTabs a:first-child {
	border-left: solid 1px #cccccc;
}
.uiTabs a.active {
	margin: 0 0 -1px 0;
	padding: 4px 14px 1px;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	color: #000000;
	text-shadow: none;
	border: solid 1px #ccc;
	border-bottom: none;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #ffffff)); /* Saf4+, Chrome */
	background: linear-gradient(#f2f2f2, #ffffff);
	-pie-background: linear-gradient(#f2f2f2, #ffffff);
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

/*---------------------------------*/
/*	PAYMENT FAILED & ACTIONS POPUP STYLES */
/*---------------------------------*/
.payment_status,
.actions{
	position: relative;
}

.payment_status{
	width: 200px;
}

.actions{
	width: 135px;
}

.payment_status > a{
	color: #0080FF;
	background: url('/images/expand-arrow.png') right center no-repeat;
	padding-right: 12px;
	font-size: 24px;
}



.payment_status .payment_status_popup,
.actions .actions_popup{
	position: absolute;
	display: none;
	z-index: 999;
	background: #f7f7f7;
	margin: 0;
	list-style-position: inside;
	border: 1px solid #000;
	min-width: 180px;
	right: 13px;
	top: 30px;
	font-size: 18px;
	padding: 10px 5px 10px 10px;
}

.actions .actions_popup{
	right: 0;
}

.actions .actions_popup li{
	list-style: none;
}

.payment_status .payment_status_popup a,
.actions .actions_popup a{
	color: #0072b2;
}

.payment_status.on .payment_status_popup,
.actions.on .actions_popup{
	display: block;
}


body {
	background: transparent url(/images/bg_1.png);
	padding-top: 50px;
}


.navbar {
	background: #fff;
	line-height: 50px;
	border-bottom: solid 1px #dcdcdc;
}
.navbar-inner,
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	background: none;
	border: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.super-header {
	text-align: center;
}
.super-header .label {
	margin: 80px 0 0px;
	display: inline-block;
}
.super-header .super-post-title {
	margin-top: 0;
	font-size: 72px;
	text-shadow: 1px 1px #ffffff;
}
.super-header .super-post-title a {
	color: #333;
}
.super-header .super-post-title a:hover {
	color: #000;
	text-decoration: none;
}
.super-header .super-post-sub {
	font-size: 30px;
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-style: italic;
	text-shadow: 1px 1px #ffffff;
	font-weight: normal;
	color: #666666;
}



