<ul id="pagination">

    <?php if (isset($this->previous)): ?>
        <li class="previous"><a href="javascript:<?php echo $this->ajaxmethod ."('" .$this->previous ."')"; ?>">&lt; Previous</a></li>
        <?php else: ?>
            <li class="previous-off">&lt; Previous</li>

        <?php endif; ?>

    <?php foreach ($this->pagesInRange as $page): ?>

	<?php if ($page != $this->current): ?>
	    <li><a href="javascript:<?php echo $this->ajaxmethod ."('" .$page ."')"; ?>"><?= $page; ?></a></li>
        <?php else: ?>
	    <li class="active"><?= $page; ?></li>
	<?php endif; ?>
    <?php endforeach; ?>

     <!-- Next page link -->
    <?php if (isset($this->next)): ?>
	<li class="next"><a href="javascript:<?php echo $this->ajaxmethod ."('" .$this->next ."')"; ?>">Next &gt;</a></li>
    <?php else: ?>
	<li class="next-off">Next &gt;</li>
    <?php endif; ?>

</ul>
