<link type="text/css" rel="stylesheet" href="/css/pagination.css" />
<ul id="pagination" <?php if (isset($this->isAjax) && $this->isAjax) : ?>class="pagination-ajax"<?php endif; ?>>

    <?php 
    if(!isset($this->extraParams))
        $this->extraParams = array();
    
    if (isset($this->previous)): 
        $urlParams  =   array_merge(array('page' => $this->previous),$this->extraParams)
    ?>
        <li class="previous"><a href="<?= $this->url($urlParams); ?>">&lt; Previous</a></li>
        <?php else: ?>
            <li class="previous-off">&lt; Previous</li>

        <?php endif; ?>

    <?php foreach ($this->pagesInRange as $page): ?>

	<?php if ($page != $this->current): 
        $urlParams  =   array_merge(array('page' => $page),$this->extraParams)

    ?>
	    <li><a href="<?= $this->url($urlParams); ?>"><?= $page; ?></a></li>
        <?php else: ?>
	    <li class="active"><?= $page; ?></li>
	<?php endif; ?>
    <?php endforeach; ?>

     <!-- Next page link -->
    <?php if (isset($this->next)): 
            $urlParams  =   array_merge(array('page' => $this->next),$this->extraParams)

    ?>
	<li class="next"><a href="<?= $this->url($urlParams); ?>">Next &gt;</a></li>
    <?php else: ?>
	<li class="next-off">Next &gt;</li>
    <?php endif; ?>

</ul>
