@charset "UTF-8";
/* CSS Document */


body.coldwell {
	background: url('/images/new-images/main-bg.png') center center #ebeff4;
}

body.coldwell .logoHeader {
	background: url('/images/new-images/header-bg.png') center center #dde3ed;
	border-bottom: 1px solid #a6b9d5;
}

body.coldwell .listing {
	background: url('/images/new-images/header-bg.png') center center #dde3ed;
}

body.coldwell .footer {
	background: url('/images/new-images/footer-bg.png') center center #c7d1de;
}

body.coldwell .uiButtonNew {
	background-color: #FEB218;
}

body.coldwell .listing .slider{
	background: #eaeff6;
}

body.coldwell .listing .notUsingCBAgent{
	background: #eaeff6;
}