@charset "UTF-8";
/* CSS Document */


body.royal-lepage {
	/* background: url('/images/new-images/main-bg.png') center center #ebeff4;  USE SAME AS CB ??? */
	background: url('/images/new-images/main-bg.png');
}

body.royal-lepage .logoHeader {
	/* background: url('/images/new-images/header-bg.png') center center #dde3ed;
	border-bottom: 1px solid #a6b9d5;  USE SAME AS CB ??? */
	background: url('/images/new-images/opac5.png');
}

body.royal-lepage .listing {
	/* background: url('/images/new-images/header-bg.png') center center #dde3ed;  USE SAME AS CB ??? */
	background: url('/images/new-images/opac5.png');
}

body.royal-lepage .footer {
	/* background: url('/images/new-images/footer-bg.png') center center #c7d1de;  USE SAME AS CB ??? */
	background: url('/images/new-images/opac10.png');
}

body.royal-lepage .uiButtonNew {
	background-color: #D1201F;
}

body.royal-lepage .listing .slider{
	/* background: #eaeff6;  USE SAME AS CB ??? */
	background: url('/images/new-images/opac3.png');
}

body.royal-lepage .listing .notUsingCBAgent{
	/* background: #eaeff6;  USE SAME AS CB ??? */
	background: url('/images/new-images/opac3.png');
}