/*
1020px grid system ~ Core CSS.
12 Columns ~ Margin left: 20px ~ Margin right: 20px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 1020px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width:  65px;}
.container_12 .grid_2 {width: 150px;}
.container_12 .grid_3 {width: 235px;}
.container_12 .grid_4 {width: 320px;}
.container_12 .grid_5 {width: 405px;}
.container_12 .grid_6 {width: 490px;}
.container_12 .grid_7 {width: 575px;}
.container_12 .grid_8 {width: 660px;}
.container_12 .grid_9 {width: 745px;}
.container_12 .grid_10 {width: 830px;}
.container_12 .grid_11 {width: 915px;}
.container_12 .grid_12 {width: 1000px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 105px;}
.container_12 .prefix_2 {padding-left: 190px;}
.container_12 .prefix_3 {padding-left: 255px;}
.container_12 .prefix_4 {padding-left: 360px;}
.container_12 .prefix_5 {padding-left: 445px;}
.container_12 .prefix_6 {padding-left: 530px;}
.container_12 .prefix_7 {padding-left: 615px;}
.container_12 .prefix_8 {padding-left: 700px;}
.container_12 .prefix_9 {padding-left: 785px;}
.container_12 .prefix_10 {padding-left: 870px;}
.container_12 .prefix_11 {padding-left: 955px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 105px;}
.container_12 .suffix_2 {padding-right: 190px;}
.container_12 .suffix_3 {padding-right: 275px;}
.container_12 .suffix_4 {padding-right: 360px;}
.container_12 .suffix_5 {padding-right: 445px;}
.container_12 .suffix_6 {padding-right: 530px;}
.container_12 .suffix_7 {padding-right: 615px;}
.container_12 .suffix_8 {padding-right: 700px;}
.container_12 .suffix_9 {padding-right: 785px;}
.container_12 .suffix_10 {padding-right: 870px;}
.container_12 .suffix_11 {padding-right: 955px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 105px;}
.container_12 .push_2 {left: 190px;}
.container_12 .push_3 {left: 275px;}
.container_12 .push_4 {left: 360px;}
.container_12 .push_5 {left: 445px;}
.container_12 .push_6 {left: 530px;}
.container_12 .push_7 {left: 615px;}
.container_12 .push_8 {left: 700px;}
.container_12 .push_9 {left: 785px;}
.container_12 .push_10 {left: 870px;}
.container_12 .push_11 {left: 955px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -105px;}
.container_12 .pull_2 {left: -190px;}
.container_12 .pull_3 {left: -275px;}
.container_12 .pull_4 {left: -360px;}
.container_12 .pull_5 {left: -445px;}
.container_12 .pull_6 {left: -530px;}
.container_12 .pull_7 {left: -615px;}
.container_12 .pull_8 {left: -700px;}
.container_12 .pull_9 {left: -785px;}
.container_12 .pull_10 {left: -870px;}
.container_12 .pull_11 {left: -955px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}

/* MY ADDITIONS

Grid Boxes to remove margin
-------------------------------------------------------------------*/
.grid_1.no_margin_left { margin-left: 0px; width: 85px; }
.grid_2.no_margin_left { margin-left: 0px; width: 170px; }
.grid_3.no_margin_left { margin-left: 0px; width: 255px; }
.grid_4.no_margin_left { margin-left: 0px; width: 340px; }
.grid_5.no_margin_left { margin-left: 0px; width: 425px; }
.grid_6.no_margin_left { margin-left: 0px; width: 510px; }
.grid_7.no_margin_left { margin-left: 0px; width: 595px; }
.grid_8.no_margin_left { margin-left: 0px; width: 680px; }
.grid_9.no_margin_left { margin-left: 0px; width: 765px; }
.grid_10.no_margin_left { margin-left: 0px; width: 850px; }
.grid_11.no_margin_left { margin-left: 0px; width: 935px; }
.grid_12.no_margin_left { margin-left: 0px; width: 1020px; }

.grid_1.no_margin_right { margin-right: 0px; width: 85px; }
.grid_2.no_margin_right { margin-right: 0px; width: 170px; }
.grid_3.no_margin_right { margin-right: 0px; width: 255px; }
.grid_4.no_margin_right { margin-right: 0px; width: 340px; }
.grid_5.no_margin_right { margin-right: 0px; width: 425px; }
.grid_6.no_margin_right { margin-right: 0px; width: 510px; }
.grid_7.no_margin_right { margin-right: 0px; width: 595px; }
.grid_8.no_margin_right { margin-right: 0px; width: 680px; }
.grid_9.no_margin_right { margin-right: 0px; width: 765px; }
.grid_10.no_margin_right { margin-right: 0px; width: 850px; }
.grid_11.no_margin_right { margin-right: 0px; width: 935px; }
.grid_12.no_margin_right { margin-right: 0px; width: 1020px; }

.grid_1.no_margin { margin: 0px; width: 105px; }
.grid_2.no_margin { margin: 0px; width: 190px; }
.grid_3.no_margin { margin: 0px; width: 275px; }
.grid_4.no_margin { margin: 0px; width: 360px; }
.grid_5.no_margin { margin: 0px; width: 445px; }
.grid_6.no_margin { margin: 0px; width: 530px; }
.grid_7.no_margin { margin: 0px; width: 615px; }
.grid_8.no_margin { margin: 0px; width: 700px; }
.grid_9.no_margin { margin: 0px; width: 785px; }
.grid_10.no_margin { margin: 0px; width: 870px; }
.grid_11.no_margin { margin: 0px; width: 955px; }
.grid_12.no_margin { margin: 0px; width: 1040px; }

.grid_1.padded { margin: 0px; padding: 0 20px; }
.grid_2.padded { margin: 0px; padding: 0 20px; }
.grid_3.padded { margin: 0px; padding: 0 20px; }
.grid_4.padded { margin: 0px; padding: 0 20px; }
.grid_5.padded { margin: 0px; padding: 0 20px; }
.grid_6.padded { margin: 0px; padding: 0 20px; }
.grid_7.padded { margin: 0px; padding: 0 20px; }
.grid_8.padded { margin: 0px; padding: 0 20px; }
.grid_9.padded { margin: 0px; padding: 0 20px; }
.grid_10.padded { margin: 0px; padding: 0 20px; }
.grid_11.padded { margin: 0px; padding: 0 20px; }
.grid_12.padded { margin: 0px; padding: 0 20px; }