@charset "UTF-8";

/* Direct Tag Definitions */
* {
	padding:0;
	margin:0;
}
body { 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	background: #333;
	color: #333; 
}
body.logged { 
	font-family: Tahoma, Geneva, Arial, Verdana, sans-serif; 
	font-size: 14px;
	background: #333;
	color: #333; 
}

p { 
	line-height: 21px; 
	margin: 0.8em 0;
}

body.logged p { 
	line-height: 18px; 
	margin: 0.8em 0;
}

h1,h2,h3,h4,h5,h6 { 
	margin: 1em 0 .25em 0; 
	color: #000000; 
	letter-spacing: -.03em; 
}

h1 { font-size: 30px; line-height: 1em; }
h2 { font-size: 24px; }
h3 { font-size: 21px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, address, fieldset { 
/* 	margin-bottom: .6em;  */
}
p { line-height: 1.5em; margin-bottom: 1em; }
html, body {
	height: 100%;
	width: 100%;
}
body strong {
	color: #333333;
}
form {
	margin: 0px;
}
table{
	color: #1B1B1B;
	margin-top: 7px;
	margin-bottom: 7px;
}
td {
	padding: 8px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
}

a {
	outline: none;
	color: #3d6dcc;
	text-decoration: none;
}
a:hover {
	color: #1452cc;
	text-decoration: underline;
}
ul, ol {
/* 	margin-top: 8px; */
/* 	margin-bottom: 8px; */
}
li ul, li ol {
/* 	margin-top: 1em; */
}
ul li {
/* 	list-style-type: square; */
}
ol li {
	list-style-type: decimal;
}
li {
/* 	margin-bottom: .5em; */
}

dl {
	margin: 0 0 1.5em 0;
}
dl dt {
	font-weight: bold;
	margin: 1em 0 .3em;
}
dd {
	margin-left: 1.5em;
}

abbr, acronym {
	border-bottom: 1px dotted #666666;
}
address {
	margin-top: 1.5em;
	font-style: italic;
}
del {
	color:#666666;
}
sup, sub {
	font-size: 9px;
}

blockquote {
	margin: 1.5em;
	color: #666;
	font-style: italic;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
dfn {
	font-style: italic;
	background: #ffc;
	font-weight: bold;
}
pre,code {
	margin: 1.5em 0;
	white-space: pre;
}
pre,code,tt {
	font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace;
	line-height: 1.5;
} 
tt {
	display: block;
	margin: 1.5em 0;
	line-height: 1.5;
}

img {
	border: none;
}
hr {
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
	line-height: 1px;
	border: none;
	font-size: 1px;
	clear: both;
	float: left;
	width: 100%;
}
hr.doubleline {
	margin: 30px 0 20px 0;
	height: 3px;
	background-color: #fff;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
img.hr {
	display: block;
	height: 1px;
	margin: 10px 0;
	line-height: 1px;
	border: none;
}
span.hr {
	display: block;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
	line-height: 1px;
	border: none;
	font-size: 1px;
}
.bold {
	font-weight: bold;
}
.disclaimer {
	font-size: 10px;
	color: #999;
}
.disclaimer strong {
	color: #666666;
}

ul.normal, ol.normal {
	margin: 0px!important;
}
ul.normal li, ol.normal li {
	line-height: 24px!important;
	margin-left: 10px!important;
}

/*---------------------------------*/
/*	HEADER STYLES				*/
/*---------------------------------*/
#top_cap {
	width: 100%;
	height: 5px;
	background-color: #17181A;
	border-top: solid 1px black;
	position: relative;
}

#header_wrapper {
	width: 100%;
	background-color: #2e3033;
	border-top: solid 1px #393d40;
	position: relative;
}

#header {
	height: 80px;
	position: relative;
}
#logo {
	float: left;
	height: 80px;
	width: 160px;
}
#logo a:hover{
	text-decoration: none;
}
#logo h1 {
	padding-top: 15px;
	font-size: 32px;
	line-height: 32px;
	color: white;
	margin: 0 0 3px 0;
	font-weight: 900;
	text-shadow: -1px -1px 0 #333, 0 0 30px #999;
}
#daily_trials{
	margin-top: 15px;
	background-color: #2A2A2A;
	border: 2px solid #333;
	border-radius: 4px 4px 4px 4px;
	text-align: center;
}
#daily_trials .trial_label {
	color: #B7B7B7;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 600;
	line-height: 28px;
	font-size: 16px;
	display: inline-block;
	padding-left: 1em;
}
#daily_trials .trial_count {
	line-height: 28px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	display: inline-block;
}
#user_nav {
	position: absolute;
	right: 10px;
	font-size: 11px;
}
#user_nav a {
	color: #ffffb2;
}
#user_nav a:hover {
	color: #ffffe3;
}
#top_menu {
	color: #666666;
	padding: 0 60px 0 0;
	position: relative;
}
#top_menu .user_photo {
	position: absolute;
	top: 0px;
	right: 0px;
}
#top_menu .name {
	font-size: 13px;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	display: block;
	border-bottom: solid 1px #000000;
}
#top_menu .name a {
	text-decoration: none;
}
#top_menu .links {
	border-top: solid 1px #333;
	padding-left: 5px;
}
#top_menu .links a {
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	display: block;
}
#top_login {
	color: #666666;
	height: 16px;
}
#open_login {
	color: #999999;
	font-size: 11px;
}
#top_login a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

/*---------------------------------*/
/*	NAVIGATION STYLES			*/
/*---------------------------------*/
#navigation_wrapper {
	width: 100%;
	border-top: solid 1px #404040;
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #1a1a1a, #333333);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1a1a1a),color-stop(1, #333333));
	background: linear-gradient(#1a1a1a, #333333);
	-pie-background: linear-gradient(#1a1a1a, #333333);
	position: relative;
	behavior: url(/css/PIE.htc);
}
#navigation {
	height: 41px;
	padding: 0px 0 0 0;
}
#navigation .grid_4 { margin: 5px 0 0 0; }
/*
#navigation .main {
	float: left;
	margin: 0px 0 0;
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #4d4d4d, #1a1a1a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4d4d4d),color-stop(1, #1a1a1a));
	background: linear-gradient(#4d4d4d, #1a1a1a);
	-pie-background: linear-gradient(#4d4d4d, #1a1a1a);
	border-top: solid 1px #808080;
	border-right: solid 1px #808080;
	z-index: 1;
	position: relative;
	behavior: url(/css/PIE.htc);
}
#navigation .main:first-child {
	border-left: solid 1px #808080;
}
#navigation .main:hover {
	background: #666666;
}
#navigation .main.parent:hover {
}
#navigation .main.active, #navigation .main.active:hover {
	background: #FFFFFF;
	border: none;
	margin-top: -5px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	z-index: 2;
	position: relative;
	-pie-background: linear-gradient(#ffffff, #ffffff);
	behavior: url(/css/PIE.htc);
}
#navigation .main a {
	display: block;
	padding: 7px 15px 7px!important;
	color: #FFFFFF;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold!important;
	text-decoration: none!important;
}
#navigation .main.active a {
	padding: 13px 15px 7px!important;
	color: #000;
	font-size: 14px;
}
#navigation .main.active.parent:hover a {
	color: #FFF;
	font-size: 14px;
}
#navigation .main .subs {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 40px 0 0;
	border-top: none;
	background-color: #666;
}
#navigation .main.active .subs {
	margin-top: 46px;
}
	#navigation .main .subs.right {
		left: auto;
		right: 0px;
	}
#navigation .main.parent:hover .subs {
	display: block;
}
#navigation .main.parent .subs .sub {
	display: block!important;
	border-top: solid 1px #808080;
	border-bottom: solid 1px #333333;
}
#navigation .main.parent .subs .sub:first-child {
	border-top: none;
}
#navigation .main.parent .subs .sub:hover {
	background-color: #4d4d4d;
}
#navigation .main.parent .subs .sub a, #navigation .main.parent.active .subs .sub a {
	display: block!important;
	padding: 7px 15px 7px!important;
	text-decoration: none!important;
	white-space: nowrap;
	color: #e5e5e5;
	font-size: 12px!important;
}
#navigation .main.parent .subs .sub a:hover {
	color: #FFFFFF;
}
#navigation .main.active.parent:hover {
	background: #666666;
	color: #FFFFFF!important;
}
*/
/*---------------------------------*/
/*	CONTENT STYLES				*/
/*---------------------------------*/

#content_wrapper {
	width: 100%;
	width: 100%;
	background: #ffffff;
}
#content {
	position: relative;
	padding: 30px 0 50px;
}

/*---------------------------------*/
/*	FOOTER STYLES				*/
/*---------------------------------*/

#footer {
	color: #CCC;
	text-align: left;
	margin-bottom: 40px; 		/* this will cause IEs to have "extra" dark gray  section on bottom on page */
	padding-bottom: 40px;
	margin-top: 5px;
}
	#footer .box {
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px 8px 8px 8px;
		position: relative;
		behavior: url(/css/PIE.htc);
	}
	#footer h5 {
		color: #FFF;
	}
	#footer a {
		color: #CCC;
		font-size: 14px;
		line-height: 14px;
		display: inline-block;
		padding: 0 6px;
		border-left: solid 1px #999;
	}
	#footer a:hover {
		color: #FFF;
	}
	#footer a:first-child {
		border: none;
	}

/*---------------------------------*/
/*	PAGINATION				*/
/*---------------------------------*/
	
#pagination {
	margin: 20px 0 0 0;
	padding: 0px;
}
#pagination li { 
	border:0; 
	margin:0; 
	padding:0; 
	font-size:11px; 
	list-style:none; 
	/* savers */ 
	float:left; 
}
#pagination a {
	border:1px solid #CCC;
	margin-right:2px;
	color: #1B1B1B;
}
#pagination .previous-off,
#pagination .next-off {
	border:solid 1px #f2f2f2;
	background-color: #f8f8f8;
	color: #e5e5e5;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination .next a,
#pagination .previous a { 
	font-weight:bold;
}	
#pagination .active {
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left; /* savers */
	margin-right:2px;
	background-color: #333333;
	border:1px solid #000000;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination a:link, 
#pagination a:visited {
	color:#1B1B1B;
	background-color: #f8f8f8;
	display:block;
	float:left;
	text-decoration:none;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
#pagination a:hover {
	border:1px solid #b3b3b3;
	background-color: #ffffff;
}

/*---------------------------------*/
/*	FACEBOOK PREVIEW			*/
/*---------------------------------*/

.facebook_preview_wrapper {
	position: absolute;
	border: solid 1px #e5e5e5;
	background-color: #ffffff;
	padding: 9px;
	width: 490px;
	height: 332px;
	top: 36px;
	right: 5px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	behavior: url(/css/PIE.htc);
	z-index: 100;
}
.facebook_preview_wrapper * {
	text-shadow: none;
	font-weight: normal;
}
.facebook_preview_header {
	width: 490px;
	height: 30px;
	background: url(/images/fb_message_header.png);
}
.facebook_preview {
	width: 478px;
	padding: 5px;
	margin: 0;
	border: solid 1px #D2D9E7;
	background-color: #EDEFF4;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.facebook_preview_inner {
	border-top: solid 1px #D2D9E7;
	width: 398px;
	padding: 0 10px 10px 70px;
	background-color: #ffffff;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.facebook_userpic {
	position: absolute;
	left: 10px;
	top: 10px;
}
.facebook_member {
	font-weight: bold;
	font-size: 11px;
	color: #3B5998;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	padding-bottom: 5px;
	line-height: 1.28em;
	margin-top: 10px;
}
.facebook_message {
	font-size: 11px;
	color: #000000;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	display: block;
	line-height: 1.28em;
	margin-bottom: 10px;
}
.facebook_postpic_wrapper {
	float: left;
	margin-right: 10px;
	width: 90px;
}
.facebook_postinfo {
	float: left;
	width: 298px;
}
.facebook_linktext {
	font-size: 11px;
	font-weight: bold;
	color: #3B5998;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28em;
}
.facebook_baseurl {
	font-size: 11px;
	color: #3B5998;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28em;
}
.facebook_description {
	font-size: 11px;
	color: #808080;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28em;
	margin-top: 5px;
}

/*---------------------------------*/
/*	VARIOUS ELEMENTS			*/
/*---------------------------------*/

.member_pic {
	width: 200px;
	float: left;
}

.member_data {
	border-left: solid 1px #e5e5e5;
	padding: 0 0 0 19px;
	width: 780px;
	float: left;
}

.selected_users {
	width: 1000px;
}
.selected_users .userbox {
	float: left;
	overflow: hidden;
	margin: 0 3px 3px 0;
	padding: 3px 3px 3px 32px;
	width: 60px;
	height: 24px;
	font-size: 10px;
	line-height: 12px;
	border: solid 1px #ccc;
	background-color: #f2f2f2;
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #e5e5e5)); /* Saf4+, Chrome */
	background: linear-gradient(#ffffff, #e5e5e5);
	-pie-background: linear-gradient(#ffffff, #e5e5e5); /*PIE*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.selected_users img {
	position: absolute;
	top: 3px;
	left: 3px;
}

#char_counter {
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	padding: 0 10px;
	line-height: 30px;
	background: url(/images/button_bgs.png) 0 -420px;	
	position: absolute;
	top: 12px;
	right: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}

table, tbody, tfoot, thead, tr, th, td {
	vertical-align: middle!important;
}

/*---------------------------------*/
/*	CALL-OUTS/NOTICES			*/
/*---------------------------------*/

.callout {
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	color: #FFF;
	text-shadow: -1px -1px 1px #333;
	padding: 5px 8px;
	background-color: #FFF;
	position: absolute;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 5px 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	background-color: #333333; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #999999, #333333); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #999999),color-stop(1, #333333)); /* Saf4+, Chrome */
	background: linear-gradient(#999999, #333333);
	-pie-background: linear-gradient(#999999, #333333);
}
.callout div.arrow {
	position: absolute;
	border-style: solid;
	float: left;
	height: 0px;
	width: 0px;
}
.callout.upper div.arrow {
	border-color: transparent transparent #333333;
	border-width: 0 5px 5px 5px;
}
.callout.lower div.arrow {
	border-color: #333333 transparent transparent;
	border-width: 5px 5px 0 5px;
}
.callout.upper.left div.arrow {
	top: -5px;
	left: 5px;
}
.callout.upper.right div.arrow {
	top: -5px;
	right: 5px;
}
.callout.lower.right div.arrow {
	bottom: -5px;
	right: 5px;
}
.callout.lower.left div.arrow {
	bottom: -5px;
	left: 5px;
}

.callout .title {
	display: block;
	font-size: 14px;
	font-weight: normal;
	font-family: Impact;
	padding: 0 5px 2px;
	border-bottom: solid 1px #e06666;
}
.callout .message {
	display: block;
}

.notice {
	background-color:#FFF7F7;
	border-width: 1px;
	border-style: solid;
	border-color: #FFCCCC #FFF0F0 #FFE5E5 #FFF0F0;
	padding: 5px;
	margin: 0 0 5px 0;
	font-size: 11px;
}
.notice_title {
	font-size: 11px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #CC0000;
}
.notice a {
	float: right;
}
.remove_notice_x {
	background-image: url(/images/remove_notice_bg.gif);
	height: 11px;
	width: 11px;
}
.remove_notice_x:hover {
	background-position: left bottom;
}
.notice hr {
	height: 1px;
	background-color: #ffe5e5;
	margin: 5px 0;
	line-height: 1px;
	border: none;
	font-size: 1px;
}

.triangle {
	border-color: transparent;
	border-width: 5px;
	position: absolute;
	border-style: solid;
	float: left;
	height: 0px;
	width: 0px;
	z-index: 50;
}
	.triangle.shadow {
		border-width: 6px;
		z-index: 49;
	}
.triangle.top {
	border-top-width: 0px;
	border-bottom-color: #000000;
	top: -5px;
}
	.triangle.shadow.top {
		top: -6px;
	}
.triangle.right {
	border-right-width: 0px;
	border-left-color: #000000;
	right: -5px;
}
	.triangle.shadow.right {
		right: -6px;
	}
.triangle.bottom {
	border-bottom-width: 0px;
	border-top-color: #000000;
	bottom: -5px;
}
	.triangle.shadow.bottom {
		bottom: -6px;
	}
.triangle.left {
	border-left-width: 0px;
	border-right-color: #000000;
	left: -5px;
}
	.triangle.shadow.left {
		left: -6px;
	}

.hoper {
    background-color: #f8f8f8;
    float: left;
    padding: 10px;
    
    margin: 15px;
}

.hoper a {
    font-size: 18px;
}

.selectedHoper {
    border: 2px solid #000;
}
.inactiveHopper
{
	color: #888888;	
}


.box {
	padding: 20px;
	margin: 0 0 20px;
	background-color: #FFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
	-moz-box-shadow: 1px 1px 3px #666666;
	-webkit-box-shadow: 1px 1px 3px #666666;
	box-shadow: 1px 1px 3px #666666;
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 1;
}	
.box.gray {
    background: none repeat scroll 0 0 #D9D9D9;
    box-shadow: none;
    margin: 0 0 20px;
    padding: 20px;
}
.box.gradgray {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0 20px;
	padding: 20px;
	color: #333;
	background: none;
	background-color: #d9d9d9;
	background-image: -moz-linear-gradient(top, #e5e5e5, #999999); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e5e5e5),color-stop(1, #999999)); /* Saf4+, Chrome */
	background: linear-gradient(#e5e5e5, #999999);
	-pie-background: linear-gradient(#e5e5e5, #999999);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.box.darkgradgray {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0 20px;
	padding: 20px;
	color: #ccc;
	background: none;
	background-color: #1a1a1a;
	background-image: -moz-linear-gradient(top, #1a1a1a, #4d4d4d); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1a1a1a),color-stop(1, #4d4d4d)); /* Saf4+, Chrome */
	background: linear-gradient(#1a1a1a, #4d4d4d);
	-pie-background: linear-gradient(#1a1a1a, #4d4d4d);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.box p {
	text-align: justify;
}
.box.gradblack {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0 20px;
	padding: 20px;
	color: #ccc;
	background: none;
	background-color: #000000;
	background-image: -moz-linear-gradient(top, #0d0d0d, #000000); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0d0d0d),color-stop(1, #000000)); /* Saf4+, Chrome */
	background: linear-gradient(#0d0d0d, #000000);
	-pie-background: linear-gradient(#0d0d0d, #000000);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.box.fb_army {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #000000 url(/images/fb_army_box_bg.png) center top no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
}
.box.nobg {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
}

/* Almost all elements need this */
.box *:first-child {
	margin-top: 0px;
}

/* SLIDER */
.slider_wrapper {
	height: 290px;
	border-bottom: solid 1px #e5c973;
	text-shadow: 1px 1px 0px #ffffff;
	background-color: #fff6cc;
	background-image: -moz-linear-gradient(top, #fffde5, #ffecb2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fffde5),color-stop(1, #ffecb2)); /* Saf4+, Chrome */
	background: linear-gradient(#fffde5, #ffecb2);
	-pie-background: linear-gradient(#fffde5, #ffecb2);
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}
.slider_wrapper .left {
	float: left;
	width: 300px;
	padding: 30px 0;
}
.slider_wrapper .right {
	float: left;
	width: 560px;
	padding-left: 40px;
}
.slider_wrapper .bx-wrapper {
	margin: 0 auto;
}
.slider_wrapper .bx-prev {
	background: url(/images/slider_arrow_bgs.png) no-repeat scroll 0 0 transparent;
	height: 30px;
	left: -14px;
	position: absolute;
	text-indent: -999999px;
	top: 130px;
	width: 30px;
}
.slider_wrapper .bx-prev:hover {
	background-position: 0 -30px;
}
.slider_wrapper .bx-next {
	background:url(/images/slider_arrow_bgs.png) no-repeat scroll 0 -60px transparent;
	height: 30px;
	position: absolute;
	right: -14px;
	text-indent: -999999px;
	top: 130px;
	width: 30px;
}
.slider_wrapper .bx-next:hover {
	background-position: 0 -90px;
}
.#slider > li {
	margin: 0px!important;
}
.slider_bottom {
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #ffecb2;
	height: 65px;
	padding: 10px 0;
	font-size: 18px;
	text-shadow: 1px 1px 0px #ffffff;
	background-color: #fffff2;
	z-index: 1;
}
.bx-pager {
	position: absolute;
	top: 300px;
	left: 80px;
}
.bx-pager a {
	float: left;
	margin-right: 10px;
	padding-bottom: 4px;
}
.bx-pager a span {
	display: block;
	line-height: 15px;
	font-size: 12px;
	font-weight: normal;
}
.bx-pager a:hover {
	text-decoration: none!important;
}
.bx-pager a.pager-active {
	padding-bottom: 2px;
	border-bottom: solid 2px #000;
}
.bx-pager a.pager-active span {
	display: block;
	line-height: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

/* PRICING AND PLANS */
.plan_option {
	border: solid 1px #e5e5e5;
	border-top: solid 1px #FFFFFF;
	padding: 10px;
	font-size: 11px;
	color: #666666;
	font-family: Tahoma, Geneva, Arial, Verdana, sans-serif; 
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #f2f2f2)); /* Saf4+, Chrome */
	background: linear-gradient(#fafafa, #f2f2f2);
	-pie-background: linear-gradient(#fafafa, #f2f2f2);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.plan_option.active {
	border: solid 1px #b8e5bc;
	border-top: solid 1px #FFFFFF;
	background-color: #e5ffe5;
	background-image: -moz-linear-gradient(top, #f2fff2, #e3ffe2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2fff2),color-stop(1, #e3ffe2)); /* Saf4+, Chrome */
	background: linear-gradient(#f2fff2, #e3ffe2);
	-pie-background: linear-gradient(#f2fff2, #e3ffe2);
	color: #333;
}
.plan_option.first {
	border-top: solid 1px #e5e5e5;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.plan_option.active.first {
	border-top: solid 1px #b8e5bc;
}
.plan_option.last {
	border-bottom: solid 1px #d9d9d9;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.plan_option_info {
	float: left;
	width: 335px;
	height: 100px;
	padding-right: 9px;
	padding-left: 65px;
	border-right: solid 1px #d9d9d9;
}
.plan_option_info.army {
	background-image: url(/images/fan-plus-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.plan_option_info.birthday {
	background-image: url(/images/birthday-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.plan_option_info.data {
	background-image: url(/images/datalock-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.plan_option.active .plan_option_info {
	border-right: solid 1px #a1e5a8;
}
.plan_option_list {
	float: left;
	width: 240px;
	height: 100px;
	padding: 0 10px 0 9px;
	border-left: solid 1px #ffffff;
}
.plan_option_list li {
	line-height: 20px;
	margin: 0px;
}
.plan_option_selector {
	float: left;
	width: 120px;
	height: 110px;
	margin: -11px 0;
	padding: 10px 9px 0;
	background-color: #fff;
	border: solid 1px #d9d9d9;
	border-top: solid 1px #ffffff;
	text-align: center;
	font-weight: bold;
	color: #cc0000;
	-moz-box-shadow: 0 10px 10px #CCC;
	-webkit-box-shadow: 0 10px 10px #CCC;
	box-shadow: 0 10px 10px #CCC;
	behavior: url(/css/PIE.htc);
}
.plan_option_selector.first {
	margin: -20px 0 -11px 0;
	padding: 19px 9px 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.plan_option_selector.last {
	margin: -11px 0 -20px 0;
	padding: 20px 9px 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.plan_option.active .plan_option_selector {
	border: solid 1px #66cc70;
	color: #006600;
	background-color: #f2fff2;
	-moz-box-shadow: 0 10px 10px #66cc70;
	-webkit-box-shadow: 0 10px 10px #66cc70;
	box-shadow: 0 10px 10px #66cc70;
}
.plan_option_pricing {
	float: left;
	width: 158px;
	height: 100px;
	padding-left: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	font-size: 11px;
	font-style: italic;
	color: #999;
}
.plan_option_pricing strong {
	display: block;
	margin-top: 10px;
	line-height: 40px;
	border-bottom: solid 1px #ededed;
	font-size: 12px;
	font-style: normal;
}
.plan_option.active .plan_option_pricing strong {
	border-bottom: solid 1px #c8facd;
}
.plan_option_pricing span {
	font-size: 24px;
}
.plan_option_info h2 {
	margin: 0 0 10px;
	font-size: 18px;
}

.input_table td
{
	padding: 4px;	
}
.plan_option.mid, .plan_option.last { cursor: pointer; }


/* breadcrumbs css */
.new_breadcrumbs{
	background: #fff; /* Old browsers */
	border: solid 1px #d8dfe5;
	padding: 0px 10px;
	margin-bottom: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 0 0 30px #e1e9f0, 0 1px 0 #ffffff;
	-webkit-box-shadow: 0 0 30px #e1e9f0, 0 1px 0 #ffffff;
	box-shadow: 0 0 30px #e1e9f0, 0 1px 0 #ffffff;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.new_breadcrumbs ul { margin: 0; padding: 0; }
.new_breadcrumbs ul li { background: url(/images/breadcrumb-separator.png) right center no-repeat; float:left; display:inline-block; color:#949897; padding: 0 20px 0 0; font-size: 13px; margin: 0 15px 0 0; height: 36px; line-height:36px; text-shadow: 1px 1px 0 #ffffff; width: 290px; font-family: Tahoma,Geneva,Arial,Verdana,sans-serif; }
.new_breadcrumbs ul li.last-bc { background: none; }
.new_breadcrumbs ul li.active { color:#24abdf; }

.new_breadcrumbs ul li span { float:left; display:block; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; height: 20px; line-height: 18px; width: 20px; background:#bbb9ba; color:#fff; text-align:center; margin:8px 8px 8px 0; font-size: 13px; text-shadow: none;position: relative;behavior: url(/css/PIE.htc); }
.new_breadcrumbs ul li.active span { background:#1781aa; text-shadow: 1px 1px 0 #256796; }

/* new navigation implemenation */
#navigation .new_navigation { overflow: visible; }
#navigation .new_navigation ul { margin:0; padding: 0; list-style: none; }
#navigation .new_navigation ul li { margin:0; padding:0; position: relative; display: inline-block; float:left;
	background: -moz-linear-gradient(top, #4d4d4d, #1a1a1a);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4d4d4d),color-stop(1, #1a1a1a));
	background: linear-gradient(#4d4d4d, #1a1a1a);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */ 
	border-top: solid 1px #808080;
	border-right: solid 1px #808080;
}
#navigation .new_navigation ul li a { display: inline-block; float:left; 
	padding: 7px 16px 7px;
	color: #FFFFFF;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: none;
	border: none;
}
#navigation .new_navigation ul li.first { border-left:solid 1px #808080;}
#navigation .new_navigation ul li:hover { border-top-color:#fff; }
#navigation .new_navigation ul li:hover a { background:#d8e1eb; color:#000; }

#navigation .new_navigation ul li ul { display: none; position: absolute; top: 40px; left:0; width: 180px; z-index: 99999; padding: 10px 10px 9px; background: #d8e1eb; }
#navigation .new_navigation ul li:hover ul { display:block; z-index: 99999; }
#navigation .new_navigation ul li ul li { float: none; display:block; border-right: none; border-top: none; border-bottom: 1px solid #ccc !important; }
#navigation .new_navigation ul li ul > li:last-child { border-bottom: none !important; }
#navigation .new_navigation ul li.active ul, .new_navigation ul li.active:hover ul { top: 46px; }

#navigation .new_navigation ul li.active.first { border-left: none; }
#navigation .new_navigation ul li.active { background: #ffffff; border: none; border-radius: 6px 6px 0 0; margin-top: -5px; position: relative; }
#navigation .new_navigation > ul > li.active > a { background: #fff; color: #000000; font-size: 14px; padding: 13px 15px 8px; border-radius: 6px 6px 0 0; border-bottom: none; }
#navigation .new_navigation ul li.parent.active:hover, .new_navigation ul li.parent.active:hover a { border-radius: 6px 6px 0 0; background:#D8E1EB; }
#navigation .new_navigation ul li.active:hover { background:#fff;  }

#navigation .new_navigation ul li.active ul li a,
#navigation .new_navigation ul li.active:hover ul li a,
#navigation .new_navigation ul li.active ul li a,
#navigation .new_navigation ul li.parent.active:hover ul li a,
#navigation .new_navigation ul li ul li a,
#navigation .new_navigation ul li:hover ul li a { display:block; float: none; font-weight: normal; font-size: 13px; color:#47617a; background:#d8e1eb; padding: 7px 15px; border-radius: 0; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1eb', endColorstr='#d8e1eb',GradientType=0 ); text-shadow: 1px 1px 0 #fff; font-weight: bold; }

#navigation .new_navigation ul li:hover ul li:hover {}
#navigation .new_navigation ul li:hover ul li:hover a,
#navigation .new_navigation ul li.active:hover ul li:hover  a{ background:#ebf0f5 !important; color:#333; }

.fb_messages .uiFormRowHeader .facebook_preview_wrapper { height: auto; }
.uiFormRow {
	width: 100%;
	float: left;
	font-size: 12px;
	position: relative;
	border-top: solid 1px #E5E5E5;
}
.uiFormRow .fieldname {
	float: left;
	padding: 5px 0;
	line-height: 30px;
	width: 240px;
}
.fieldname {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-indent: 0px;
}

.uiFormRow .fieldname.cc {
	clear: left;
}

.uiFormRow .field.cc {
	width: 200px;
}
.uiFormRow .field {
	float: left;
	padding: 5px 0px 5px 0;
	line-height: 30px;
	width: 380px;
}
.uiFormRow .payment_hint {
	display: inline-block;
	font-size: 11px;
	clear: left;
}
.member_update .uiFormRowHeader {
	font-size: 21px;
	font-family: myriad-pro, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 600;
	line-height: 26px;
	text-shadow: 1px 1px 0px white;
	color: black;
	margin: 0 0 -1px 0!important;
	padding: 20px;
	width: 960px;
	border-top: none;
	border-radius: 0;
	border-bottom: solid 1px #E5E5E5;
	background-color: #d9d9d9;
	background-image: -moz-linear-gradient(top, #D9D9D9, #F2F2F2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D9D9D9),color-stop(1, #F2F2F2));
	background: linear-gradient(#D9D9D9, #F2F2F2);
	-pie-background: linear-gradient(#d9d9d9, #f2f2f2);
	position: relative;
	behavior: url(/css/PIE.htc);
}
/* .member_update #extraForm .uiForm:first-child .uiFormRowHeader{ */
/* 	border-radius: 8px 8px 0 0; */
/* } */
.member_update .uiFormRowHeader {
	padding: 20px;
}
.member_update .uiForm .uiFormRow {
	width: 1000px;
	background: url(/images/form_divider.png) no-repeat;
}
.member_update .uiForm .uiFormRow:last-child{
	border-bottom: none;
}
.member_update .uiFormRow li.fieldname {
	width: 310px;
	padding: 12px 20px 10px;
	clear: left;
	background: url("/images/form_divider.png") no-repeat scroll 0 0 transparent;
}
.member_update .uiFormRow li.field {
	padding: 12px 20px 10px !important;
	width: 610px !important;
	background: url("/images/form_divider.png") no-repeat scroll 0 0 transparent;
}
.uiFormRow li.field {
	float: left;
	padding: 5px 0px 5px 0;
	line-height: 30px;
	width: 380px;
}
.uiFormRow li.fieldname {
	float: left;
	padding: 5px 0;
	line-height: 30px;
	width: 240px;
}
.member_update .uiFormRow.clearfix {
	background: url(/images/form_bg.png) left bottom repeat !important;
	border-top: none;
}
.member_update .box {
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #666;
	margin: 0 0 20px;
	padding: 0 20px 20px;
	position: relative;
	z-index: 1;
}
.uiTabset .uiTabs {
	margin-bottom: 20px;
	padding: 5px 5px 0;
}
.member_update .uiSelectWrapper {
	padding: 6px 9px;
	height: 18px;
	float: left;
	background-color: #EEE;
	border: solid 1px #C9C9C9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 1px 1px 3px #e5e5e5 inset;
	-webkit-box-shadow: 1px 1px 3px #E5E5E5 inset;
	box-shadow: 1px 1px 3px #E5E5E5 inset;
	position: relative;
	behavior: url(/css/PIE.htc);
	z-index: 2;
}
.member_update .uiSelectInner {
	overflow: hidden;
	float: left;
}
.member_update .uiFormRow li.field select {
	width: 275px;
	margin: -1px -2px -1px -1px;
	border: none !important;
}
.member_update .uiSelect {
	-webkit-appearance: none;
	margin: -1px!important;
	padding: 0;
	display: inline-block;
	float: left;
	height: 20px;
	z-index: 2;
	color: black;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size: 14px;
	border: none;
	outline: medium none!important;
	background: url(/images/select_arrow.png) no-repeat center right;
	display: inline-block;
	position: relative;
	font-weight: normal;
	text-align: left;
	text-decoration: none!important;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #A4A4A4;
	behavior: url(/css/PIE.htc);
}
#tabcontent h1 {
	margin: 0px;
}
#counter {
	margin-top: 11px;
	float: right;
	color: white;
}

.edit-secgment {}
.edit-secgment input[type="text"]{ padding: 3px 5px; width: 600px; }
.edit-secgment select { width: 612px; padding: 3px 5px; }

/* team-members*/
tr.border_bottom td{
	border-bottom: solid 1px #e5e5e5;
}

.event_preview_inner {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border-top: 1px solid #D2D9E7;
    padding: 0 10px 10px 0px;
    position: relative;
    width: 600px;
}


.fleft{
	float: left;
}

.facebook_event_preview_header {
    background: url("/images/fb_event_header.png") repeat scroll 0 0 transparent;
    height: 30px;
    width: 622px;
}

.facebook_event_preview {
    background-color: #EDEFF4;
    border: 1px solid #D2D9E7;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 5px;
    position: relative;
    width: 610px;
}

.event_preview{
	width: 600px;
	padding: 10px;
	font-family: Arial;
	font-size: 12px;	
}

.event_preview a{
	text-decoration: none;
	color: #3B5998;
	cursor: pointer;	
}

.event_preview .event_image{
	width: 90px;
	font-family: Arial;
	font-size: 12px;	
}

.event_preview .event_details{
	width: 490px;
	margin-left: 20px;
	color: #333;
}

.event_preview .event_title{
	margin-top: -3px; 
	margin-bottom: 5px;
	color: #2e2e2e;
	font-family: Arial;
}

.event_preview .public_event{
	background: url('../images/globe.png')  left center no-repeat;
	padding-left: 15px;
	margin-bottom: 20px;
	color: grey;
	font-family: Arial;
	font-size: 12px;	
}

.event_preview .schedule{
	border-top: solid 1px #E9E9E9;
	border-bottom: solid 1px #E9E9E9;
	margin-bottom: 10px;
	padding-left: 10px;
	font-family: Arial;
	font-size: 12px;	
}

.event_preview .schedule .date{
	background: url('../images/calendar.png')  left center no-repeat;
	padding: 10px;
	padding-left: 17px;
	border-right: solid 1px #E9E9E9;
	width: 200px;
	margin-right: 15px;
	font-family: Arial;
	font-size: 12px;	
}

.event_preview .schedule .time{
	background: url('../images/clock.png')  left center no-repeat;
	padding: 10px;
	padding-left: 17px;
	width: 210px;
	font-family: Arial;
	font-size: 12px;	
}

.event_preview .list{
	background: url('../images/list.png')  10px 5px no-repeat;
	font-family: Arial;
	font-size: 12px;
	padding-left: 27px;
}
.failed_row
{
	color: #b7b7b7;	
}

.details > p.desc{
	margin-left: 10px;
}

.notification.success,
.notification.failure{
	background-color: #d3f1cf;
	border: 1px solid #a3d49c;
	width: 980px;
	margin: auto auto 15px auto;
	padding: 5px 0px 5px 20px;
	font-size: 12px;
}

.notification.failure{
	background-color: #f4cacb;
	border-color: #9d0b0e;
}


.photos .photoContainer{
	float: left;
	margin-left: 23px;
	width: 106px;
}

.photos .photoContainer .title{
	font-family: Arial;
	font-size: 14px;
	color: #333;
	border-radius: 5px 5px 0px 0px;
	font-weight: bold;
	margin-bottom : 0.6em;
}

.photos .photoContainer .img{
	width: 96px;
	height: 64px;
	padding: 4px;
	margin-bottom: 5px;
	overflow: hidden;
	border: solid 1px #CCC;
	-moz-box-shadow: 0 0 30px #e5e5e5 inset;
	-webkit-box-shadow: 0 0 30px #e5e5e5 inset;
	box-shadow: 0 0 30px #e5e5e5 inset;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
}

.sorting_arrow 
{
    width: 8px;
    height: 8px;
}

.am_off 
{
	float: left;
	width:46px;
	height: 28px;
	background: url(/images/am-pm.png) repeat-x -0px -0px;
}
.am_on
{
	float: left;
	width:46px;
	height:28px;
	background: url(/images/am-pm.png) repeat-x -0px -28px;
}
.pm_off 
{
	float: left;
	width:46px;
	height:28px;
	background: url(/images/am-pm.png) repeat-x -48px -0px;
}
.pm_on 
{
	float: left;
	width:46px;
	height:28px;
	background: url(/images/am-pm.png) repeat-x -48px -28px;
}
.header_message {
    background-color: #2A2A2A;
    border: 2px solid #333333;
    border-radius: 4px 4px 4px 4px;
    color: #E5E5E5;
    display: block;
    font-size: 14px;
    line-height: 36px;
    margin: 17px 0 13px;
    position: relative;
    text-align: center;
}
/*---------------------------------*/
/*	PAYMENT FAILED & ACTIONS POPUP STYLES */
/*---------------------------------*/
.payment_status,
.actions{
	position: relative;
}

.payment_status{
	width: 200px;
}

.actions{
	width: 135px;
}

.payment_status > a{
	color: #0080FF;
	background: url('/images/expand-arrow.png') right center no-repeat;
	padding-right: 12px;
	font-size: 24px;
}



.payment_status .payment_status_popup,
.actions .actions_popup{
	position: absolute;
	display: none;
	z-index: 999;
	background: #f7f7f7;
	margin: 0;
	list-style-position: inside;
	border: 1px solid #000;
	min-width: 180px;
	right: 13px;
	top: 30px;
	font-size: 18px;
	padding: 10px 5px 10px 10px;
}

.actions .actions_popup{
	right: 0;
}

.actions .actions_popup li{
	list-style: none;
}

.payment_status .payment_status_popup a,
.actions .actions_popup a{
	color: #0072b2;
}

.payment_status.on .payment_status_popup,
.actions.on .actions_popup{
	display: block;
}





/* ---------------------------------------




	 HELLO CHETAN... I ADDED THIS...	NAVIGATION




----------------------------------------- */
#navigation {

	bottom: 0px;
}

#navigation ul li a, #navigation li > span {
	float: left;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;

}
#navigation ul li { display: inline;}

#navigation ul li .active {
	background-color: #F2F2F2;
	color: #3F3F3F;
	border: 1px solid #F2F2F2;
}

#navigation li > ul{
    display:none;
    position: absolute;
    left: 0px;
    top: 31px;
}
#navigation li:hover > ul{
    display:block;
}

#navigation li > ul > li{
    position:static;
}
#navigation li > ul > li a:hover{
    background-color: #F9F8E0;
    border: none;
    color: #000;
}
#navigation li > ul > li a{
    background-color: #F9F8E0;
    border: none;
    color: #000;
}

/* ---------------------------------------
		SUBNAVIGATION
----------------------------------------- */
/*************************************************************
#sub_nav {
	background-color: #333;
	overflow: hidden;
	padding: 5px 0;
}
#subnav ul {
	margin: 5px 0;
	height: 20px;
}
#subnav ul li a {
	text-decoration: none;
	color: #999;
	font-size: 10px;
	line-height: 12px;
	float: left;
	padding: 4px 15px;
	text-transform: uppercase;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#subnav ul li 							{ display: inline;}


#subnav_wrap #subnav ul li a:hover 		{ color: #333; text-decoration: underline;}
#subnav ul li .sub_nav_last 			{ border-right-style: none;}
********************************************************/



/* ---------------------------------------
		SUBNAVIGATION
----------------------------------------- */

#interactions_sub_nav {
	background-color: #F2F2F2;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 15px;
	padding-bottom: 15px;

}

#member_sub_nav {
	background-color: #F2F2F2;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 15px;
	padding-bottom: 15px;

}



#subnav ul li a {
	text-decoration: none;
	color: #0072bc;
	font-size: 10px;
	float: left;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
	text-transform: uppercase;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#subnav ul li 							{ display: inline;}

#subnav_wrap #subnav ul li a.active 			{ color: #000; font-weight: bold; text-decoration: underline;}
#subnav_wrap #subnav ul li a:hover 		{ color: #333; text-decoration: underline;}
#subnav ul li .sub_nav_last 			{ border-right-style: none;}

.gray {
	color: #aaa;
}


table.uiDataTable th a:link, table.uiDataTable th a:visited {
	color: #fff;
}

