@charset "UTF-8";
/* CSS Document */

/* Forms */

/* Buttons */

/* STANDARD BUTTON (RED) */
input.uiButton, a.uiButton {
	float: left;
	margin: 0;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	font-family: Tahoma, Geneva, Arial, Verdana, sans-serif; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px;
	outline: medium none!important;
	border: none!important;
	cursor: pointer;
	position: relative;
	color: #ffe5e5;
	text-shadow: -1px -1px 0px #a10000;
	text-align: center;
	background: url(/images/uiButton_bgs.png) repeat-x 0 0;
	z-index: 3;
	zoom: 1;
	behavior: url(/css/PIE.htc);
}
input.uiButton {
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
}
a.uiButton {
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
}
input.uiButton:hover, a.uiButton:hover {
	color: #FFFFFF;
	background-position: 0px -30px;
}

/* ALT/SECONDARY BUTTON (BLUE) */
	input.uiButton.alt, a.uiButton.alt {
		color: #e6ecf3;
		text-shadow: -1px -1px 0px #44617E;
		background: url(/images/uiButton_bgs.png) repeat-x 0px -60px;
	}
	input.uiButton.alt:hover, a.uiButton.alt:hover {
		color: #ffffff;
		background: url(/images/uiButton_bgs.png) repeat-x 0px -90px;
	}

/* CANCEL BUTTON (GRAY) */
	input.uiButton.cancel, a.uiButton.cancel {
		color: #f2f2f2;
		text-shadow: -1px -1px 0px #808080;
		background: url(/images/uiButton_bgs.png) repeat-x 0px -120px;
	}
	input.uiButton.cancel:hover, a.uiButton.cancel:hover {
		color: #ffffff;
		background: url(/images/uiButton_bgs.png) repeat-x 0px -150px;
	}

/* GRAY BUTTON */
	input.uiButton.gray, a.uiButton.gray {
		color: #f2f2f2;
		text-shadow: -1px -1px 0px #666666;
		box-shadow: -1px -1px 0 #666666;
		background: url(/images/uiButton_bgs.png) repeat-x 0px -180px;
	}
	input.uiButton.gray:hover, a.uiButton.gray:hover {
		color: #ffffff;
		background: url(/images/uiButton_bgs.png) repeat-x 0px -210px;
	}

input.uiButton.disabled, a.uiButton.disabled, input.uiButton.disabled:hover, a.uiButton.disabled:hover {
	color: #cccccc;
	text-shadow: 0px 1px 0px #f8f8f8;
	background: url(/images/uiButton_bgs.png) repeat-x 0px -240px;
	cursor: default;
}
input.uiButton.disabled.progress, a.uiButton.disabled.progress, input.uiButton.disabled.progress:hover, a.uiButton.disabled.progress:hover {
	color: #a4a4a4;
	background-image: url(/images/disabled_button_progress_bg.gif)!important;
	background-position: left center;
	-moz-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
	box-shadow: inset 0px -1px 0px #ffffff, inset 0px 1px 0px #ffffff;
}



input.uiButton.right, a.uiButton.right {
	float: right;
}
input.uiButton.caps, a.uiButton.caps {
	text-transform: uppercase;
}

input.uiButton.large {
	font-size: 32px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}
a.uiButton.large {
	font-size: 32px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}
input.uiButton.large, a.uiButton.large {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -270px;
}
input.uiButton.large:hover, a.uiButton.large:hover {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -330px;
}
input.uiButton.large.alt, a.uiButton.large.alt {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -390px;
}
input.uiButton.large.alt:hover, a.uiButton.large.alt:hover {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -450px;
}
input.uiButton.large.cancel, a.uiButton.large.cancel {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -510px;
}
input.uiButton.large.cancel:hover, a.uiButton.large.cancel:hover {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -570px;
}
input.uiButton.large.gray, a.uiButton.gray.cancel {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -630px;
}
input.uiButton.large.gray:hover, a.uiButton.gray.cancel:hover {
	background: url(/images/uiButton_bgs.png) repeat-x 0px -690px;
}

input.uiButton.small {
	font-size: 14px;
	padding: 2px 10px 0;
	height: 24px;
	line-height: 24px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
a.uiButton.small {
	font-size: 16px;
	padding: 3px 10px 0;
	height: 21px;
	line-height: 21px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
input.uiButton.small, a.uiButton.small {
	background: url(/images/button_bgs.png) repeat-x 0px -23px;
}
input.uiButton.small:hover, a.uiButton.small:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -93px;
}
input.uiButton.small.alt, a.uiButton.small.alt {
	background: url(/images/button_bgs.png) repeat-x 0px -163px;
}
input.uiButton.small.alt:hover, a.uiButton.small.alt:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -233px;
}
input.uiButton.small.cancel, a.uiButton.small.cancel {
	background: url(/images/button_bgs.png) repeat-x 0px -303px;
}
input.uiButton.small.cancel:hover, a.uiButton.small.cancel:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -373px;
}
input.uiButton.small.black, a.uiButton.small.black {
	background: url(/images/button_bgs.png) repeat-x 0px -443px;
}
input.uiButton.small.black:hover, a.uiButton.small.black:hover {
	background: url(/images/button_bgs.png) repeat-x 0px -513px;
}


input.uiButton.rightCap, a.uiButton.rightCap {
	float: right;
	margin-left: 0px;
	border-left: none!important;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
input.uiButton.leftCap, a.uiButton.leftCap {
	float: left;
	margin-right: 0px;
	border-right: none!important;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.uiButton.fixed {
	padding-right: 0px;
	padding-left: 0px;
}


/* Firefox Input Reset */
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;
	padding:0;
}

.fieldname {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-indent: 0px;
}
.fieldname.left {
	text-indent: 0px!important;
}
.fieldname.inline {
	line-height: 24px;
	display: block;
}
.uiInput, .uiSearchInput, .uiTextarea {
	outline: medium none!important;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-weight: normal;
	font-size: 14px;
	height: 24px;
	padding: 4px 3px 0;
	float: left;
	background-color: #FFFFFF;
	border: solid 1px #a4a4a4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiSearchInput {
	padding-right: 33px;
}
.uiTextarea {
	line-height: 16px;
	padding: 3px;
}
.uiTextarea.rte {
	border: none;
	padding: 0px;
}
.uiInput:hover, .uiSearchInput:hover, .uiTextarea:hover {
	color: #000;
	background: none repeat scroll 0 0 transparent;
	background-color: #fff;
	border-color: #333333;
}
.uiInput:focus, .uiSearchInput:focus, .uiTextarea:focus {
	color: #000;
	background: none repeat scroll 0 0 transparent;
	background-color: #fff;
	border-color: #6699ff;
	-moz-box-shadow: 0px 0px 10px #99bbff;
	-webkit-box-shadow: 0px 0px 10px #99bbff;
	box-shadow: 0px 0px 10px #99bbff;
}
.uiInput.alt.active, .uiTextarea.alt.active {
	border-color: #ff9966;
}
.uiInput.cancel.active, .uiTextarea.cancel.active {
	border-color: #ccc;
}
.uiSearchInput.nav {
	color: #99ddff;
	background-color: #2996cc;
	border: none;
	line-height: 28px;
	height: 30px;
	background-image: url(/images/search_button.png)!important;
	background-repeat: no-repeat;
	background-position: right top;
	z-index: 1;
}
.uiSearchInput.nav:hover {
	color: #e5f6ff;
	background-color: #2ea8e5;
	background-position: right -30px;
	border: none;
}
.uiSearchInput.nav.active {
	color: #333;
	background-color: #fff;
	background-position: right -60px;
	border: none;
}
.uiInput.error, .uiTextarea.error {
	color: #CC0000;
	background-color: #ffe5e5;
	border: solid 1px #ff6666;
}
.uiInput.leftCap {
	border-right: none;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.uiInput.right {
	float: right;
}
.uiInput.overtext, .uiTextarea.overtext {
	color: #999999;
}
.uiCheckbox, .uiRadio {
	height: 14px;
	width: 14px;
	margin: 8px 0 0 0!important;
	cursor: pointer;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #a4a4a4;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
	float: left;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiRadio {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
}
.uiCheckbox:hover, .uiRadio:hover {
	border: solid 1px #333333;
}
.uiCheckbox.active, .uiRadio.active {
	border-color: #66ccff;
	-moz-box-shadow: 0px 0px 10px #99ddff;
	-webkit-box-shadow: 0px 0px 10px #99ddff;
	box-shadow: 0px 0px 10px #99ddff;
}
.uiCheckbox.error, .uiRadio.error {
	border: solid 1px #ff6666;
}
.uiCheckbox.checked {
	background-image: url(/images/checkbox_bgs.png);
	background-position: 0 0;
}
.uiRadio.checked {
	background-image: url(/images/checkbox_bgs.png);
	background-position: 0 -30px;
}

.uiSelectWrapper {
	padding: 4px 5px;
	border: solid 1px #FFF;
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #a4a4a4;
	position: relative;
	behavior: url(/css/PIE.htc);
	float: left;
}
	.uiSelectWrapper:hover {
		color: #000;
		background-color: #fff;
		border: solid 1px #333333;
	}
	.uiSelectWrapper.active, .uiSelectWrapper.active:hover {
		color: #000;
		background-color: #fff;
		border-color: #66ccff;
		-moz-box-shadow: 0px 0px 10px #99ddff;
		-webkit-box-shadow: 0px 0px 10px #99ddff;
		box-shadow: 0px 0px 10px #99ddff;
	}
.uiSelectInner {
	overflow: hidden;
	float: left;
}
.uiSelect {	
	-webkit-appearance: none;
	margin: -2px;
	padding: 2px 18px 0 0;
	display: inline-block;
	float: left;
	height: 24px;
	z-index: 2;
	color: #000;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size: 14px;
	border: none;
	outline: medium none!important;
	background: #fff url(/images/select_arrow.png) no-repeat center right;
}
.uiSelect:focus {
	color: #000;
	background-color: #fff;
	border-color: #66ccff;
	-moz-box-shadow: 0px 0px 10px #99ddff;
	-webkit-box-shadow: 0px 0px 10px #99ddff;
	box-shadow: 0px 0px 10px #99ddff;
}
.uiSelect.error {
	color: #CC0000;
	background-color: #ffe5e5;
	border: solid 1px #ff6666;
}
.uiSelect.error:focus, .uiSelect.error:focus {
	-moz-box-shadow: 0px 0px 10px #ff9999;
	-webkit-box-shadow: 0px 0px 10px #ff9999;
	box-shadow: 0px 0px 10px #ff9999;
}

.uiMultipleSelect {
	outline: medium none!important;
	font-family: 'Lucida Grande',Tahoma,Arial,sans-serif;
	font-weight: normal;
	font-size: 14px;
	height: 24px;
	padding: 4px 23px 0 3px;
	float: left;
	background-color: #FFFFFF;
	border: solid 1px #a4a4a4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	behavior: url(/css/PIE.htc);
	background: #fff url(/images/multiselect_plus.png) no-repeat center right;
}
.uiMultipleSelect:focus {
	color: #000;
	background: none repeat scroll 0 0 transparent;
	background-color: #fff;
	border-color: #6699ff;
	-moz-box-shadow: 0px 0px 10px #99bbff;
	-webkit-box-shadow: 0px 0px 10px #99bbff;
	box-shadow: 0px 0px 10px #99bbff;
}
.uiMultipleSelectBox {
	border: 1px solid #6699ff;
	height: 200px;
	list-style-type: none;
	font-size: 12px;
	margin: 35px 0 0 0;
	overflow: auto;
	padding: 1px 0;
	background-color: white;
	-moz-user-select: none;
	display: none;
	z-index: 2;
	-moz-box-shadow: 0px 0px 10px #99bbff;
	-webkit-box-shadow: 0px 0px 10px #99bbff;
	box-shadow: 0px 0px 10px #99bbff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	behavior: url(/css/PIE.htc);
}
.uiMultipleSelectBox li {
	list-style-type: none;
	padding: 0 5px;
	margin: 0px;
	line-height: 20px;
	border-top: solid 1px #e5e5e5;
}
.uiMultipleSelectBox li:first-child {
	border-top: none;
}
.uiMultipleSelectBox li.selected {
	background-color: #f2f2f2;
}
.uiMultipleSelectBox li.selecting {
	background-color: #e5eeff;
}

/*-----------hue value=1-----------*/

/* UI Form */
ul.uiForm, 
ul.uiForm li, 
ul.uiForm li ul, 
ul.uiForm li ul li {
	padding: none!important;
	margin: none!important;
	list-style-type: none!important;
}
ul.uiForm {
	margin: auto;
}
.uiForm ul, .uiForm li {
	float: left;
	margin: 0px!important;
}
.uiFormRowHeader {
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	color: #fff;
	width: 600px;
	margin: 0;
	padding: 4px 10px 0;
	background-image: none;
	background-color: #4d4d4d;
	-pie-background: #4d4d4d;
	border-bottom: solid 1px #000;
	text-shadow: -1px -1px 0px #000;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiForm.full .uiFormRowHeader {
	width: 980px;
}
.uiForm.half .uiFormRowHeader {
	width: 470px;
}
.uiFormRowHeader.step {
	float: left;
	font-size: 18px;
	width: 39px!important;
	padding: 4px 0 0;
	text-align: center;
	background-color: #333;
	border-right: dotted 1px #000000;
	-moz-border-radius: 8px 0 0 0;
	-webkit-border-radius: 8px 0 0 0;
	border-radius: 8px 0 0 0;
}
.uiFormRowHeader.stepText {
	float: left;
	width: 559px;
	border-left: solid 1px #666666;
	-moz-border-radius: 0 8px 0 0;
	-webkit-border-radius: 0 8px 0 0;
	border-radius: 0 8px 0 0;
}
.uiForm.full .uiFormRowHeader.stepText {
	width: 939px;
}
.uiForm.half .uiFormRowHeader.stepText {
	width: 429px;
}
.uiForm .uiFormRow {
	width: 620px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #e5e5e5;
	background-color: #f7f7f7;
}
.uiForm.full .uiFormRow {
	width: 1000px;
}
.uiForm.half .uiFormRow {
	width: 490px;
}
.uiForm .uiFormRow.last, .uiForm .uiFormRow:last-child {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	border-bottom: solid 1px #ccc;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiForm .info {
	line-height: 20px;
	width: 600px;
	padding: 10px;
	float: left;
}
.uiForm.full .info {
	width: 1000px;
}
.uiForm.half .info {
	width: 490px;
}
.uiForm .buttons {
	width: 600px;
	padding: 10px;
	float: left;
}
.uiForm.full .buttons {
	width: 980px;
}
.uiForm.half .buttons {
	width: 470px;
}
.uiForm .buttons .uiButton {
	margin-left: 5px;
}
.uiForm .fieldname {
	line-height: 30px;
	width: 200px;
	padding: 5px 0 5px 10px;
	float: left;
}
.uiForm.full .fieldname {
	width: 240px;
}
.uiForm.half .fieldname {
	width: 140px;
}
.uiForm .uiFormRow.active .fieldname {
	color: #000000;
}
.uiForm .field {
	width: 400px;
	padding: 5px 10px 5px 0;
	float: left;
}
.uiForm.full .field {
	width: 740px;
}
.uiForm.half .field {
	width: 330px;
}
.uiRadioLabel, .uiCheckboxLabel, .uiInputLabel {
	float: left;
	margin: 0 20px 0 10px;
	line-height: 30px;
	font-size: 12px;
}
.uiForm .fieldhelp {
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 16px!important;
	display: block!important;
	color: #b38424;
}
.uiFormFooterMessage {
	float: left;
	margin-top: 10px;
	line-height: 30px;
	font-size: 12px;
}
.uiFormFooterMessage strong {
	color: #333;
}

/*---------------------------------*/
/*	DATA TABLES				*/
/*---------------------------------*/

.uiDataTable {
}
.uiDataTable th {
	border-bottom: solid 1px #1a1a1a;
	padding: 5px!important;
	font-size: 11px;
	color: #FFF;
	text-shadow: -1px -1px 0px #4d4d4d;
	text-align: left;
	background-color: #666666;
	background-image: -moz-linear-gradient(top, #808080, #4d4d4d); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #808080),color-stop(1, #4d4d4d)); /* Saf4+, Chrome */
	background: linear-gradient(#808080, #4d4d4d);
	-pie-background: linear-gradient(#808080, #4d4d4d);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiDataTable td {
	padding: 5px 5px!important;
	font-size: 11px;
/* 	line-height: 30px; */
	background-color: #fafafa;
	border-bottom: solid 1px #e5e5e5;
/* 	vertical-align: top!important; */
}
.uiDataTable.lineheight td{
        line-height: 30px;
}
.uiDataTable.user_details td{
	line-height: 10px;
	vertical-align: middle !important;
}
.uiDataTable tr.odd td {
	background-color: #f5f5f5;
}
.uiDataTable td.disabled {
	background-color: #fff2f2;
	border-bottom: solid 1px #ebd8d8;
}
.uiDataTable tr:hover td {
	background: none;
}
.uiDataTable tr:hover {
	/* background-color: #e5eeff; */
	background-color: #ededed;
	color: #000;
}
.uiDataTable tr.disabled:hover {
	background-color: #ffe5e5;
}
.uiDataTable td p {
	margin: 10px 0 5px;
}

.uiDataTable td p:first-child {
	margin: 5px 0;
}
.uiDataTable tr.selected, .uiDataTable tr.selected td, .uiDataTable tr.selected td {
	background-color: #e5ffe5;
}
.uiDataTable tr.selected td:first-child {
	background: #e5ffe5 url(/images/row_selected.png) left top no-repeat;
}
.uiDataTable.selectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

/*---------------------------------*/
/*	TAB SETS					*/
/*---------------------------------*/

.uiTabs {
	height: 35px;
	padding: 5px 5px 0;
	border-bottom: solid 1px #cccccc;
	background-color: #F2F2F2;
	background-image: -moz-linear-gradient(top, #FFFFFF, #e5e5e5); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #e5e5e5)); /* Saf4+, Chrome */
	background: linear-gradient(#FFFFFF, #e5e5e5);
	-pie-background: linear-gradient(#FFFFFF, #e5e5e5);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiTabContentHeader *:first-child {
	margin-top: 0px;
}
.uiTabContentHeader *:last-child {
	margin-bottom: 0px;
}

.uiTabs a {
	float: left;
	margin: 5px 0 0 0;
	padding: 0 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	color: #666666;
	text-shadow: 1px 1px 0px #e5e5e5;
	border-top: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(top, #f2f2f2, #cccccc); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #cccccc)); /* Saf4+, Chrome */
	background: linear-gradient(#f2f2f2, #cccccc);
	-pie-background: linear-gradient(#f2f2f2, #cccccc);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiTabs a:first-child {
	border-left: solid 1px #cccccc;
}
.uiTabs a.active {
	margin: 0 0 -1px 0;
	padding: 4px 10px 1px;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	color: #000000;
	text-shadow: none;
	border: solid 1px #ccc;
	border-bottom: none;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #ffffff)); /* Saf4+, Chrome */
	background: linear-gradient(#f2f2f2, #ffffff);
	-pie-background: linear-gradient(#f2f2f2, #ffffff);
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

/*---------------------------------*/
/*	DATA FILTERING				*/
/*---------------------------------*/

.uiDataFilters {
	border: solid 1px #e5e5e5;
	background-color: #f8f8f8;
	padding: 19px;
	margin: 0;
}
.uiDataFiltersHeader {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff;
	text-shadow: -1px -1px 0px #4d4d4d;
	border: solid 1px #4d4d4d;
	padding: 0 19px;
	margin: 20px 0 0;
	background-color: #666666;
	background-image: -moz-linear-gradient(top, #808080, #4d4d4d); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #808080),color-stop(1, #4d4d4d)); /* Saf4+, Chrome */
	background: linear-gradient(#808080, #4d4d4d);
	-pie-background: linear-gradient(#808080, #4d4d4d);
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiDataFiltersOpener {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background-image: url(/images/filter_opener.png);
	background-position: 0 0;
	cursor: pointer;
}
.uiDataFiltersOpener.opened {
	background-position: 0 -30px;
}
.uiDataFiltersForm {
	float: left;
	width: 760px;
	padding: 0 19px 0 0;
	border-right: solid 1px #e5e5e5;
}
.uiDataFiltersButtons {
	float: left;
	width: 160px;
	padding: 5px 0 0 19px;
	border-left: solid 1px #FFFFFF;
}
.uiDataFiltersForm td {
	padding: 5px 5px!important;
	font-size: 11px;
	line-height: 30px;
	border-top: solid 1px #e5e5e5;
}
.uiDataFiltersForm tr:first-child td {
	border: none;
}
.uiDataFiltersForm .fieldname {
	font-size: 12px;
	font-weight: bold;
}

/*---------------------------------*/
/*	PROGRESS BAR				*/
/*---------------------------------*/

.uiProgressWrapper {
	margin: 0 auto 20px;
	padding: 5px;
	height: 40px;
	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(top, #cccccc, #fcfcfc); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #cccccc),color-stop(1, #fcfcfc)); /* Saf4+, Chrome */
	background: linear-gradient(#cccccc, #fcfcfc);
	-pie-background: linear-gradient(#cccccc, #fcfcfc);
	-moz-box-shadow: 0px -1px 0px #e5e5e5 inset;
	-webkit-box-shadow: 0px -1px 0px #e5e5e5 inset;
	box-shadow: 0px -1px 0px #e5e5e5 inset;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiProgressBar {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	font-weight: bold;
	text-align: center;
	position: relative;
	behavior: url(/css/PIE.htc);
}
.uiProgressBar.current {
	font-size: 18px;
	color: #ffffff;
	text-shadow: -1px -1px 0 #004d00;
	background-color: #006600; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #008000, #004d00); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #008000),color-stop(1, #004d00)); /* Saf4+, Chrome */
	background: linear-gradient(#008000, #004d00);
	-pie-background: linear-gradient(#008000, #004d00); /*PIE*/
}
.uiProgressBar.complete {
	font-size: 13px;
	color: #999;
	text-shadow: 1px 1px 0 #e5e5e5;
	background-color: #ccc; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #b3b3b3, #e5e5e5); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b3b3b3),color-stop(1, #e5e5e5)); /* Saf4+, Chrome */
	background: linear-gradient(#b3b3b3, #e5e5e5);
	-pie-background: linear-gradient(#b3b3b3, #e5e5e5); /*PIE*/
}
.uiProgressBar.incomplete {
	font-size: 13px;
	color: #999;
	text-shadow: 1px 1px 0 #e5e5e5;
	background-color: #ccc; /* FF3.5 */
	background-image: -moz-linear-gradient(top, #b3b3b3, #e5e5e5); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b3b3b3),color-stop(1, #e5e5e5)); /* Saf4+, Chrome */
	background: linear-gradient(#b3b3b3, #e5e5e5);
	-pie-background: linear-gradient(#b3b3b3, #e5e5e5); /*PIE*/
}


